{% extends 'base.html.twig' %}

{% block body %}
    <h1>AbgFacturacion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechapago</th>
                <th>Monto</th>
                <th>Servicio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abgFacturacion in abgFacturacions %}
            <tr>
                <td><a href="{{ path('abgfacturacion_show', { 'id': abgFacturacion.id }) }}">{{ abgFacturacion.id }}</a></td>
                <td>{% if abgFacturacion.fechaPago %}{{ abgFacturacion.fechaPago|date('Y-m-d') }}{% endif %}</td>
                <td>{{ abgFacturacion.monto }}</td>
                <td>{{ abgFacturacion.servicio }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('abgfacturacion_show', { 'id': abgFacturacion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('abgfacturacion_edit', { 'id': abgFacturacion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('abgfacturacion_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
