<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Membresia| Directorio de Abogados de El Salvador | Primero y unico directorio de abogados de El Salvador | Abogados.com.sv</title>
        <meta name="robots" content="noindex">

        <!-- Stylesheet de Bootstrap -->
        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/movilcss.css')}}" rel="stylesheet">

        <!-- Stylesheet Personales -->
        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!-- Favicon (Icono Pequeño) -->
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <link rel="icon" href="favicon.png" type="image/x-icon">


        <style type="text/css">
            table { table-layout: fixed; }
            td { width: 33%; }
            .shadow {
                -moz-box-shadow:    3px 3px 5px 6px #ccc;
                -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                box-shadow:         3px 3px 5px 6px #ccc;

            }
            .crop{
                float:left;
                margin:.5em 10px .5em 0;
                overflow:hidden; /* this is important */
                position:relative; /* this is important too */
                border:1px solid #ccc;
                width:150px;
                height:90px;
            }
            /* position the image using negative top and left values */
            .crop img{
                position:absolute;
                top:-20px;
                left:-55px;
            }
            .check-select{
                padding:1px;
                border:1px solid #00b300;
                background-color:#f2f2f2;

            }

            img.check {
                background-image: url("{{ asset('Photos/defecto/check.png') }}");
                width: 25px; height: 25px;
            }
            img.check {
                background-image: url("{{ asset('Photos/defecto/check.png') }}");
                width: 25px; height: 25px;
            }
            #content {
                position: relative;
            }
            #content img {
                position: absolute;
                top: 0px;
                right: 0px;
            }
            .ribbon {
                position: relative;
                width: 30px;
                top: -16px;
                right: -706px;
                background-image: url("{{ asset('Photos/defecto/check.png') }}");
            }
        </style>

    </head>
    <body>

        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{asset('Resources/src/img/logogris.png')}}" style="width: 250px;">		
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <hr>
            <p class="text-center">

            </p>
            <div class="row">
                <div class="col-md-6">
                    <div style="border: 1px solid #c3c3c3; background-color: #fbfbfb; border-radius: 3px; padding: 15px; margin-bottom:35px;">
                        <p class="text-left" style="margin-bottom: 0px; font-family: 'Montserrat', sans-serif; font-size: 17px;">1. Seleccione tu plan</p>
                        <div style="background-color: #fff; margin-top: 10px;">
                            <input type="hidden" id="hmetodo" name="hmetodo" >
                            <table style="width:100%; border: 1px solid #c3c3c3; border-radius: 3px;">
                                <tr style="border: 1px solid #c3c3c3; border-radius: 3px;">
                                    <th class="text-center" style="padding: 10px; font-size: 13px; border: 1px solid #c3c3c3; font-weight: 600; font-family: 'Montserrat', sans-serif;">Mensual</th>
                                    <th class="text-center" style="padding: 10px; font-size: 13px; border: 1px solid #c3c3c3; font-weight: 600; font-family: 'Montserrat', sans-serif;">Trimestral</th>
                                    <th class="text-center" style="padding: 10px; font-size: 13px; border: 1px solid #c3c3c3; font-weight: 600; font-family: 'Montserrat', sans-serif;">Semestral</th>
                                    <th class="text-center" style="padding: 10px; font-size: 13px; border: 1px solid #c3c3c3; font-weight: 600; font-family: 'Montserrat', sans-serif;">Anual</th>
                                </tr>
                                <tr>
                                    <td style="padding: 10px; border: 1px solid #c3c3c3; font-size: 13px;" class="sans">
                                        <div class="row">
                                            <div class="col-xs-2" style="padding-left: 15px; padding-right: 8px;">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" style="height: 7px;" value="1" class="plan">
                                            </div>

                                            <div class="col-xs-10" style="padding-left: 8px; padding-right: 8px;">
                                                <span style="font-size: 12px;" class="sans radios0 plan">$9.99 / por mes</span></br>
                                                <span style="font-size: 12px;" class="sans radios0 plan">Cobro mensual</span>
                                            </div>

                                        </div>
                                    </td>
                                    <td style="padding: 10px; border: 1px solid #c3c3c3; font-size: 13px;" class="sans">
                                        <div class="row">
                                            <div class="col-xs-2" style="padding-left: 15px; padding-right: 8px;">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" style="height: 7px;" value="2" class="plan" >
                                            </div>
                                            <div class="col-xs-10" style="padding-left: 8px; padding-right: 8px;">
                                                <span style="font-size: 12px;" class="sans radios1 plan">$9.33 / por mes</span></br>
                                                <span style="font-size: 12px;" class="sans radios1 plan">Total por $27.99</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding: 10px; border: 1px solid #c3c3c3; font-size: 13px;" class="sans">
                                        <div class="row">
                                            <div class="col-xs-2" style="padding-left: 15px; padding-right: 8px;">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" style="height: 7px;" value="3" class="plan" >
                                            </div>
                                            <div class="col-xs-10" style="padding-left: 8px; padding-right: 8px;">
                                                <span style="font-size: 12px;" class="sans radios2 plan">$9.16 / por mes</span></br>
                                                <span style="font-size: 12px;" class="sans radios2 plan">Total por $54.96</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="padding: 10px; border: 1px solid #c3c3c3; font-size: 13px;" class="sans">
                                        <div class="row">
                                            <div class="col-xs-2" style="padding-left: 15px; padding-right: 8px;">
                                                <input type="radio" name="optionsRadios" id="optionsRadios1" style="height: 7px;" value="4" class="plan" >
                                            </div>
                                            <div class="col-xs-10" style="padding-left: 8px; padding-right: 8px;">
                                                <span style="font-size: 12px;" class="sans radios3 plan">$8.33 / por mes</span></br>
                                                <span style="font-size: 12px;" class="sans radios3 plan">Total por $99.99</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table> 
                        </div>
                        <!-- Fin -->
                        <p class="text-left" style="margin-bottom: 0px; margin-top: 15px; font-family: 'Montserrat', sans-serif; font-size: 17px;">2. Metodo de pago</p>

                        <div class="row">
                            {%for datos in tipoPago %}
                                <div class="col-xs-4" style=" margin-bottom:1px; padding: 2px;">
                                    <div >
                                        {%if (datos.id==1)%}
                                            <img src="{{ asset('Resources/src/img/metodoPago/bac.png') }}" class="img_nocheck aaa" id="{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display:block;">
                                            <img src="{{ asset('Resources/src/img/metodoPago/bac.2.png') }}" class="img_check bbb" id="mt{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display: none;">

                                        {%elseif(datos.id==2)%}
                                            <img src="{{ asset('Resources/src/img/metodoPago/tigo.png') }}" class="img_nocheck aaa" id="{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display:block;">
                                            <img src="{{ asset('Resources/src/img/metodoPago/tigo.2.png') }}" class="img_check bbb" id="mt{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display: none;">

                                        {%elseif(datos.id==3)%}
                                            <img src="{{ asset('Resources/src/img/metodoPago/paga.png') }}" class="img_nocheck aaa" id="{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display:block;">
                                            <img src="{{ asset('Resources/src/img/metodoPago/paga.2.png') }}" class="img_check bbb" id="mt{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display: none;">

                                        {%elseif(datos.id==4)%}
                                            <img src="{{ asset('Resources/src/img/metodoPago/paypal.png') }}" class="img_nocheck aaa" id="{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display:block;">
                                            <img src="{{ asset('Resources/src/img/metodoPago/paypal.2.png') }}" class="img_check bbb" id="mt{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display: none;">

                                        {%elseif(datos.id==6)%}
                                            <img src="{{ asset('Resources/src/img/metodoPago/cp.png') }}" class="img_nocheck aaa" id="{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display:block;">
                                            <img src="{{ asset('Resources/src/img/metodoPago/cp.2.png') }}" class="img_check bbb" id="mt{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display: none;">

                                        {%elseif(datos.id==7)%}
                                            <img src="{{ asset('Resources/src/img/metodoPago/domicilio.png') }}" class="img_nocheck aaa" id="{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display:block;">

                                            <img src="{{ asset('Resources/src/img/metodoPago/domicilio.2.png') }}" class="img_check bbb" id="mt{{datos.id}}" style="width: 100%; max-width: 100%; padding: 5px;display: none;">

                                        {%endif%}                                   
                                    </div>
                                </div>
                                {% if loop.index is divisibleby(3) %}
                                    <div class="clearfix"></div>
                                {% endif %} 
                            {%endfor%}
                        </div>
                        <!-- Fin -->
                        <p class="text-left" style="margin-bottom: 0px; margin-top: 15px; font-family: 'Montserrat', sans-serif; font-size: 17px;">3. Instrucciones de pago</p>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-xs-12">
                                <div>
                                    <div id="depositoBa" style=" display: none;">
                                        <p class="text-left" style="margin-bottom: 10px; margin-top: 0px; font-family: 'Montserrat', sans-serif; font-size: 13px;">Cuenta de Banco Agricola</p>
                                        <ul style="list-style: none; padding-left: 10px;">
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Visite la sucursal de Banco Agricola más cercana o mediante los medios electrónicos que el banco pone a su disposición.</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Si el depósito se hará en físico en una sucursal, muestre su Documento Único de Identidad (DUI)</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Llene el formulario que se le dará en caja para poder realizar el transmite.</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Haga el deposito del monto del plan que ha escogido a la cuenta #34-30-46-94-93.</li>

                                        </ul>
                                    </div>
                                    <div id="depositoTg" style=" display: none;">
                                        <p class="text-left" style="margin-bottom: 10px; margin-top: 0px; font-family: 'Montserrat', sans-serif; font-size: 13px;"> Tigo Money</p>
                                        <ul style="list-style: none; padding-left: 10px;">
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Visita a al agente Tigo Money autorizado más cercano.</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Completa el formulario que se le entregara con la información solicitada.</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Muestra tu Documento Único de Identidad (DUI).</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Entregue el efectivo que quiera depositar más el costo de envío. ($0.50 por cada $10.00 enviados).</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Espere la confirmación del cliente.</li>

                                        </ul>
                                    </div>

                                    <div id="depositoPp" style=" display: none;">
                                        <p class="text-left" style="margin-bottom: 10px; margin-top: 0px; font-family: 'Montserrat', sans-serif; font-size: 13px;">PayPal</p>
                                        <ul style="list-style: none; padding-left: 10px;">
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Si no tiene una cuenta, crea y verifica una entrando al sitio www.paypal.com</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Si ya tiene una cuenta haga clic en el botón de Paypal.</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Inicie sesión en su cuenta ingresando su usuario y contraseña y eliga la forma de pago que mas le convenga. (Cuenta bancaria o tarjeta de credito)</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Haga efectivo el pago.</li>
                                            <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Una vez registrado, no se mostrarán números de tarjetas ni informacion financiera con los comerciantes.</li>

                                        </ul>
                                    </div>


                                    <div></div>
                                </div>
                            </div>

                        </div>
                        <div class="row" >
                            <div class="col-xs-12 col-sm-12  ">
                                <div class="col-xs-6 col-sm-6  " id="btnPerfil">
                                    <a class=" btn btn-sm btn-primary" style=" margin-top: 25px;width: 200px;"  id="btnPerfil" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando">Perfil</a> 
                                </div>
                                <div class="col-xs-6 col-sm-6 " id="divEnviar">
                                    {# <a class=" btn btn-sm btn-primary" style=" margin-top: 25px; width: 200px;"  data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando">Pagar</a> #}
                                </div>

                            </div>
                        </div>
                        <div id="div-pagadito" style=" display: none;">
                          {#  <a class=" btn btn-sm btn-primary btn-flat" style=" margin-top: 25px;" id="btnPagadito" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando"> Pagadito</a> #}
                        </div>

                        {#  <div id="div-paypal" style=" display: none;">
                              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                  <input type="hidden" name="cmd" value="_s-xclick">
                                  <input type="hidden" name="hosted_button_id" value="SNVE7ZXRZXDXL">
                                  <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                  <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                              </form>
                          </div>#}
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-left" style="margin-bottom: 20px; margin-top: 15px; font-family: 'Montserrat', sans-serif; font-size: 17px;">Beneficios de la plataforma</p>
                    <ul style="list-style: none; padding-left: 10px;">
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Perfil Profesional para mayor exposicion</li>
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Plataforma lider en centroamerica</li>
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Obtenga clientes desde USA</li>

                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Búsqueda de abogados por nombre y/o apellido</li>
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Búsqueda de firmas/bufetes por nombre</li>
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Verificación de abogados con insignia en perfil para más credibilidad</li>
                        
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Centro de preguntas anónimas para generar posibles clientes</li>
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> URL de perfil personalizado (Ej. www.abogados.com.sv/minombrepersonal)</li>
                  
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Adaptación de dispositivos móviles, tabletas y computadoras personales</li>
                        <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Código QR personal</li>
                         <li style="margin-bottom: 10px;"><span class="glyphicon glyphicon-ok" style="color: #009900;" aria-hidden="true"></span> Generador de CV profesional</li>
                    </ul>

                </div>
            </div>
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{asset('Resources/src/js/bootstrap.js')}}"></script>
        <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
        <script type="text/javascript">
            $('input#hmetodo').val("");

            $(function () {

                $('[data-toggle="tooltip"]').tooltip()
            })
            
            $(document).on('click', '.radios0', function () {
                 
                    
                $('input:radio[name=optionsRadios]')[0].checked = true;
          
            });
            $(document).on('click', '.radios1', function () {
                $('input:radio[name=optionsRadios]')[1].checked = true;

            });
            $(document).on('click', '.radios2', function () {
                $('input:radio[name=optionsRadios]')[2].checked = true;
              
            });
            $(document).on('click', '.radios3', function () {
                $('input:radio[name=optionsRadios]')[3].checked = true;
                
            });
            
              
                $(document).on('click', '.plan', function () {
                if($('input#hmetodo').val() == 4){
                      switch ($('input:radio[name=optionsRadios]:checked').val()) {
                            case '1':
                                var paypal1 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal1 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal1 += '<input type="hidden" name="hosted_button_id" value="ZNRX35U2PLTF6">';
                                paypal1 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal1 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal1 += '</form>';

                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal1);

                                $("#div-paypal").css('display', 'none');
                                //    $("#div-pagadito").css('display', 'block');
                                break;
                            case '2':
                                var paypal2 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal2 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal2 += '<input type="hidden" name="hosted_button_id" value="V35PRUD6R7F2A">';
                                paypal2 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal2 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal2 += '</form>';
                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal2);


                                break;
                            case '3':
                                var paypal3 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal3 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal3 += '<input type="hidden" name="hosted_button_id" value="U2Q4GR9HB3VK4">';
                                paypal3 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal3 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal3 += '</form>';
                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal3);
                                break;
                            case '4':

                                var paypal4 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal4 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal4 += '<input type="hidden" name="hosted_button_id" value="W67KEKZA6VZFG">';
                                paypal4 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal4 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal4 += '</form>';
                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal4);
                                break;
                        }
                   
                }
                //alert($('input:radio[name=optionsRadios]:checked').val());
                });


            $(document).on('click', '.img_nocheck', function () {
                var id = $(this).attr('id');
                var mensaje = '<a class="btn btn-sm btn-primary" style="margin-top: 25px; width: 200px;" id="btnEnviar" data-loading-text="Enviando...">Pagar</a>';

                $('input#hmetodo').val(id);
                console.log(id);
             
if($('input:radio[name=optionsRadios]:checked').val()!==undefined){
                switch ($(this).attr('id')) {
                    case '1':
                      
                        $("#divEnviar").empty();
                        $("#divEnviar").append(mensaje);
                        $("#div-paypal").css('display', 'none');
                        $("#div-pagadito").css('display', 'none');
                        $("#depositoBa").css('display', 'block');
                        $("#depositoTg").css('display', 'none');
                          $("#depositoPp").css('display', 'none');
                        break;
                    case '2':
                        $("#divEnviar").empty();
                        $("#divEnviar").append(mensaje);
                        $("#div-paypal").css('display', 'none');
                        $("#div-pagadito").css('display', 'none');
                        $("#depositoBa").css('display', 'none');
                        $("#depositoTg").css('display', 'block');
                        
                          
                        $("#depositoPp").css('display', 'none');
                        break;
                    case '6':
                    case '7':
                        $("#divEnviar").empty();
                        $("#divEnviar").append(mensaje);
                        $("#div-paypal").css('display', 'none');
                        $("#div-pagadito").css('display', 'none');

                        break;
                    case '3':


                        $("#divEnviar").empty();
                        $("#divEnviar").append(paypal1);
                        $("#btnEnviar").css('display', 'none');
                        $("#div-paypal").css('display', 'none');
                        $("#div-pagadito").css('display', 'block');

                        break;
                    case '4':
                        switch ($('input:radio[name=optionsRadios]:checked').val()) {
                            case '1':
                                var paypal1 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal1 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal1 += '<input type="hidden" name="hosted_button_id" value="ZNRX35U2PLTF6">';
                                paypal1 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal1 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal1 += '</form>';

                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal1);

                                $("#div-paypal").css('display', 'none');
                                //    $("#div-pagadito").css('display', 'block');
                                break;
                            case '2':
                                var paypal2 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal2 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal2 += '<input type="hidden" name="hosted_button_id" value="V35PRUD6R7F2A">';
                                paypal2 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal2 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal2 += '</form>';
                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal2);


                                break;
                            case '3':
                                var paypal3 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal3 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal3 += '<input type="hidden" name="hosted_button_id" value="U2Q4GR9HB3VK4">';
                                paypal3 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal3 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal3 += '</form>';
                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal3);
                                break;
                            case '4':

                                var paypal4 = '<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">';
                                paypal4 += '<input type="hidden" name="cmd" value="_s-xclick">';
                                paypal4 += '<input type="hidden" name="hosted_button_id" value="W67KEKZA6VZFG">';
                                paypal4 += '<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">';
                                paypal4 += '<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">';
                                paypal4 += '</form>';
                                $("#divEnviar").empty();
                                $("#divEnviar").append(paypal4);
                                break;
                        }
                        $("#depositoBa").css('display', 'none');
                        $("#depositoTg").css('display', 'none');
                        $("#depositoPp").css('display', 'block');
                        break;
                }
                $(".bbb").css('display', 'none');
                $(".aaa").css('display', 'block');
                $(this).css('display', 'none');
                $("#mt" + id).css('display', 'block');
            }
            else
            {
                 Lobibox.notify("warning", {
                        size: 'mini',
                        msg: 'Seleccione un plan.'});
            }
            });

            $(document).on('click', '#btnPagadito', function () {

                if ($('input:radio[name=optionsRadios]:checked').val() != undefined)
                {
                    $("#btnPagadito").button('loading');
                    $("#btnPagadito").prop("disabled", true);
                    var url = Routing.generate('cobro', {id: $('input:radio[name=optionsRadios]:checked').val()});
                    window.open(url, "_self");
                } else
                {
                    Lobibox.notify("warning", {
                        size: 'mini',
                        msg: 'Seleccione un plan de pago.'});
                }
            });

            $(document).on('click', '#btnEnviar', function () {
                
                $("#btnEnviar").button('loading');
                $("#btnEnviar").prop("disabled", true);
                //   $('input#hplan').val(1);
                // alert($('input#hmetodo').val());

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: Routing.generate('metodo_pago'),
                    data: {hplan: $('input:radio[name=optionsRadios]:checked').val(), rMetodo: $('input#hmetodo').val()},
                    success: function (data) {

                        if (data.estado == true) {

                            Lobibox.notify("success", {
                                size: 'mini',
                                msg: '<p>Su solicitud de verificación se ha enviado.</p>'});
                            var url = Routing.generate('perfil');
                            window.open(url, "_self");
                        } else {
                            Lobibox.notify("error", {
                                size: 'mini',
                                msg: 'Lo sentimos, ocurrio un error, intentelo mas tarde.'});
                        }
                        //     $("#enviarImagenV").prop("disabled", false);
                        //    $("#enviarImagenV").button('reset');
                    }
                });

            });
            $(document).on('click', '#btnPerfil', function () {
                var url = Routing.generate('perfil');
                window.open(url, "_self");
            });
        </script>


    </body>
</html>
