<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directorio de Abogados de El Salvador | Primero y unico directorio de abogados de El Salvador | Abogados.com.sv</title>
        <meta name="robots" content="noindex">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <!-- fosjsrouting -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


        <!-- Stylesheet Personales -->
        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">

        <!-- bootstrap -->
        <script src="{{ asset('Resources/src/js/jquery-2.0.3.min.js')}}"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css')}}">
        <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">

        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
        <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>

        <link href="{{asset('Resources/jquery-validation-1.15.0/demo/css/screen.css')}}" rel="stylesheet">
        <script src="{{ asset('Resources/jquery-validation-1.15.0/dist/jquery.validate.js')}}"></script>

        <script type = "text/javascript" >
            $(document).ready(function () {
                $("#fgeneral").validate({
                });
            });
        </script>  


    </head>
    <body>
        <div class="container" >

            <div class="row" >
                <!-- LADO IZQUIERDO -->
                <div class="col-md-9 col-sm-9 col-xs-12 " style="">
                    <row>
                        <p class="sans text-uppercase" style="font-size: 30px; margin-top: 16px; font-weight: 600; margin-bottom: 0px;">
                            Elije tu plan</p>

                        <p class="sans text-uppercase" style="font-size: 20px; margin-top: 16px;  margin-bottom: 20px;">Elije el plan que mejor...</p>
                        <div id="divPlan" >
                            <input type="hidden" id="hcodigo"  value=" ">

                            <div class="form-column col-sm-4 col-md-4" >
                                <div class="box box-widget " style="border: 1px solid #aeb3b9;">
                                    <div class="box-header with-border" style=" background: #aeb3b9;">
                                        <h3 class="box-title" style=" margin-left: 5px; color: #FFF; font-size: 25px;">Trial <strong style="color: #4444444; font-size:28px; margin-left: 10px;">$00.00</strong> </h3>
                                    </div>
                                    <div class="box-body" >

                                        <ul class="products-list product-list-in-box">

                                            <li class="item">
                                                Perfil publico
                                            </li>

                                            <li class="item">
                                                Recibir preguntas en tu correo
                                            <li class="item">
                                                Recibir Llamadas
                                            </li>

                                            <li class="item">
                                                Perfil publico
                                            </li>

                                            <li class="item">
                                                Recibir preguntas en tu correo
                                            <li class="item">
                                                Recibir Llamadas
                                            </li>
                                            <li class="item">
                                                <a  id="btnTrial" class="btn btn-default btn-sm" style="background: #aeb3b9; color: #FFF;" href="#"><strong>Quiero este plan</strong></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <div class="form-column col-sm-4 col-md-4">

                                <div class="box box-widget" style="border: 1px solid  #4cae4c;">
                                    <div class="box-header with-border" style="background:  #4cae4c;">
                                        <h3 class="box-title" style=" margin-left: 10px;color: #FFF; font-size: 25px;">30 dias <strong style="color: #4444444; font-size:28px; margin-left: 10px;">$9.99</strong></h3>
                                    </div>
                                    <div class="box-body" >
                                        <ul class="products-list product-list-in-box">


                                            <li class="item">
                                                Perfil publico
                                            </li>

                                            <li class="item">
                                                Recibir preguntas en tu correo
                                            <li class="item">
                                                Recibir Llamadas
                                            </li>

                                            <li class="item">
                                                Perfil publico
                                            </li>

                                            <li class="item">
                                                Recibir preguntas en tu correo
                                            <li class="item">
                                                Recibir Llamadas
                                            </li>
                                            <li class="item">
                                                <a id="btnplan1" class="btn btn-success btn-sm" style="text-decoration: none;" href="#"><strong>Quiero este plan</strong></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="form-column col-sm-4 col-md-4">
                                <div class="box box-widget" style="border: 1px solid #eea236;">
                                    <div class="box-header with-border" style=" background: #eea236;">
                                        <h3 class="box-title" style=" margin-left: 10px;color: #FFF; font-size: 25px;">180 dias <strong style="color: #4444444; font-size:28px; margin-left: 10px;">$54.14</strong></h3>
                                    </div>
                                    <div class="box-body" >
                                        <ul class="products-list product-list-in-box">
                                            <li class="item">
                                                Perfil publico
                                            </li>
                                            <li class="item">
                                                Recibir preguntas en tu correo
                                            <li class="item">
                                                Recibir Llamadas
                                            </li>
                                            <li class="item">
                                                Perfil publico
                                            </li>
                                            <li class="item">
                                                Recibir preguntas en tu correo
                                            <li class="item">
                                                Recibir Llamadas
                                            </li>
                                            <li class="item">
                                                <a  id="btnplan2" class="btn btn-warning btn-sm" style="text-decoration: none;" href="#"><strong>Quiero este plan</strong></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divMetodo" style=" display: none;" >
                            <p class="sans text-uppercase" style="font-size: 20px; margin-top: 16px;  margin-bottom: 20px;">Metodo de pago</p>
                            <div class="form-column col-sm-6 col-md-6">
                                <div class="box box-widget" >
                                    <div class="box-header with-border" s>

                                    </div>
                                    <div class="box-body" >
                                        <div class="helper-section-wrapper--payment"><div class="help-section"><h1 class="header">¿Le cobrarán inmediatamente a mi tarjeta de crédito?</h1><span>No te preocupes, no te cobraremos nada en este momento. Solamente te cobraremos si no cancelas la prueba antes de que caduque el 7 de agosto de 2016.</span></div><div class="help-section"><h1 class="header">¿Puedo cancelar la prueba en cualquier momento?</h1><span>¡Así es! Puedes cancelarla en cualquier momento. Es una prueba gratuita sin obligación de compra.</span></div><div class="help-section"><h1 class="header">¿Puedo cambiar el método de pago más adelante?</h1><span>¡Así es! Puedes cambiar el método de pago en cualquier momento.</span></div><div class="help-section"><span class="tax-disclaimer">Los precios no incluyen los impuestos aplicables ni el IVA.</span></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-column col-sm-6 col-md-6">
                                <div class="box box-widget" style="border: 1px solid #e0e0e0;">
                                    <div class="box-header with-border" s>
                                        <h3 class="box-title" style=" margin-left: 10px;font-size: 25px;">Selecciona un metodod e pago</h3>
                                    </div>
                                    <div class="box-body" >
                                         <form id="frmVerificacion" role="form" enctype="multipart/form-data">
                                             <input type="hidden" id="hplan"  >
                                        <ul class="products-list product-list-in-box">
                                            <li class="item">
                                                <input type="radio"  name="rMetodo"  value="1" class="rMetodo"  id="metodo_agr" required/>  <img src="{{ asset('Resources/src/img/metodoPago/agricola.png') }}" style="width: 40%; height:40%; margin-top: -20px; padding: 5px;" alt="Banco Agicola">
                                                <div id="divComprobante1" role="form" enctype="multipart/form-data" style=" display:none;">

                                                    <img src="" style="max-height: 100%;max-width: 100%;" id="prevVerificacion" >
                                                    <input type="file" name="imagen"  id="imagenV" >

                                                </div>
                                            </li>
                                            <li class="item">
                                                <input type="radio"  name="rMetodo"  value="2" class="rMetodo"  id="metodo_tigo" required/><img src="{{ asset('Resources/src/img/metodoPago/tigo.png') }}" style="width:60%; height:60%;" alt="Tigomoney">
                                            <li class="item">
                                                <input type="radio"  name="rMetodo"  value="3" class="rMetodo"  id="metodo_pagadito" required/> <label for="Femenino">Pagadito</label>  

                                            </li>
                                            <li class="item">

                                                <input type="radio"  name="rMetodo"  value="4" class="rMetodo"  id="metodo_pp" required/> <label for="Femenino">Pay pal</label>  

                                            </li>

                                            <li class="item">
                                                <a  id="btnRegresarBasico" class="btn btn-primary btn-sm" style="text-decoration: none;" href="#">Regresar</a>
                                                <a  id="btnEnviar" class="btn btn-primary btn-sm" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Enviando">Continuar</a>

                                            </li>
                                        </ul>
                                         </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12" style=" margin-top: 10px;">
                                    <button type="submit" class="btn btn-primary btn-sm btn-flat" id="enviar">Continuar</button>
                                    <button type="button" class="btn btn-default btn-sm btn-flat" id="btnCerrar">Cerrar sesión</button>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>




        <script src="{{ asset('Resources/select2/dist/js/select2.min.js') }}"></script>
        <script type="text/javascript">
            $("#prevVerificacion").hide();
            $("#cancelarImagenV").hide();

             $(document).on('click', '#btnplan1', function () {
                $('input#hplan').val(1);
                $("#divPlan").css('display', 'none');
                $("#divMetodo").css('display', 'block');

            });
             $(document).on('click', '#btnplan2', function () {
                $('input#hplan').val(2);
                $("#divPlan").css('display', 'none');
                $("#divMetodo").css('display', 'block');

            });
            $(document).on('click', '#btnRegresarBasico', function () {
                
                $("#divPlan").css('display', 'block');
                $("#divMetodo").css('display', 'none');
                location.reload();
            });

    $(document).on('click', '#btnTrial', function () {
              
                    $.ajax({
                        dataType: 'json',
                        url: Routing.generate('metodo_pago'),
                        type: 'POST',
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {

                            if (data.estado == true) {

                                Lobibox.notify("success", {
                                    size: 'mini',
                                    msg: '<p>Su solicitud de verificación se ha enviado.</p>'});
                               var url = Routing.generate('perfil');
                                          window.open(url, "_self");
                            } else {
                                Lobibox.notify("error", {
                                    size: 'mini',
                                    msg: 'Lo sentimos, ocurrio un error, intentelo mas tarde.'});
                            }
                       //     $("#enviarImagenV").prop("disabled", false);
                        //    $("#enviarImagenV").button('reset');
                        }
                    });

            });

            
            $(document).on('click', '#btnEnviar', function () {
                var frm = new FormData($("#frmVerificacion")[0]);

                if (flag == true) {
      //              $("#btnEnviar").button('loading');
              //      $("#btnEnviar").prop("disabled", true);
                    $.ajax({
                        data: frm,
                        dataType: 'json',
                        url: Routing.generate('metodo_pago'),
                        type: 'POST',
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {

                            if (data.estado == true) {

                                Lobibox.notify("success", {
                                    size: 'mini',
                                    msg: '<p>Su solicitud de verificación se ha enviado.</p>'});
                            } else {
                                Lobibox.notify("error", {
                                    size: 'mini',
                                    msg: 'Lo sentimos, ocurrio un error, intentelo mas tarde.'});
                            }
                       //     $("#enviarImagenV").prop("disabled", false);
                        //    $("#enviarImagenV").button('reset');
                        }
                    });

                } else {

                    alert("Acm1pt");


                }
            });





            $(document).ready(function () {

                $("input[name=rMetodo]").change(function () {
                    if ($(this).val() == 1)
                    {

                        $("#divComprobante1").css('display', 'block');

                    } else if ($(this).val() == 2)
                    {
                        $("#divComprobante1").css('display', 'none');
                    } else if ($(this).val() == 3)
                    {

                    } else if ($(this).val() == 4)
                    {

                    }
                });
            });

            $(document).on("change", "#imagenV", function ()
            {
                readURL(this);
                //obtenemos un array con los datos del archivo
                var file = $(this)[0].files[0];
                //obtenemos el nombre del archivo
                var fileName = file.name;
                //obtenemos la extensión del archivo
                Extension = fileName.substring(fileName.lastIndexOf('.') + 1);
                //obtenemos el tamaño del archivo
                var fileSize = file.size;
                //obtenemos el tipo de archivo image/png ejemplo
                var fileType = file.type;

                if (Extension == "png" || Extension == "bmp"
                        || Extension == "jpeg" || Extension == "jpg") {
                    flag = true;

                } else {
                    flag = false;
                }


                if (flag == true) {

                    $("#prevVerificacion").show();
                    $("#cancelarImagenV").show();
                    $("#enviarImagenV").show();

                } else {
                    $("#enviarImagenV").hide();
                    $("#imagenV").val("");
                    Lobibox.notify("error", {
                        size: 'mini',
                        msg: 'Seleccione una imagen.'});

                }
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#prevVerificacion').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
              $(document).on('click', '#btnCerrar', function () {
                                                                   var url = Routing.generate('abogado_logout');
                                                                                    window.open(url, "_self");
                                                                    });
        </script>


    </body>
</html>







