<!-- Calendar -->
<link rel="stylesheet" href="{{ asset('Resources/zebra/css/bootstrap.css') }}">
<script type="text/javascript" src="{{ asset('Resources/zebra/js/zebra_datepicker.js')}}" ></script>

<link href="{{asset('Resources/jquery-validation-1.15.0/demo/css/screen.css')}}" rel="stylesheet">
<script src="{{ asset('Resources/jquery-validation-1.15.0/dist/jquery.validate.js')}}"></script>
<script type="text/javascript">

    $(document).ready(function () {
    $("#fCerti").validate({
            messages: {
                txtCerti: {
                    required: 'Requerido!'
                },
                txtAutorida: {
                    required: 'Requerido!'
                },
                txtFechIniC:
                        {required: 'Requerido!'}
            },
            txtFechFinC: {
                required: 'Requerido!'}
        });
        $('.txtFechaIni').Zebra_DatePicker({
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'd-m-Y',
            direction: false,
            show_clear_date: false,
            show_select_today: "Hoy",
            pair: $('.txtFechaFin'),
            show_icon: false,
        });
        $('.txtFechaFin').Zebra_DatePicker({
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'd-m-Y',
            // direction:false,
            show_clear_date: false,
            show_select_today: "Hoy",
            show_icon: false,
        });
 
       
        $("#cancel").click(function () {
            $("#Cert"+editEdu).show();
            $("#div6").remove();
        });
        
   });
    
</script>

<form role="form" id="fCerti" >
    {%if Certificacion|default is not empty %}

        {% for datos in Certificacion %}
        <input type="hidden" name="hidCert" id="hidCert" value="{{datos.id}}">
        <div class="form-group">
            <label for="nombreEmpleado">Nombre de la certificación</label>
             <input type="text" class="form-control  input-sm"  id="txtCerti" name="txtCerti" 
                   placeholder="Nombre de la certificación" value="{{datos.nombre}}" data-rule-required="true"> 
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Autoridad emisora de la certificación</label>
            <input type="text" class="form-control  input-sm"  id="txtAutorida" name="txtAutorida" 
                   placeholder="Nombre de autoridad emisora" value="{{datos.institucion}}" data-rule-required="true">
        </div>
        <div class="form-group ">
            <label for="Fecha_inicio">Periodo</label>
             <div class="row">
                <div class="col-sm-2">
                    <input type="text" class="form-control txtFechaIni  input-sm" 
                           placeholder="Fecha inicio de labor"  id="txtFechIniC" name="txtFechIniC"  value="{{datos.fechaIn}}" data-rule-required="true">
                </div>
                <div  id="fechafin">
                    <div class="col-sm-2"  >
                        <input type="text" class="form-control txtFechaFin  input-sm" 
                               placeholder="Fecha fin de labor"  id="txtFechFinC" name="txtFechFinC" value="{{datos.fechaFin}}" data-rule-required="true">
                    </div>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm"  onclick="addCertificacion()">Guardar</button> <button type="button" class="btn btn-default btn-sm" id="cancel">Cancelar</button>
                </div>
            </div>
        </div>
        {%endfor%}
    {%else%}

        <input type="hidden" name="hidCert" id="hidCert" value="">
        <div class="form-group">
            <label for="nombreEmpleado">Nombre de la certificación</label>
             <input type="text" class="form-control  input-sm"  id="txtCerti" name="txtCerti" 
                   placeholder="Nombre de la certificación" data-rule-required="true"> 
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Autoridad emisora de la certificación</label>
            <input type="text" class="form-control  input-sm"  id="txtAutorida" name="txtAutorida" 
                   placeholder="Nombre de autoridad emisora" data-rule-required="true">
        </div>
        <div class="form-group ">
            <label for="Fecha_inicio">Periodo</label>
             <div class="row">
                <div class="col-sm-2">
                    <input type="text" class="form-control txtFechaIni  input-sm" 
                           placeholder="Fecha inicio de labor"  id="txtFechIniC" name="txtFechIniC" data-rule-required="true">
                </div>
                <div  id="fechafin">
                    <div class="col-sm-2"  >
                        <input type="text" class="form-control txtFechaFin  input-sm" 
                               placeholder="Fecha fin de labor"  id="txtFechFinC" name="txtFechFinC" data-rule-required="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm"  onclick="addCertificacion()">Guardar</button> <button type="button" class="btn btn-default btn-sm" id="cancel">Cancelar</button>
                </div>
            </div>
        </div>
    {%endif%}
</form>


