<!-- Calendar -->
<link rel="stylesheet" href="{{ asset('Resources/zebra/css/bootstrap.css') }}">
<script type="text/javascript" src="{{ asset('Resources/zebra/js/zebra_datepicker.js')}}" ></script>
<link href="{{asset('Resources/jquery-validation-1.15.0/demo/css/screen.css')}}" rel="stylesheet">
<script src="{{ asset('Resources/jquery-validation-1.15.0/dist/jquery.validate.js')}}"></script>
 <script src="{{asset('Resources/js/enviarDatos.js')}}"></script>
<script type="text/javascript">

    $(document).ready(function () {
   $("#fCurso").validate({
            messages: {
                txtCurso: {
                    required: 'Requerido!'
                },
                txtAutoridaCM: {
                    required: 'Requerido!'
                },
                txtFechIniCM:
                        {required: 'Requerido!'}
            },
            txtFechFinCM: {
                required: 'Requerido!'}
        });
        $('#txtFechIniCM').Zebra_DatePicker({
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'Y-m-d',
            direction: false,
            show_clear_date: false,
            show_select_today: "Hoy",
            pair: $('#txtFechFinCM'),
            show_icon: false,
        });
        $('#txtFechFinCM').Zebra_DatePicker({
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            format: 'Y-m-d',
            // direction:false,
            show_clear_date: false,
            show_select_today: "Hoy",
            show_icon: false,
        });
 
       
        $("#cancel").click(function () {
              $('div.curso_semi').children('br').remove();
            $("#CM"+editEdu).show();
            $("#div7").remove();
        });
        
      

   });
    $('#checkActual').change(function () {
        if ($('#checkActual').is(":checked")) {

            $('#fechafin').hide();
            $('#txtFechaFin').val(null);
        } else {
            $('#fechafin').show();
        }

    });
    function CambioEmp()
    {
        document.getElementById('cambioEmpresa').style.display = 'block';
        document.getElementById('EditEmpresa').style.display = 'none';
    }
    function EditEmp()
    {
        document.getElementById('cambioEmpresa').style.display = 'none';
        document.getElementById('EditEmpresa').style.display = 'block';
    }
</script>

<form role="form" id="fCurso" >
    {%if Curso|default is not empty %}

        {% for datos in Curso %}

            <input type="hidden" name="hidCurso" id="hidCurso" value="{{datos.id}}">
        <div class="form-group">
            <label for="nombreEmpleado">Nombre del curso/seminario</label>
             <input type="text" class="form-control  input-sm"  id="txtCurso" name="txtCurso" 
                   placeholder="Nombre de la certificación" value="{{datos.nombre}}" data-rule-required="true"> 


        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Autoridad emisora del curso/seminario</label>
            <input type="text" class="form-control  input-sm"  id="txtAutoridaCM" name="txtAutoridaCM" 
                   placeholder="Nombre de autoridad emisora" value="{{datos.institucion}}" data-rule-required="true">
        </div>
      


        <div class="form-group ">
            <label for="Fecha_inicio">Periodo</label>
             <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <input type="text" class="form-control txtFechaIni  input-sm" 
                           placeholder="Fecha inicio"  id="txtFechIniCM" name="txtFechIniCM" value="{{datos.fechaIn}}" data-rule-required="true">
                </div>
                <div  id="fechafin">
                    <div class="col-sm-2 col-xs-6"  >
                        <input type="text" class="form-control txtFechaFin  input-sm" 
                               placeholder="Fecha fin"  id="txtFechFinCM" name="txtFechFinCM" value="{{datos.fechaFin}}" data-rule-required="true">
                    </div>
                </div>
            </div>
                     <p style=" color: #F00;" id="Pcurso" calss="sans"></p>
        </div>
     <div class="form-group">
            <label for="ejemplo_password_1">Descripción</label>
            <textarea class="form-control  input-sm" rows="3" name="txtDescripcionCM" id="txtDescripcionCM" placeholder="Descripción del curso o seminario">{{datos.descripcion}}</textarea>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm btn-flat"  id="addCurso">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancel">Cancelar</button>
                </div>
            </div>
        </div>
        {%endfor%}
    {%else%}

        <input type="hidden" name="hidCurso" id="hidCurso" value="">
        <div class="form-group">
            <label for="nombreEmpleado">Nombre del curso/seminario</label>
             <input type="text" class="form-control  input-sm"  id="txtCurso" name="txtCurso" 
                   placeholder="Nombre de la certificación" data-rule-required="true"> 


        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Autoridad emisora del curso/seminario</label>
            <input type="text" class="form-control  input-sm"  id="txtAutoridaCM" name="txtAutoridaCM" 
                   placeholder="Nombre de autoridad emisora" data-rule-required="true">
        </div>
      


        <div class="form-group ">
            <label for="Fecha_inicio">Periodo</label>
             <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <input type="text" class="form-control txtFechaIni  input-sm" 
                           placeholder="Fecha inicio"  id="txtFechIniCM" name="txtFechIniCM" data-rule-required="true">
                </div>
                <div  id="fechafin">
                    <div class="col-sm-2 col-xs-6"  >
                        <input type="text" class="form-control txtFechaFin  input-sm" 
                               placeholder="Fecha fin"  id="txtFechFinCM" name="txtFechFinCM" data-rule-required="true">
                    </div>
                </div>
            </div>
            <p style=" color: #F00;" id="Pcurso" calss="sans"></p>
        </div>
       <div class="form-group">
            <label for="ejemplo_password_1">Descripción</label>
            <textarea class="form-control  input-sm" rows="3" name="txtDescripcionCM" id="txtDescripcionCM" placeholder="Descripción del curso o seminario"></textarea>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm btn-flat"  id="addCurso">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancel">Cancelar</button>
                </div>
            </div>
        </div>
    {%endif%}
</form>


