<link href="{{asset('Resources/jquery-validation-1.15.0/demo/css/screen.css')}}" rel="stylesheet">
<script src="{{ asset('Resources/jquery-validation-1.15.0/dist/jquery.validate.js')}}"></script>

<script type="text/javascript">

    $(document).ready(function () {
         $("#txtFijo").mask("0000-0000");
          $("#txtMovil").mask("0000-0000");
        $("#fdatosContacto").validate({
         
            messages: {
                txtDirecion: {
                    required: 'Requerido!'
                },
                 txtFijo: {
                    required: 'Requerido!'
                },
                txtMovil: {
                    required: 'Requerido!'
                },
                 txtEmail: {
                    required: 'Requerido!'
                }
            }
        });

        $("#cancelContacto").click(function () {
            $("#datosContacto").show();
          
            $("#div001").remove();
        });



    });
</script>

<form role="form" id="fdatosContacto" >
    {%if result_persona|default is not empty %}

        {% for datos in result_persona %}

            <input type="hidden" name="hidOrg" id="hidOrg" value="">
            <div class="form-group ">
                <label for="Fecha_inicio">Teléfono(s)</label>
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" 
                               placeholder="2222-2222"  id="txtFijo" name="txtFijo" value="{{datos.Tfijo}}" data-rule-required="true">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control input-sm" 
                               placeholder="7777-7777"  id="txtMovil" name="txtMovil" value="{{datos.movil}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="ejemplo_password_1">Email(s) </label>
                        <input type="text" class="form-control  input-sm"  id="txtEmail" name="txtEmail" 
                               placeholder="Email" value="{{datos.correo}}" data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="ejemplo_password_1">Dirección </label>
                        <input type="text" class="form-control  input-sm"  id="txtDirecion" name="txtDirecion" 
                               placeholder="Recidencia" value="{{datos.direccion}}" data-rule-required="true">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label for="ejemplo_password_1">Sitio web</label>
                        <input type="text" class="form-control  input-sm"  id="txtsitio" name="txtsitio" 
                               placeholder="Sitio web" value="{%if sitio|default is not empty %}{% for datos in sitio %}{{datos.nombre}}{%endfor%}
                                            {%endif%}">
                                           
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm btn-flat"  onclick="editDatosContacto()">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancelContacto">Cancelar</button>
                    </div>
                </div>
            </div>
        {%endfor%}



    {%endif%}
</form>




