{%set n = 0%}
{%if especialidadesS|default is not empty %}
    {% for datos in abgEspecialida %}
        {%set n =n +1%}
        <div class="col-xs-4" style="margin-top: .5em; margin-bottom: .5em;">
            <strong><p class="sans">{{datos.nombre| upper }}</p></strong>  
                {% for datosSub in subEspS %}
                    {%if(datos.id==datosSub.idEsp)%}
                        {%if(datosSub.idEspSelect is not empty )%}     
                        <p class="sans" style="font-size: 13px;">
                            <input type="checkbox" checked class="{{datos.id}} subEspecialida " name="{{datos.id}}" id="{{datosSub.idSub}}" value="{{datosSub.idSub}}" onclick="fil({{datosSub.idSub}},{{datos.id}} )"/> {{datosSub.nombre}}</p>
                        {%else%}
                        <p class="sans" style="font-size: 13px;">
                            <input type="checkbox" class="{{datos.id}} subEspecialida " name="{{datos.id}}" id="{{datosSub.idSub}}" value="{{datosSub.idSub}}" onclick="fil({{datosSub.idSub}},{{datos.id}} )"/> {{datosSub.nombre}}</p>

                    {%endif%}
                {%endif%}
            {%endfor%}
        </div>
        {%if ((n>0)and (n % 3== 0))%}
            <div class="clearfix"></div>
        {%endif%}   
    {%endfor%}
    <div class="clearfix"></div>
    <hr >
    <p align="right" style="margin-right:05px;" ><a  onclick="addSubEspecialida()">Acepta</a></p>
{%else%}
    {%if abgEspecialida|default is not empty %}
        {% for datos in abgEspecialida %}
            {%set n =n +1%}
            <div class="col-xs-4" style="margin-top: .5em; margin-bottom: .5em;">
                <strong><p class="sans" >{{datos.nombre| upper }}</p></strong>  
                    {% for datosSub in subEsp %}
                        {%if(datos.id==datosSub.idEsp)%}
                        <p class="sans" style="font-size: 13px;">
                            <input type="checkbox" class="{{datos.id}} subEspecialida " name="{{datos.id}}" id="{{datosSub.idSub}}" value="{{datosSub.idSub}}" onclick="fil({{datosSub.idSub}},{{datos.id}} )"/> {{datosSub.nombreSub}}</p>
                        {%endif%}
                    {%endfor%}
            </div>
            {%if ((n>0)and (n % 3== 0))%}
                <div class="clearfix"></div>
            {%endif%}              
        {%endfor%}
        <div class="clearfix"></div>
        <hr >
        <p align="right" style="margin-right:05px;" ><a  onclick="addSubEspecialida()">Acepta</a></p>
    {%else%} 


        <script type="text/javascript">
            
            var Esp, n = 0;
            {% for datos in RegistroEspecialida %}
                Especialida.push({{datos.id}});
              
                Esp ={{datos.id}}
                        n = n + 1;
                datos = '<div class="col-xs-4"  style="margin-top: .5em; margin-bottom: .5em;">';
                datos += '<strong><p class="sans" >{{datos.nombre| upper }}<p class="sans" ></strong>';
                {% for datosSub in RegistrosubEsp %}
                    {%if(datos.id==datosSub.idEsp)%}
                        datos += '<p class="sans" style="font-size: 13px;">{{datosSub.nombre}}</p>';
                    {%endif%}
                {%endfor%}
                    datos += '</div>';
                    if ((n > 0) && (n % 3 === 0))
                    {
                    datos += '<div class="clearfix"></div>';
                    }
                    datosMostrados+=datos;
                    $("#contenido").append(datos);

            {%endfor%}

        </script>
        {#%set n =n +1%}
        <div class="col-xs-4" style="margin-top: .5em; margin-bottom: .5em;">
            <strong><p class="sans" >{{datos.nombre| upper }}</p></strong>  
                {% for datosSub in RegistrosubEsp %}
                    {%if(datos.id==datosSub.idEsp)%}
                    <p class="sans" style="font-size: 13px;">{{datosSub.nombre}}</p>
                {%endif%}
            {%endfor%}
        </div>
        {%if ((n>0)and (n % 3== 0))%}
            <div class="clearfix"></div>
        {%endif%}              
    {%endfor%#}

        <!-- div class="clearfix"></div -->
    {%endif%} 
{%endif%} 


