<!-- para validar -->

<link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}">

<script src="{{ asset('Resources/src/js/jquery-2.0.3.min.js')}}"></script>
<link href="{{asset('Resources/jquery-validation-1.15.0/demo/css/screen.css')}}" rel="stylesheet">
<script src="{{ asset('Resources/jquery-validation-1.15.0/dist/jquery.validate.js')}}"></script>
<script src="{{ asset('Resources/select2/dist/js/select2.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css') }}">
<script type="text/javascript">
    $(document).ready(function () {

        $("#fIdiomas").validate({
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());
            },
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass).parent().prev().children("select").addClass(errorClass);
            }
        });

        $("#cancel").click(function () {
            $("#consultaIdiomas").show();
            $("#div3").remove();
        });
    });</script>
<style>
    form.cmxform {
        width: 50em;
    }

    form.cmxform label.error {
        margin-left: auto;
        width: auto;
    }
    form.cmxform input.submit {
        margin-left: 20px;
    }

    select.error {
        border: 1px dotted red;
    }
</style>
<form role="form" id="fIdiomas" class="cmxform">
    {%if  IdiomaRegistrado |default is not empty %}
        <input type="hidden" name="hidIdioma" id="hidIdioma" value="1">
        <div class="form-group" id="divContenedor">
            <div class="row" id="divIdioma">
                <div class="col-sm-3"><label for="Fecha_inicio">Idioma</label></div>
            </div>
            {% for datosIR in IdiomaRegistrado %}
                <p>
                <div class="row" id="divIdioma{{datosIR.idPi}}">
                   
                    <div class="col-sm-4 col-xs-3">
                        <select style="width: 100%;" id="SIdioma{{datosIR.idPi}}" name="SIdioma{{datosIR.idPi}}" class="form-control input-sm newIdioma" data-rule-required="true">
                            <option value="">Select...</option>
                            {% for datos in idioma %}
                                <option value="{{datos.id}}" {%if(datos.id==datosIR.idIdioma)%}selected{%endif%}>{{datos.nombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-sm-4 col-xs-3"  >
                        <select style="width: 100%;" id="Snivel{{datosIR.idPi}}" name="Snivel{{datosIR.idPi}}" class="form-control input-sm newIdioma" data-rule-required="true">
                            <option value="">Select...</option>
                            <option value="Avanzado" {%if(datosIR.nivel=='Avanzado')%}selected{%endif%}>Avanzado</option>
                            <option value="Basico" {%if(datosIR.nivel=='Basico')%}selected{%endif%}>Basico</option>
                            <option value="Intermedio" {%if(datosIR.nivel=='Intermedio')%}selected{%endif%}>Intermedio</option>
                            <option value="Navito" {%if(datosIR.nivel=='Navito')%}selected{%endif%}>Navito</option>
                        </select>
                    </div>
                    <a onClick="RemoveIdioma({{datosIR.idPi}})"><i class="fa fa-remove  pull-left" style="color: #999999;" data-toggle="tooltip" data-placement="left" title="Remover" ></i></a>
                       </div>
                </p>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#SIdioma' +{{datosIR.idPi}} ).select2();
                                $('#Snivel' +{{datosIR.idPi}} ).select2();
                    });
                </script>
            {%endfor%}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">   
                    <a onClick="NewIdioma()">Añadir otro idioma.</a> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm btn-flat"  onclick="addIdiomas()">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancel">Cancelar</button>
                </div>
            </div>
        </div>
    {%else%}

        <input type="hidden" name="hidIdioma" id="hidIdioma" value="">
        <div class="form-group" id="divContenedor">
            <div class="row" id="divIdioma">
                <div class="col-sm-3"><label for="Fecha_inicio">Idioma </label></div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-3">
                    <select id="SIdioma1" name="SIdioma1" class="form-control input-sm newIdioma " data-rule-required="true">
                        <option value="">Select an option...</option>
                        {% for datos in idioma %}
                            <option value="{{datos.id}}">{{datos.nombre}}</option>
                        {%endfor%}

                    </select>
                </div>
                <div class="col-sm-4 col-xs-3"  >
                    <select id="Snivel1" name="Snivel1" class="form-control input-sm newIdioma " data-rule-required="true">
                        <option value="">Select an option...</option>
                        <option value="Avanzado">Avanzado</option>
                        <option value="Basico">Basico</option>
                        <option value="Intermedio">Intermedio</option>
                        <option value="Nativo">Nativo</option>
                    </select> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">   
                    <a onClick="NewIdioma()">Añadir otro idioma.</a> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm btn-flat"  onclick="addIdiomas()">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancel">Cancelar</button>
                </div>
            </div>
        </div>
    {%endif%}

    <script type="text/javascript">
        
         $('#SIdioma1').select2();
         $('#Snivel1').select2();
        function NewIdioma()
        {

            var div;
            Idioma = [];
            div = '<p><div class="row" id="divIdioma' + $("#divContenedor div").length + '">';

            div += '<div class="col-sm-4 col-xs-3">';
            div += '<select id="SIdioma' + $("#divContenedor div").length + '" name="SIdioma' + $("#divContenedor div").length + '" class="form-control input-sm newIdioma" data-rule-required="true">';

            div += '<option value="">Selecione una opcion...</option>';
        {% for datos in idioma %}
                div += '<option value="{{datos.id}}">{{datos.nombre}}</option>';

        {%endfor%}
                div += '</select></div>';
                div += '<div class="col-sm-4 col-xs-3">';
                div += '<select id="Snivel' + $("#divContenedor div").length + '" name="Snivel' + $("#divContenedor div").length + '"';
                div += 'class="form-control input-sm newIdioma" data-rule-required="true">';
                div += '<option value="">Select an option...</option>';
                div += '<option value="Avanzado">Avanzado</option>';
                div += '<option value="Basico">Basico</option>';
                div += '<option value="Intermedio">Intermedio</option>';
                div += '<option value="Nativo">Nativo</option>';
                div += '</select></div>';
                div += '<a onClick="RemoveIdioma(' + $("#divContenedor div").length + ')"><i class="fa fa-remove" style="color: #999999;" data-toggle="tooltip" data-placement="left" title="Remover" ></i></a>';
                div += '</div></p>';

                $("#divIdioma").after(div);
                $('.newIdioma').select2();
            }

            function RemoveIdioma(val)
            {
                $("#divIdioma" + val).remove();
            }

    </script>
</form>


