<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directorio de Abogados de El Salvador | Primero y unico directorio de abogados de El Salvador | Abogados.com.sv</title>
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">

        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/movilcss.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="{{asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css')}}">

        <style>
            td{
                width:100%;
            }

            .paginas,.anterior,.siguiente{
                cursor: pointer;
            }
        </style>
        
    
    </head>
    <body>
        <div id="encabezado" class="hidden-xs">
        {% embed ':Layout:head.html.twig' %}{% endembed %}
    </div>
            <script type="text/javascript">
                                  $(document).on('ready', function () { 

                                       $('.micuenta').css("display", "none");
  });
   </script>
    <section >
        <div class="row" >
            <!-- LADO IZQUIERDO -->
            <div class="col-md-9 col-sm-9 col-xs-12" >

                <div class="error-page">
                    <div class="error-content ">
                        <h2><i class="fa fa-info text-aqua"></i> Confirmar cuenta</h2>
                         <p>   Confirma tu correo electronico para que puedas continuar. 
                            Revisa tu bandeja de entrada de correo y has click en confirmar.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>









