<!-- Calendar -->
<link rel="stylesheet" href="{{ asset('Resources/zebra/css/bootstrap.css') }}">
<script type="text/javascript" src="{{ asset('Resources/zebra/js/zebra_datepicker.js')}}" ></script>
<link href="{{asset('Resources/jquery-validation-1.15.0/demo/css/screen.css')}}" rel="stylesheet">
<script src="{{ asset('Resources/jquery-validation-1.15.0/dist/jquery.validate.js')}}"></script>
 <script src="{{asset('Resources/js/enviarDatos.js')}}"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#fOrg").validate({
            messages: {
                txtOrg: {
                    required: 'Requerido!'
                },
                txtPuestoOrg: {
                    required: 'Requerido!'
                },
                txtFechIniOrg:
                        {required: 'Requerido!'}
            },
            txtFechFinOrg: {
                required: 'Requerido!'}
        });


        $('.fechIniOrg').Zebra_DatePicker({
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
               format: 'Y-m-d',
            direction: false,
            show_clear_date: false,
            show_select_today: "Hoy",
            pair: $('.fechFinOrg'),
            show_icon: false

        });
        $('.fechFinOrg').Zebra_DatePicker({
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                format: 'Y-m-d',
            // direction:false,
            show_clear_date: false,
            show_select_today: "Hoy",
            show_icon: false

            });

            $("#cancelOrg").click(function () {
                   $('div.organiz').children('br').remove();
                $("#Org" + editEdu).show();
                $("#div5").remove();
            });

        });
        $('#checkActual').change(function () {
            if ($('#checkActual').is(":checked")) {

                $('#fechafin').hide();
                $('#txtFechaFin').val(null);
            } else {
                $('#fechafin').show();
            }

        });
        function CambioEmp()
        {
            document.getElementById('cambioEmpresa').style.display = 'block';
            document.getElementById('EditEmpresa').style.display = 'none';
        }
        function EditEmp()
        {
            document.getElementById('cambioEmpresa').style.display = 'none';
            document.getElementById('EditEmpresa').style.display = 'block';
        }
</script>

<form id="fOrg" >
    {%if Organizacion|default is not empty %}

        {% for datos in Organizacion %}

            <input type="hidden" name="hidOrg" id="hidOrg" value="{{datos.id}}">
            <div class="form-group">
                <label for="nombreEmpleado">Organización </label>
                <input type="text" class="form-control  input-sm"  id="txtOrg" name="txtOrg" 
                       placeholder="Nombre de la organización" value="{{datos.nombre}}" data-rule-required="true"> 


            </div>
            <div class="form-group">
                <label for="ejemplo_password_1">Puesto desempeñado </label>
                <input type="text" class="form-control  input-sm"  id="txtPuestoOrg" name="txtPuestoOrg" 
                       placeholder="Nombre del puesto desempeñado" value="{{datos.puesto}}" data-rule-required="true">
            </div>

            <div class="form-group ">
                <label for="Fecha_inicio">Periodo</label>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <input type="text" class="form-control fechIniOrg  input-sm" 
                               placeholder="Fecha inicio"  id="txtFechIniOrg" name="txtFechIniOrg"  value="{{datos.fechaIn}}" data-rule-required="true">
                    </div>
                    <div class="col-sm-3 col-xs-6"  id="fechafin" >
                        <input type="text" class="form-control fechFinOrg  input-sm" 
                               placeholder="Fecha fin"  id="txtFechFinOrg" name="txtFechFinOrg"  value="{{datos.fechaFin}}" data-rule-required="true">
                    </div>
                </div>
                    <p style=" color: #F00;" id="Porg" calss="sans"></p>
            </div>
            <!--div class="form-group">
                <div class="row">
                    <div class="col-sm-6">   
                        <input type="checkbox"  name="checkActual" id="checkActual" />&nbsp;Estudiando actualmente. </div>
                </div>
            </div -->  <div class="form-group">
                <label for="ejemplo_password_1">Función del puesto</label>
                <textarea class="form-control  input-sm" rows="3" name="txtDescripcion" id="txtDescripcion" placeholder="Descripción del puesto">{{datos.descripcion}}</textarea>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm btn-flat"  id="addOrganizacion">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancelOrg">Cancelar</button>
                    </div>
                </div>
            </div>
        {%endfor%}
    {%else%}

        <input type="hidden" name="hidOrg" id="hidOrg" value="">
        <div class="form-group">
            <label for="nombreEmpleado">Organización </label>
            <input type="text" class="form-control  input-sm"  id="txtOrg" name="txtOrg" 
                   placeholder="Nombre de la organización" data-rule-required="true"> 


        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Puesto desempeñado </label>
            <input type="text" class="form-control  input-sm"  id="txtPuestoOrg" name="txtPuestoOrg" 
                   placeholder="Nombre del puesto desempeñado" data-rule-required="true">
        </div>

        <div class="form-group ">
            <label for="Fecha_inicio">Periodo</label>
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <input type="text" class="form-control fechIniOrg  input-sm" 
                           placeholder="Fecha inicio"  id="txtFechIniOrg" name="txtFechIniOrg" data-rule-required="true">
                </div>
                <div class="col-sm-3 col-xs-6"  id="fechafin" >
                    <input type="text" class="form-control fechFinOrg  input-sm" 
                           placeholder="Fecha fin"  id="txtFechFinOrg" name="txtFechFinOrg" data-rule-required="true">
                </div>
            </div>
            <p style=" color: #F00;" id="Porg" calss="sans"></p>
        </div>
        <div class="form-group">
            <label for="ejemplo_password_1">Función del puesto</label>
            <textarea class="form-control  input-sm" rows="3" name="txtDescripcion" id="txtDescripcion" placeholder="Descripción del puesto"></textarea>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm btn-flat"  id="addOrganizacion">Guardar</button> <button type="button" class="btn btn-default btn-sm btn-flat" id="cancelOrg">Cancelar</button>
                </div>
            </div>
        </div>
    {%endif%}
</form>



