{# empty Twig template #}


{% block descripcion_y_acciones %}

    {% block descripcion %}

    {% endblock%}
    {% block acciones %}


    {% endblock %}

{% endblock %}
{% block js_extend %}

{% endblock %} 

{% block navegacion_Y_body %}

    {% block navegacion %}

    {% endblock %}


    {% block cuerpo %}

        <!-- body style="background-color: #f6f6f6;" -->

        <!-- PRIMERA BLOQUE CON FOTO DE PERFIL -->

        <div class="row" >
            <div class="col-sm-3">
                <input type="hidden" id="hPersona"  value="{{datos.id}}">

                <img src=" {{asset('Resources/src/img/profile.png')}}" style="margin-top: 10px; margin-left: 10px; width: 200px; height: 200px; margin-bottom: 10px;" />
            </div>

            <div class="col-sm-5" >

                <div class="row" >
                    <div class="col-xs-10" style="padding-right: 0;">
                        <p style="margin-top: 10px; font-size: 23px; margin-left: 10px; margin-bottom: 0px;" class="sans">

                            <strong>  
                                {{datos.nombre~' '~datos.apellido}}

                            </strong>

                            <img src="{{asset('Resources/src/img/verified.png')}}" style="width: 25px; margin-bottom: 8px;" data-toggle="tooltip" data-placement="right" title="Abogado Verificado"></p>
                    </div></div>
                <div class="row" >
                    <div class="col-xs-12" style="padding-right: 0;">
                        <p style="color: #777777; margin-left: 11px; margin-top: -3px; margin-bottom: 0px;" class="sansli">

                            {%if RegistradaExperiencia|default is not empty %}
                                {% for datos in RegistradaExperiencia %}
                                    {%if (datos.dias is null)%}
                                        {{datos.puesto}}
                                    {%else%}

                                    {%endif%}   
                                {%endfor%}
                            {%else%}
                                Puesto
                            {%endif%}
                        </p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xs-12" style="padding-right: 0;">

                        {%if ciuda|default is not empty %}

                            <div  style="display:block;" id="divMunicipiox">
                                <p style="color: 5555555; margin-left: 11px; font-size: 12px; margin-bottom: 5px;" class="sansli">
                                    {% for datos in ciuda %}
                                        <b> {{datos.estado}} </b> | {{datos.nombre}} 
                                    {%endfor%}

                                </p>
                            </div>

                        {%else%}
                            <div id="divMunicipio">
                                <p style="color: 5555555; margin-left: 11px; font-size: 12px; margin-bottom: 5px;" class="sansli">
                                    <b>Departament</b> | Municipiio

                                </p>
                            </div>
                        {%endif%}

                    </div>
                </div>
                <!-- ESPECIALIDAD(ES) -->
                <div class="row" >
                    <div class="col-xs-4" style="padding-right: 0;">
                        <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Especialidades</span>
                    </div>
                    <div class="col-xs-8" style="padding-left: 0;" >
                        <span style="font-size:13px;">

                            {%if RegistroEspecialida|default is not empty %}
                                {%set n=1%}
                                {% for datos in RegistroEspecialida %}
                                    {%if(n==3)%}
                                        {{datos.nombre}} 
                                    {%else%}
                                        {{datos.nombre~","}} 
                                    {%endif%}
                                    {%set n=n+1%}
                                {%endfor%}
                            {%else%}
                                Especialidades
                            {%endif%}

                        </span>
                    </div>
                </div>
                <!-- TRABAJO(S) ACTUAL -->
                <div class="row" >
                    <div class="col-xs-4" style="padding-right: 0;">
                        <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Actual</span>
                    </div>
                    <div class="col-xs-8" style="padding-left: 0;">
                        <span style="font-size:13px;">
                            {%if RegistradaExperiencia|default is not empty %}
                                {% for datos in RegistradaExperiencia %}
                                    {%if (datos.dias is null)%}
                                        <a href="#Experiencia"  >{{datos.empresa}}</a>
                                    {%else%}

                                    {%endif%}   
                                {%endfor%}
                            {%else%}
                                <a href="#Experiencia"  >Puesto</a> 
                            {%endif%}

                        </span>
                    </div>
                </div>
                <!-- EDUCACION MAS RECIENTE -->
                <div class="row">
                    <div class="col-xs-4" style="padding-right: 0;">
                        <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Educación</span>
                    </div>
                    <div class="col-xs-8" style="padding-left: 0;">
                        <span style="font-size:13px;">
                            <a href="#divEducacion">
                                {%if Edu|default is not empty %}
                                    {% for datos in Edu %}
                                        {%if(datos.anio=='')%} {{datos.institucion}}
                                        {%endif%}
                                    {%endfor%}
                                {%else%}
                                    Educación
                                {%endif%}
                            </a>
                        </span>
                    </div>
                </div>
                <!-- EDUCACION MAS RECIENTE -->
                <div class="row">
                    <div class="col-xs-4" style="padding-right: 0;">
                        <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Sitio Web</span>
                    </div>
                    <div class="col-xs-8" style="padding-left: 0;">
                        <span style="font-size:13px;">

                            {%if sitio|default is not empty %}
                                {% for datos in sitio %}
                                    {{datos.nombre}} 
                                {%endfor%}
                            {%else%}
                                Sitio web
                            {%endif%}

                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    
        <section style=" margin-top: 30px;">
          <div id="example1" class="example"></div>
          
          <center><h4>Perfil</h4></center>
        </section>
    
                </div>
            </div>
        </div>
        <!-- FIN PRIMERA BLOQUE CON FOTO DE PERFIL -->
        <!-- INFORMACION DE CONTACTO -->
        <div class="bloque-contenedor">
            <div class="row hedeExperiencia">
                <ul class="prob"  style="font-size: 18px;"><li><strong>DATOS DE CONTACTO</strong></li></ul>
            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoExp" >

                <div class="row experiencias">
                    <div class="col-sm-3 col-xs-12">
                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono(s)</strong></p>
                        <p style="font-size: 11px; margin-bottom: 0px;">
                            +503  
                            {%if datos.movil|default is not empty %}{{datos.movil}}
                            {%else%}

                            {%endif%}
                            </br>+503 
                            {%if datos.Tfijo|default is not empty %}
                                {{datos.Tfijo}}
                            {%else%}

                            {%endif %}
                            </a></p>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email(s)</strong></p>
                        <p style="font-size: 11px; margin-bottom: 0px;">

                            {%if datos.correo|default is not empty %}
                                {{datos.correo}}
                            {%endif %}
                        </p>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Dirección</strong></p>
                        <p style="font-size: 11px; margin-bottom: 0px;">

                            {%if datos.direccion|default is not empty %}
                                {{datos.direccion}}
                            {%else%}
                                Dirección
                            {%endif%}
                        </p>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Url personalizada </strong></p>
                        <p style="font-size: 11px; margin-bottom: 0px;">
                            {%if url|default is not empty %}
                                {% for datos in url %}
                                    {{datos.url}}
                                {%endfor%}
                            {%else%}
                                Url
                            {%endif%}

                    </div>
                </div>
            </div>
            <!-- Fin -->
        </div> <!-- INFORMACION DE CONTACTO -->

        <!-- EXTRACTO -->
        <div class="bloque-contenedor">
            <div class="row hedeExperiencia">
                <ul class="prob"  style="font-size: 18px;"><li><strong>UN POCO SOBRE MI</strong></li></ul>

            </div>
            <div class="experiencia " >
                <div class="experiencias">
                    <div style="padding-left: 3px; padding-right: 30px;" class="experiencia">

                        <p class="text-justify">

                            {%if datos.descripcion|default is not empty %} {{datos.descripcion}}{%else%}Un poco sobre mi{%endif%}</p>
                        <p class="text-justify"></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ESPECIALIDADES -->
        <div  class="bloque-contenedor" id="Especialidades">
            <div class="row hedeExperiencia">
                <p class="sans text-uppercase pull-left">
                <ul class="prob"  style="font-size: 18px;"><li><strong>ESPECIALIDADES LEGALES</strong></li></ul>

            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoExp" >

                <div class="experiencias"  id="contenido">
                    {%if RegistroEspecialida|default is not empty %}
                        {%set n = 0%}
                        {% for datos in RegistroEspecialida %}
                            {%set n =n +1%}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12" style="margin-top: .5em; margin-bottom: .5em;">
                                        <ul class="prob">
                                            <li><strong><p>&nbsp;
                                                        {%if(datos.nombre| upper=='DERECHO LABORAL')%}
                                                            <img src="{{asset('Resources/src/img/especialidades/dlaboral.png')}}" style="width: 25px; margin-bottom: 8px;" data-toggle="tooltip" data-placement="right" title="Abogado Verificado"></p>

                                                    {%endif%}
                                                    <img src="{{asset('Resources/src/img/especialidades/dlaboral.png')}}" style="width:100%; margin-bottom: 8px;"  data-placement="right" ></p>

                                                    {#{datos.nombre| upper }#}<p class="sans" ></strong></li>
                                            <li><p style="text-align:justify;">{{datos.descripcion}}</p></li>
                                    </div>   
                                    {%if ((n>0)and (n % 3== 0))%}

                                        <div class="clearfix"></div>

                                    {%endif%}  
                                </div>
                            </div>
                        {%endfor%}
                    {%endif%}

                    {#% embed ':abgpersona:especialidades.html.twig' %}{% endembed %#}

                </div></div>
            <!-- Fin -->
        </div>

        <!-- EXPERIENCIA -->
        <div class="bloque-contenedor" id="Experiencia">
            <div class="row hedeExperiencia ">
                <p class="sans text-uppercase pull-left" style="font-size: 20px;"><strong>EXPERIENCIA</strong></p>


            </div>
            <!-- Contenido Aqui -->


            <div class="experiencia " id="contenidoExp" >
                <div id="consultas" class="experiencias">
                    {%if RegistradaExperiencia|default is not empty %}
                        {% for datos in RegistradaExperiencia %}

                            <div class="row " id="Exp{{datos.id}}">
                                <div class="col-xs-1" >
                                    {%if (datos.src is null)%}

                                    {%else%}
                                        <img style="max-width:50px;max-height:50px;" src="{{asset('')}}{{datos.src}}">
                                    {%endif%}
                                </div>
                                <div class="col-xs-11">
                                    <span style="font-size: 15px;">{{datos.empresa}}</span> 
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Haz click en el nombre/foto de la empresa para ir a la Pagina de la Compañia"></i>
                                    </br>
                                    <span style="font-size: 13px;">{{datos.puesto}}</br> 
                                        {%if (datos.dias is null)%}
                                            {{datos.fechaIn}} - Actualmente
                                        {%else%}
                                            {{datos.fechaIn}} - {{datos.fechaFin}} (&nbsp;{{(datos.dias/365)|round(0, 'floor')}} años {{(((datos.dias/365)-(datos.dias/365)|round(0, 'floor'))*12)|round(0, 'floor')}} meses) 
                                        {%endif%}| {{datos.hubicacion}} </span>
                                    </br><p style="width: 90%; margin-top: 5px;text-align:justify;">{{datos.funcion}}</p>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">

                                </div>
                            </div>
                            <p></p>
                        {%endfor%}
                    {%endif%}

                </div>
            </div>
            <!-- Fin -->
        </div>

        <!-- EDUCACION -->
        <div class="bloque-contenedor" id="divEducacion">
            <div class="row hedeExperiencia">
                <p class="sans text-uppercase pull-left" style="font-weight: 500; color: #262626; font-size: 16px;"><strong>EDUCACION</strong></p>

            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoEdu" >
                <div id="consultaEducacion" class="experiencias">
                    {%if Edu|default is not empty %}
                        {% for datos in Edu %}
                            <div class="row " id="Edu{{datos.idEs}}">
                                <div class="col-xs-11">
                                    <span style="font-size: 16px;">{{datos.institucion}}</span> 
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Haz click en el nombre/foto de la empresa para ir a la Pagina de la Compañia"></i>
                                    </br>
                                    <span style="font-size: 13px;">{{datos.disciplina~' | '~datos.titulo}}</br> {{datos.anioIni}} - {{datos.anio}}</span>
                                    <p style="width: 90%; margin-top: 5px;text-align:justify;">

                                    </p>
                                </div>
                            </div>
                            <p></p>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
            <!-- Fin -->
        </div>

        <!-- LENGUAJES -->
        <div class="bloque-contenedor">
            <div class="row hedeExperiencia">
                <p class="sans text-uppercase pull-left" style="font-weight: 500; color: #262626; font-size: 16px;"><strong>IDIOMAS</strong></p>

            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoCerti" >
                <div id="consultaIdiomas" class="experiencias">
                    {%if Idiomas|default is not empty %}
                        <div class="row " id="Idioma">
                            {% for datos in Idiomas %}
                                <div class="col-xs-3" style="margin-top: .5em; margin-bottom: .5em;" >
                                    <ul class="prob"><li><strong>{{datos.nombre}}</strong></li>
                                        <li>{{datos.nivel}}</li>
                                    </ul>
                                </div>
                            {%endfor%}
                            <div class="clearfix"></div>

                        </div>
                    {%endif%}
                </div>
            </div>
            <!-- Fin -->
        </div>

        <!-- ORGANIZACIONES -->
        <div class="bloque-contenedor">
            <div class="row hedeExperiencia">
                <p class="sans text-uppercase pull-left" style="font-weight: 500; color: #262626; font-size: 16px;"><strong>ORGANIZACIONES</strong></p>

            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoOrg" >
                <div id="consultaOrg" class="experiencias">
                    {%if Organizacion|default is not empty %}
                        {% for datos in Organizacion %}
                            <div class="row " id="Org{{datos.id}}">
                                <div class="col-xs-11">
                                    <span style="font-size: 16px;">{{datos.nombre}}</span> 
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Haz click en el nombre/foto de la empresa para ir a la Pagina de la Compañia"></i>
                                    </br>
                                    <span style="font-size: 13px;">{{datos.puesto}}</br> {{datos.fechaIn}} - {{datos.fechaFin}}</span>
                                    <p style="width: 100%; margin-top: 5px;text-align:justify;">{{datos.descripcion}}

                                    </p>
                                </div>
                            </div>
                            <p></p>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
            <!-- Fin -->
        </div>
        <!-- ORGANIZACIONES -->
        <div class="bloque-contenedor">
            <div class="row hedeExperiencia">
                <p class="sans text-uppercase pull-left" style="font-weight: 500; color: #262626; font-size: 16px;"><strong>Certificacion</strong></p>

            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoCerti" >
                <div id="consultaCertificacion" class="experiencias">
                    {%if Certificacion|default is not empty %}
                        {% for datos in Certificacion %}
                            <div class="row " id="Cert{{datos.id}}">
                                <div class="col-xs-11">
                                    <span style="font-size: 16px;">{{datos.institucion}}</span> 
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Haz click en el nombre/foto de la empresa para ir a la Pagina de la Compañia"></i>
                                    </br>
                                    <span style="font-size: 13px;">{{datos.nombre}}</br> {{datos.fechaIn}} - {{datos.fechaFin}}</span>
                                    <p style="width: 100%; margin-top: 5px;text-align:justify;">

                                    </p>
                                </div>
                            </div>
                            <p></p>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
            <!-- Fin -->
        </div>

        <!-- ORGANIZACIONES -->
        <div class="bloque-contenedor">
            <div class="row hedeExperiencia">
                <p class="sans text-uppercase pull-left" style="font-weight: 500; color: #262626; font-size: 16px;"><strong>CURSOS Y SEMINARIOS  </strong></p>

            </div>
            <!-- Contenido Aqui -->
            <div class="experiencia " id="contenidoCurso" >
                <div id="consultaCurso" class="experiencias">
                    {%if Curso|default is not empty %}
                        {% for datos in Curso %}
                            <div class="row " id="CM{{datos.id}}">
                                <div class="col-xs-11">
                                    <span style="font-size: 16px;">{{datos.institucion}}</span> 
                                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Haz click en el nombre/foto de la empresa para ir a la Pagina de la Compañia"></i>
                                    </br>
                                    <span style="font-size: 13px;">{{datos.nombre}}</br> {{datos.fechaIn}} - {{datos.fechaFin}}</span>
                                    <p style="width: 90%; margin-top: 5px;text-align:justify;">{{datos.descripcion}}

                                    </p>
                                </div>
                            </div>
                            <p></p>
                        {%endfor%}
                    {%endif%}
                </div>
            </div>
            <!-- Fin -->
        </div>

        <div style="height: 10px;"></div>

        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

    {% endblock %}
{% endblock %}
