{% extends ':Layout:layout2.html.twig' %}
{% block css %}
    {{parent()}}

    <style>
        .pos4 {
            position: fixed;
            bottom: 0px;
            margin-right: auto;
            margin-left: auto;
            width: 850px;
        }

        .contenedor-perfil{
            height: 100%;
            position: relative;
        }

        .contenedor-perfil .pos4{
            position: relative;
            bottom: 0px; 
            left: 0px;
        }
    </style>
    <script type = "text/javascript" >
        $(document).on('ready', function () {
            $('.wrapper').css("background-color", "#ecf0f5")
        });
    </script>
{% endblock css %}
{% block js_extend %}

    <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
    <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>

    <!-- x-editable (bootstrap version) -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">

    <script type = "text/javascript" >
        var imagenes = new Array();
        var imagenes2 = new Array();
        var imagenes3 = new Array();
        var imagenes4 = new Array();

        var contador = 1;
        var contador2 = 1;
        var contador3 = 1;
        var contador4 = 1;

        var lon = 0;
        var lon2 = 0;
        var lon3 = 0;
        var lon4 = 0;
        {% for pro in prom1 %}
            imagenes.push("{{ pro.src }}");
        {% endfor %}
            lon = imagenes.length;
        {% for pro in prom2 %}
            imagenes2.push("{{ pro.src }}");
        {% endfor %}
            lon2 = imagenes2.length;
        {% for pro in prom3 %}
            imagenes3.push("{{ pro.src }}");
        {% endfor %}
            lon3 = imagenes3.length;
            $(document).on('ready', function () {
                $('.main-sidebar .main-header ').css("display", "none");
                $('.sidebar-toggle').css("display", "none");
                $('.main-header').css("display", "none");
                setInterval(cambia, 4000);
            });

            function cambia() {
                console.log('cont: ' + contador);
                console.log('lon: ' + lon);
                if (contador >= lon) {
                    contador = 0;
                }
                if (lon > 0) {
                    document.getElementById("fotocambia").src = '.{{asset('')}}' + imagenes[contador];
                    contador++;
                    console.log(imagenes[contador]);
                    console.log(contador);
                    console.log(lon);
                } else {
                    document.getElementById("fotocambia").src = '{{asset('Resources/src/img/banner1.png')}}';
                }
                if (contador2 >= lon2) {
                    contador2 = 0;
                }
                if (lon2 > 0) {
                    document.getElementById("fotocambia2").src = '{{asset('')}}' + imagenes2[contador2];
                    contador2++;
                } else {
                    document.getElementById("fotocambia2").src = '{{asset('Resources/src/img/banner.png')}}';
                }
                if (contador3 >= lon3) {
                    contador3 = 0;
                }
                if (lon3 > 0) {
                    document.getElementById("fotocambia3").src = '{{asset('')}}' + imagenes3[contador3];
                    contador3++;
                } else {
                    document.getElementById("fotocambia3").src = '{{asset('Resources/src/img/banner.png')}}';
                }
            }
    </script>
{% endblock %}
{% block cuerpo %}
    {#% embed ':Layout:head.html.twig' %}{% endembed %#}


    {% for datos in abgPersona %}
        <input type="hidden" id="hPersona"  value="{{datos.id}}">
        <div id="page-content">
        {% embed ':abgpersona:mperfil.html.twig' %}{% endembed %}
    </div>

    <div class="container hidden-xs hidden-sm" style="  background-color:#ecf0f5;">

        <div class="row">
            <div class=" col-xs-12">

                <div class="mailbox-controls" style=" margin-left: 7px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm" onclick="javascript:history.go(-1)"><i class="fa fa-chevron-left text-blue"> Atrás</i></button>
                    </div>
                </div> 

            </div>
        </div>
        <div class="row" style=" padding: 10px; background-color:#ecf0f5;">
            <div class=" col-md-9 col-xs-12" >
                <div class="box box-widget" >
                    <div class="box-body" >
                        <div class="row ">
                            <div class="col-sm-3 col-xs-3">
                                <div style="margin-top:0;margin-left:0;" style="height:200px;width:200px; ">
                                    <center>
                                        <img src="{{asset('')}}{{abgFoto[0].src}}"  class="img-responsive" alt="Imagen responsive" />
                                    </center>              
                                </div>
                            </div>

                            <div class="col-sm-6 col-xs-9" >
                                <div class="row" >
                                    <div class="col-xs-10" style="padding-right: 0;">
                                        <p style="font-size: 23px; margin-bottom: 0px;" >
                                            <strong>
                                                {{datos.nombre~' '~datos.apellido}}
                                            </strong>
                                            {%if(datos.verificado==1)%}
                                                <img src="{{asset('Resources/src/img/verified.png')}}" style="width: 25px; margin-bottom: 8px;" data-toggle="tooltip" data-placement="right" title="Abogado Verificado"></p>
                                            {%endif%}      

                                    </div></div>

                                {%if datos.tprofesional|default is not empty %}
                                    <div class="row" >

                                        <div class="col-xs-6 col-sm-3" style="padding-right: 0;">
                                            <p style="color: #777777;  margin-top: -3px; margin-bottom: 0px;" >
                                                {%if(datos.tprofesional=="1")%}Licenciatura{%elseif(datos.tprofesional=="2")%}Magíster{%elseif(datos.tprofesional=="3")%}Doctorado
                                                {%endif%}

                                            </p>
                                        </div>


                                    </div>
                                {%endif%}
                                {%if ciuda|default is not empty %}
                                    <div class="row" >
                                        <div class="col-xs-12" style="padding-right: 0;">
                                            <div  style="display:block;" id="divMunicipiox">
                                                <p style="color: 5555555; font-size: 12px; margin-bottom: 5px;" >
                                                    {% for datos in ciuda %}
                                                        <b> {{datos.estado}} </b> | {{datos.nombre}} 
                                                    {%endfor%}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {%endif%}
                                <!-- ESPECIALIDAD(ES) -->
                                {%if RegistroEspecialida|default is not empty %}
                                    <div class="row" >
                                        <div class="col-xs-4 col-sm-3" style="padding-right: 0;">
                                            <span style="color: #4444444; font-size: 11px; ">Especialidades</span>
                                        </div>
                                        <div class="col-xs-8 col-sm-9" style="padding-left: 0;" >
                                            <span style="font-size:13px;">
                                                <a href="#divEspecialidades">
                                                    {%set esp=""%}
                                                    {% for datos in RegistroEspecialida %}
                                                        {%set esp=datos.nombre~", "~esp%}
                                                    {%endfor%}
                                                    {{esp|slice(0,-2)}}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                {%endif%}
                                <!-- TRABAJO(S) ACTUAL -->
                                {%if RegistradaExperiencia|default is not empty %}
                                    <div class="row" >
                                        <div class="col-xs-4" style="padding-right: 0;">
                                            <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Actual</span>
                                        </div>
                                        <div class="col-xs-8" style="padding-left: 0;">
                                            <span style="font-size:13px;">
                                                {% for datos in RegistradaExperiencia %}
                                                    {%if (datos.dias is null)%}
                                                        <a href="{{path('busquedaPerfil', {url:datos.url})}}">{{datos.empresa}}</a>
                                                    {%else%}
                                                    {%endif%}
                                                {%endfor%}
                                            </span>
                                        </div>
                                    </div>
                                {%endif%}
                                <!-- EDUCACION MAS RECIENTE -->
                                {%if Edu|default is not empty %}
                                    <div class="row">
                                        <div class="col-xs-4" style="padding-right: 0;">
                                            <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Educación</span>
                                        </div>
                                        <div class="col-xs-8" style="padding-left: 0;">
                                            <span style="font-size:13px;">
                                                <a href="#divEducacion">
                                                    {% for datos in Edu %}
                                                        {%if(datos.anio=='')%} {{datos.institucion}}
                                                        {%endif%}
                                                    {%endfor%}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                {%endif%}
                                <!-- EDUCACION MAS RECIENTE -->
                                {%if sitio|default is not empty %}
                                    <div class="row">
                                        <div class="col-xs-4" style="padding-right: 0;">
                                            <span style="color: #4444444; font-size: 11px; margin-left: 10px;">Sitio Web</span>
                                        </div>
                                        <div class="col-xs-8" style="padding-left: 0;">
                                            <span style="font-size:13px;">


                                                {% for datos in sitio %}
                                                    {{datos.nombre}} 
                                                {%endfor%}



                                            </span>
                                        </div>
                                    </div>
                                {%endif%}

                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="col-sm-3 col-xs-3">
                                    <div class="row">
                                        <div class="col-xs-12 ">
                                            <div class="bloque-ocultar ">
                                                <p class="text-center">Habilitado <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" 
                                                                                     title=" Deshabilite/Habilite al usuario"></i></p>
                                                <div class="onoffswitch" style="margin-left: auto; margin-right: auto;">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox responsive" id="myonoffswitch" 
                                                           {%if(Uestado==1)%}checked{%endif%}>
                                                    <label class="onoffswitch-label" for="myonoffswitch">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endif%}           
                        </div>
                    </div>

                </div>

                <div class="box box-widget">
                    <div class="box-header with-border">
                        <h3 class="box-title" style=" margin-left: 10px;">DATOS DE CONTACTO</h3>
                    </div>
                    <div class="box-body" style="margin: 10px; padding-bottom: 20px;">
                        <div class="row">
                            <div class=" col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Telefono(s)</strong></p>
                                        <p style="font-size: 11px; margin-bottom: 0px;">
                                            +503  
                                            {%if datos.movil|default is not empty %}{{datos.movil}}
                                            {%else%}

                                            {%endif%}
                                            </br>+503 
                                            {%if datos.Tfijo|default is not empty %}
                                                {{datos.Tfijo}}
                                            {%else%}

                                            {%endif %}
                                            </a></p>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email(s)</strong></p>
                                        <p style="font-size: 11px; margin-bottom: 0px;">

                                            {%if datos.correo|default is not empty %}
                                                {{datos.correo}}
                                            {%endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6 col-xs-12">
                                <div class=" row">
                                    <div class="col-sm- col-xs-6">
                                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Dirección</strong></p>
                                        <p style="font-size: 11px; margin-bottom: 0px;">

                                            {%if datos.direccion|default is not empty %}
                                                {{datos.direccion}}
                                            {%else%}
                                                Dirección
                                            {%endif%}
                                        </p>
                                    </div>
                                    <div class="col-sm-6  col-xs-6">
                                        <p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Sitio web</strong></p>
                                        <p style="font-size: 11px; margin-bottom: 0px;">

                                            {%if sitio|default is not empty %}
                                                {% for datos in sitio %}
                                                    {{datos.nombre}} 
                                                {%endfor%}
                                            {%else%}
                                                Sitio web
                                            {%endif%}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div></div>


                <!-- INFORMACION DE CONTACTO -->
                {%if datos.descripcion|default is not empty %}

                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">UN POCO SOBRE MI</h3>
                        </div>
                        <div class="box-body" style="margin-left: 10px; margin-right: 10px; padding-bottom: 20px;">

                            {{datos.descripcion|raw}}
                        </div>
                    </div>
                {%endif%}
                {%if RegistroEspecialida|default is not empty %}

                    <div class="box box-widget" id="divEspecialidades">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">ESPECIALIDADES LEGALES</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            <div  id="contenidoExp" >

                                <div   id="contenido">
                                    {%if RegistroEspecialida|default is not empty %}
                                        {%set n = 0%}
                                        {% for datos in RegistroEspecialida %}
                                            {%set n =n +1%}
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12" >
                                                        <p>  <strong>
                                                                {{datos.nombre| upper }}</strong></p>
                                                        <p style="text-align:justify;">{{datos.descripcion}}</p>
                                                    </div>   
                                                    {%if ((n>0)and (n % 3== 0))%}

                                                        <div class="clearfix"></div>

                                                    {%endif%}  
                                                </div>
                                            </div>
                                        {%endfor%}

                                    {%endif%}
                                </div></div>
                        </div>
                    </div>
                {%endif%}
                {%if RegistradaExperiencia|default is not empty %}

                    <div class="box box-widget" id="divExperiencia">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">EXPERIENCIA</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            {% for datos in RegistradaExperiencia %}
                                <div class="row " id="Exp{{datos.id}}">
                                    <div class="col-xs-2 col-sm-1" >
                                        {%if (datos.src is null)%}

                                            <img style="max-width:50px;max-height:50px;" src="{{asset('Resources/src/img/empresa/empresa.png') }}">
                                        {%else%}
                                            <a href="{{path('busquedaPerfil', {url:datos.url})}}">
                                                <img style="max-width:50px;max-height:50px;" src="{{asset('')}}{{datos.src}}">
                                            </a>
                                        {%endif%}
                                    </div>
                                    <div class="col-xs-10 col-sm-11">
                                        {%if datos.url|default is not empty %} 
                                            <a href="{{path('busquedaPerfil', {url:datos.url})}}"><span style="font-size: 16px;">{{datos.empresa}}</span>
                                                <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Haz click en el nombre/foto de la empresa para ir a la Pagina de la Compañia"></i>
                                            </a>
                                        {%else%}
                                            <span style="font-size: 16px;">{{datos.empresa}}</span>

                                        {%endif%} </br>
                                        <span style="font-size: 13px;">{{datos.puesto}}</br> 
                                            {%if (datos.dias is null)%}
                                                {{datos.fechaIn|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}} - Actualmente
                                            {%else%}
                                                {{datos.fechaIn|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}} - {{datos.fechaFin|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}} (&nbsp;{{(datos.dias/365)|round(0, 'floor')}} años {{(((datos.dias/365)-(datos.dias/365)|round(0, 'floor'))*12)|round(0, 'floor')}} meses) 
                                            {%endif%}| {{datos.hubicacion}} </span>
                                        </br><p style="width: 100%; margin-top: 5px;text-align:justify;">{{datos.funcion}}</p>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                    </div>
                                </div>
                                <p></p>
                            {%endfor%}
                        </div>
                    </div>
                {%endif%}
                {%if Edu|default is not empty %}
                    <div class="box box-widget" id="divEducacion">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">EDUCACION</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            {% for datos in Edu %}
                                <div class="row " id="Edu{{datos.idEs}}">
                                    <div class="col-xs-12 col-sm-12">
                                        <span style="font-size: 16px;">{{datos.institucion}}</span> 
                                        <br>
                                        <span style="font-size: 13px;">{{datos.disciplina~' | '~datos.titulo}}</br> {{datos.anioIni}} - {%if datos.anio|default is not empty %}{{datos.anio}}{%else%}Actualmente{%endif%}</span>

                                    </div>
                                </div>
                                <p></p>
                            {%endfor%}
                        </div>
                    </div>

                {%endif%}


                {%if Idiomas|default is not empty %}
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">IDIOMAS</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            <div class="row " id="Idioma">
                                {% for datos in Idiomas %}
                                    <div class="col-xs-3"  >
                                        <p><strong>{{datos.nombre}}</strong></p>
                                        <p>{{datos.nivel}}</p>

                                    </div>
                                {%endfor%}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                {%endif%}
                {%if Organizacion|default is not empty %}

                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">ORGANIZACION</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            {% for datos in Organizacion %}
                                <div class="row " id="Org{{datos.id}}" >
                                    <div class="col-xs-12 col-sm-12">
                                        <span style="font-size: 16px;">{{datos.nombre}}</span> 
                                        <br>
                                        <span style="font-size: 13px;">{{datos.puesto}}</br> {{datos.fechaIn|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}} - {{datos.fechaFin|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}}</span>
                                        <p style="width: 100%; margin-top: 5px;text-align:justify;">{{datos.descripcion}}
                                        </p>
                                    </div>
                                </div>
                                <p></p>
                            {%endfor%}
                        </div>
                    </div>
                {%endif%}
                {%if Certificacion|default is not empty %}
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title" style=" margin-left: 10px;">CERTIFICACION</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            {% for datos in Certificacion %}
                                <div class="row " id="Cert{{datos.id}}">
                                    <div class="col-xs-12 col-sm-12">
                                        <span style="font-size: 16px;">{{datos.institucion}}</span> 
                                        <br>
                                        <span style="font-size: 13px;">{{datos.nombre}}</br> {{datos.fechaIn|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}} - {{datos.fechaFin|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}}</span>
                                        <p style="width: 100%; margin-top: 5px;text-align:justify;">
                                        </p>
                                    </div>
                                </div>
                                <p></p>
                            {%endfor%}
                        </div>
                    </div>
                {%endif%}
                {%if Curso|default is not empty %}
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <h3 class="box-title"  style="margin-left: 10px;">CURSOS Y SEMINARIOS</h3>
                        </div>
                        <div class="box-body" style="margin: 10px;">
                            {% for datos in Curso %}
                                <div class="row " id="CM{{datos.id}}">
                                    <div class="col-xs-12 col-sm-12">
                                        <span style="font-size: 16px;">{{datos.institucion}}</span> 
                                        </br>
                                        <span style="font-size: 13px;">{{datos.nombre}}</br> {{datos.fechaIn|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}} - {{datos.fechaFin|date("M Y", "America/El_Salvador")|replace({
                                                                                                    'Jan'  : 'Enero',
                                                                                                    'Feb'  : 'Febrero',
                                                                                                    'Mar'  : 'Marzo',
                                                                                                    'Apr'  : 'Abril',
                                                                                                    'May'  : 'Mayo',
                                                                                                    'Jun'  : 'Junio',
                                                                                                    'Jul'  : 'Julio',
                                                                                                    'Aug'  : 'Agosto',
                                                                                                    'Sep'  : 'Septiembre',
                                                                                                    'Oct'  : 'Octrube',
                                                                                                    'Nov'  : 'Noviembre',
                                                                                                    'Dec'  : 'Diciembre',
                                                                                            })}}</span>
                                        <p style="width: 100%; margin-top: 5px;text-align:justify;">{{datos.descripcion}}
                                        </p>
                                    </div>
                                </div>
                                <p></p>
                            {%endfor%}
                        </div>
                    </div>
                {%endif%}


            </div>

            <div class="col-md-3 col-xs-12" >
                <div class="bloque-main pos2 no-margin" style="padding: 5px;">
                    {% if prom2 is null%}
                        <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
                    {% else %}
                        <img src="{{asset('')}}{{ prom2[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
                    {% endif %}

                </div>
                <div class="bloque-nexo pos3" style="padding: 5px;">
                    {% if prom3 is null%}
                        <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
                    {% else %}
                        <img src="{{asset('')}}{{ prom3[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
                    {% endif %}

                </div>

            </div>
        </div>
        <div class="row">
            <div class=" col-xs-12">
                <div class="box box-widget no-padding no-margin flat" >
                    <div class="box-body no-padding" style=" padding: 5px;"> 
                        <div class="mailbox-controls">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" onclick="javascript:history.go(-1)"><i class="fa fa-chevron-left text-blue"> Atrás</i></button>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>

        </div>
        <script src="{{asset('Resources/src/js/menu_movil.js')}}"></script>
        <script type="text/javascript">
                                    $(function () {
                                        $('[data-toggle="tooltip"]').tooltip();

                                        $('#myonoffswitch').change(function () {
                                            var estado;
                                            if ($('#myonoffswitch').is(":checked")) {
                                                estado = 1;
                                            } else {
                                                estado = 4;
                                            }

                                            $.ajax({
                                                type: 'POST',
                                                async: false,
                                                dataType: 'json',
                                                data: {estado: estado, hpersona: $('input#hPersona').val(), n: 12},
                                                url: Routing.generate('edit_persona'),
                                                success: function (data)
                                                {
                                                    Lobibox.notify("success", {
                                                        size: 'mini',
                                                        msg: "<p>" + data.msj + "</p>"
                                                    });
                                                },
                                                error: function (xhr, status)
                                                {
                                                    alert('Disculpe, existió un problema');
                                                }
                                            });

                                        });
                                    });

        </script>
    </div>
{%endfor%}

{% endblock %}

