<style>
    .force-hide {
        display: none !important;
    }
</style>

{% block js_extend %}
    <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
    <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('Resources/colorpicker/css/colorpicker.css') }}" />

    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src = "{{ asset('Resources/cropit-master/dist/jquery.cropit.js') }}"  type = "text/javascript" ></script> 

    <link href="{{asset('Resources/src/css/style-contenedores.css')}}" rel="stylesheet">
    <script src="{{ asset('Resources/select2/dist/js/select2.min.js') }}"></script>
    <link href="{{asset('Resources/datatable/css/datatable2.css')}}" rel="stylesheet">
    <script src="{{ asset('Resources/datatable/js/datatable.js') }}"></script>
        
{% endblock%}
{% block navegacion_Y_body %}
    {% block navegacion %}{% endblock %}
    {% block cuerpo %}
        <div class="row" style=" margin-left:15px; margin-right:15px; ">
            <div class="box box-widget">
                <div class="box-body">
                    <div class="page-header">
                        <h2>Detalles</h2>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                        <a href="{{ path('admin_promociones_index') }}" class="button">
                            <button class="btn btn-default pull-right">Regresar</button>
                        </a>
                        {% if admPromocione.servicio == 'Espacio publicitario' %}
                            {% if admPromocione.ctlPromociones.estado == 1 %}
                                <button id="cancelar" class="btn btn-default pull-right" style="margin-right: 2px;">Cancelar suscripción</button>
                            {% endif %}    
                        {% endif %}    
                    </div>
                    {#<ul>
                        <li>
                            <a href="{{ path('admin_promociones_index') }}" class="button">Regresar</a>
                        </li>                        
                    </ul>#}
                    <div class="nav-tabs-custom" style="cursor: move;">
                        {# Aquí se colocan los nombres de cada sección (tabs) #}    
                        <ul class="nav nav-tabs  ui-sortable-handle">
                            <li class="active"><a data-toggle="tab" href="#listado-promociones">Detalle de transacción</a></li>
                            <li><a data-toggle="tab" href="#registros">Editar</a></li>
                            {#<li><a data-toggle="tab" href="#consulta-pago">Consulta de pagos</a></li>#}
                        </ul>
                        {# Aquí se encuentran las secciones de las tabs #}    
                        <div class="tab-content no-padding">
                            {# Sección en donde se muestran todos los anuncios que se le han vendido #}
                            <div class="chart tab-pane active" id="listado-promociones" > 
                                <div style="margin: 15px;">
                                    <div class="row">
                                    <table class="listados table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>Id del Cliente</th>
                                                <td>{{ admPromocione.abgPersona.codigo }}</td>
                                            </tr>
                                            <tr>
                                                <th>Nombre de cliente</th>
                                                <td>{{ admPromocione.abgPersona.nombres }} {{ admPromocione.abgPersona.apellido }}</td>
                                            </tr>
                                            <tr>
                                                <th id="servicio">Servicio</th>
                                                <td>{{ admPromocione.servicio }}</td>
                                            </tr>
                                            <tr>
                                                <th>Descripción</th>
                                                <td>{{ admPromocione.descripcion }}</td>
                                            </tr>
                                            <tr>
                                                <th>Descuento</th>
                                                <td>{{ admPromocione.descuento|number_format(2, '.', ',') }}%</td>
                                            </tr>
                                            <tr>
                                                <th>Monto a cancelar</th>
                                                <td>$ {{ (admPromocione.monto - ((admPromocione.monto * admPromocione.descuento)/100))|number_format(2, '.', ',') }}</td>
                                            </tr>
                                            <tr>
                                                <th>Fecha de pago</th>
                                                <td>{% if admPromocione.fechaPago %}
                                                        {{ admPromocione.fechaPago|date('d/m/Y') }}
                                                    {% endif %}                                                    
                                                </td>
                                            </tr>
                                                
                                            {% if admPromocione.ctlPromociones %}
                                                <tr>
                                                    <th>Periodo de  suscripción</th>
                                                    <td>{% if admPromocione.ctlPromociones.fechaInicio %}
                                                            {{ admPromocione.ctlPromociones.fechaInicio|date('d/m/Y') }}
                                                        {% endif %} - 
                                                        <span id="fechafin">
                                                            {% if admPromocione.ctlPromociones.fechaFin %}
                                                                {{ admPromocione.ctlPromociones.fechaFin|date('d/m/Y') }}
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Ubicación de imagen</th>
                                                    <td>Posición {{ admPromocione.ctlPromociones.posicion }}</td>
                                                </tr>
                                            {% endif %}                                            
                                        </tbody>
                                    </table> 
                                    </div>
                                    {% if admPromocione.ctlPromociones %}
                                        <div class="row">
                                            {% if publicidad %}
                                                <div class="col-md-offset-2 col-md-8" style="margin-top: 20px;">
                                                    <strong>Imagen de Publicidad:</strong>
                                                </div>
                                                <div class="col-md-offset-2 col-md-6" style="margin-top: 20px;">                                                
                                                    <img src="{{asset('')}}{{ publicidad[0].src}}" alt="espacio_publicitario">                                                
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}                                               
                                </div>       
                                
                            </div>
                            {# Sección en donde se registra el anuncio publicitario #}
                            <div class="chart tab-pane" id="registros" style=" padding: 15px;" >
                                <form id="formulario-facturacion" method="POST" enctype="multipart/form-data">
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-md-5">
                                            {# Area en donde se selecciona  el abogado que esta solicitando el espacio publicitario #}  
                                            <div id="abogados">
                                                <label>* Abogado: </label>
                                                <p style="">{{ admPromocione.abgPersona.codigo }} - {{ admPromocione.abgPersona.nombres }} {{ admPromocione.abgPersona.apellido }}</p>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            {# Area en donde se ingresa  el monto a cancelar por el espacio publicitario #}
                                            <div id="monto-espaciop">
                                                <label>* Monto ($)</label>
                                                <input type="text" name="espaciop[costo]" id="espaciop_monto" class="form-control" style="width: 100%" placeholder="$" value="{{ admPromocione.monto }}">     
                                            </div>
                                        </div> 
                                        <div class="col-md-3">
                                            {# Area en donde se ingresa  el descuento por el espacio publicitario #}
                                            <div id="descuento">
                                                <label>Descuento (%)</label>
                                                <input type="text" name="espaciop[descuento]" id="espaciop_descuento" class="form-control" style="width: 100%" placeholder="%" value="{{ admPromocione.descuento }}">     
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-md-3">
                                            {# Area en donde se selecciona  el abogado que esta solicitando el espacio publicitario #}  
                                            <div id="tipo-servicio">
                                                <label>* Tipo de servicio</label>
                                                <select id="espaciop_tiposervicio" name="espaciop[tiposervicio]" class="espacio_tipo_servicio" style="width: 100%">
                                                    <option value="0" disabled selected>Seleccione un tipo de servicio ...</option>
                                                    <option value="Trial" {% if admPromocione.servicio == 'Trial' %} selected {% endif %}>Trial</option>
                                                    <option value="Suscripcion" {% if admPromocione.servicio == 'Suscripcion' %} selected {% endif %}>Suscripción</option>
                                                    {#<option value="Empresarial" {% if admPromocione.servicio == 'Empresarial' %} selected {% endif %}>Empresarial</option>#}
                                                    <option value="Espacio publicitario" {% if admPromocione.servicio == 'Espacio publicitario' %} selected {% endif %}>Espacio publicitario</option>
                                                </select>  

                                            </div>
                                        </div>
                                        <div id="servicio-promocion" {% if admPromocione.servicio != 'Espacio publicitario' %} style="display: none" {% endif %}>    
                                            {% if admPromocione.servicio == 'Espacio publicitario' %}
                                                <div class="col-md-3">
                                                    {# Area en donde se selecciona  el abogado que esta solicitando el espacio publicitario #}  
                                                    <div id="posicion-imagen">
                                                        <label>* Ubicación de anuncio</label>
                                                        <select id="espaciop_posicion" name="espaciop[posicion]" class="espacio_posicion" style="width: 100%">
                                                            <option value="0" disabled selected>Seleccione una ubicación ...</option>
                                                            <option value="1" {% if admPromocione.ctlPromociones.posicion  == 1 %} selected {% endif %}>Posición 1</option>
                                                            <option value="2" {% if admPromocione.ctlPromociones.posicion  == 2 %} selected {% endif %}>Posición 2</option>
                                                            <option value="3" {% if admPromocione.ctlPromociones.posicion  == 3 %} selected {% endif %}>Posición 3</option>
                                                            <option value="4" {% if admPromocione.ctlPromociones.posicion  == 4 %} selected {% endif %}>Posición 4</option>
                                                        </select>  

                                                    </div>
                                                </div>

                                                <div class="col-md-4" id="imagen">
                                                    <div id="imagen-anuncio">        
                                                        <label>* Imagen de anuncio publicitario</label>
                                                        <input id="file-input" type="file" name="file" value="">
                                                        {#<input type="hidden" id="idSesion" name="idSesion" class="form-control input-sm"/>#}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div id="espa-publ" style="display: none">
                                                    <div class="col-md-3">
                                                        {# Area en donde se selecciona  el abogado que esta solicitando el espacio publicitario #}  
                                                        <div id="posicion-imagen">
                                                            <label>* Ubicación de anuncio</label>
                                                            <select id="espaciop_posicion" name="espaciop[posicion]" class="espacio_posicion" style="width: 100%">
                                                                <option value="0" disabled selected>Seleccione una ubicación ...</option>
                                                                <option value="1">Posición 1</option>
                                                                <option value="2">Posición 2</option>
                                                                <option value="3">Posición 3</option>
                                                                <option value="4">Posición 4</option>
                                                            </select>  

                                                        </div>
                                                    </div>

                                                    <div class="col-md-4" id="imagen">
                                                        <div id="imagen-anuncio">        
                                                            <label>* Imagen de anuncio publicitario</label>
                                                            <input id="file-input" type="file" name="file" value="">
                                                            {#<input type="hidden" id="idSesion" name="idSesion" class="form-control input-sm"/>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}    
                                        </div>        
                                    </div>            
                                    <div class="row" style="margin-top: 30px;">
                                        <div class="col-md-3">
                                            {# Area en donde se ingresa  el numero de dias que estara en el espacio publicitario #}
                                            <div id="plazo">
                                                <label>* Plazo</label>
                                                <input type="text" name="espaciop[plazo]" id="espaciop_plazo" class="form-control" style="width: 100%" placeholder="# de días" value="{{ admPromocione.plazo }}">     
                                            </div>
                                        </div>   
                                        <div class="col-md-4">
                                            {# Area en donde se selecciona  el tipo de pago en que cancelara el abogado #}  
                                            <div id="tipo-pago">
                                                <label>* Tipo de pago</label>
                                                <select id="espaciop_tipopago" name="espaciop[tipopago]" class="espacio_tipopago" style="width: 100%">
                                                    <option value="" disabled selected>Seleccione un tipo de pago ...</option>
                                                    {% for pago in tipoPago %}
                                                        <option value="{{pago.id}}"  {% if pago.id == admPromocione.abgTipoPago.id %} selected {% endif %}>{{ pago.tipoPago }}</option>
                                                    {% endfor %}
                                                </select>  

                                            </div>
                                        </div>  
                                        <div class="col-md-4">
                                            {# Area en donde se ingresa  el numero de dias que estara en el espacio publicitario #}
                                            <div id="referencia" {% if admPromocione.abgTipoPago.id != 2 and admPromocione.abgTipoPago.id != 3 %} style="display: none" {% endif %}>
                                                <label>* Referencia</label>
                                                <input type="text" name="espaciop[referencia]" id="espaciop_referencia" class="form-control" style="width: 100%" placeholder="Referencia" {% if admPromocione.abgTipoPago.id == 2 or admPromocione.abgTipoPago.id == 3 %} value="{{ admPromocione.referencia }}" {% endif %}>     
                                            </div>
                                        </div>  
                                    </div>     

                                    <div class="row" style="margin-top: 30px;">

                                        <div id="vventa-descripcion" class="col-md-9 col-sm-9" style="margin-bottom: 10px;">
                                            <div id="venta-descripcion-label">
                                                <label>Descripción</label>
                                            </div> 
                                            <div class="clearfix"></div>
                                            <div id="descripcion">
                                                <textarea rows="2" cols="100" name="espaciop[descripcion]" id="espaciop_descripcion" class="form-control">{{ admPromocione.descripcion }}</textarea> 
                                            </div>     
                                        </div>  

                                    </div>  
                                    <div class="row" style="margin-top: 30px;">                                            
                                        <div id="marco-imagen" class="col-md-offset-1 col-sm-offset-1 col-md-9 col-sm-9" style="margin-bottom: 10px;"></div>                                              
                                    </div>        
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center" style="margin-top: 30px; margin-bottom: 10px;" id="modificar-venta">
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-md-offset-5 col-sm-offset-5">
                                                    <input type="submit" value="Editar" style="margin-bottom: 10px; margin-top: 15px;" class="btn btn-primary btn-block btn-flat" id="edit-venta"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </form>
                                <div class="row" style="margin-top: 18px;"></div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock%}
{% endblock%}
{% block javascripts_step %}
    <script>
        $(document).ready(function(){
            $('#espaciop_tipopago').select2();
            $('#espaciop_posicion').select2();
            $('#espaciop_tiposervicio').select2();
            
            $(document).on("change", "#espaciop_tipopago", function(){
                var tipopago = $('#espaciop_tipopago').val();
                var referencia = document.getElementById('referencia');
                    
                if (tipopago == 2 || tipopago == 3){
                    referencia.style.display = 'block';
                } else {
                    referencia.style.display = 'none';
                }
            });
            
            $(document).on("change", "#espaciop_tiposervicio", function(){
                var tiposervicio = $('#espaciop_tiposervicio').val();
                var promocion = document.getElementById('servicio-promocion');
                var espapubl = document.getElementById('espa-publ');
                    
                if (tiposervicio == 'Espacio publicitario'){
                    promocion.style.display = 'block';
                    espapubl.style.display = 'block';
                } else {
                    promocion.style.display = 'none';
                    espapubl.style.display = 'none';
                }
            });
            
            // Al momento de hacer click en Editar un anuncio publicitario de un abogado
            $(document).on("click", "#edit-venta", function(){
                var id = '{{ admPromocione.id }}';
                var abogado = $('#espaciop_abogado').val();
                var monto = $('#espaciop_monto').val();
                var tipopago = $('#espaciop_tipopago').val();
                var posicion = $('#espaciop_posicion').val();
                var plazo = $('#espaciop_plazo').val();
                var descuento = $('#espaciop_descuento').val();
                var descripcion = $('#espaciop_descripcion').val();
                var tiposervicio = $('#espaciop_tiposervicio').val();
                var referencia = $('#espaciop_referencia').val();
                var data = new FormData(document.getElementById("formulario-facturacion"));
                data.append("facturacionId", id);
                
                $.ajax({
                    type: 'POST',
                    async: false,
                    dataType: 'json',
                    data: data,
                    url: Routing.generate('admin_edicion_anuncio_publicitario'),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response)
                    {
                        var draw = '';
                        var editVenta = document.getElementById('modificar-venta');
                        
                        editVenta.style.display = 'block';
                        $('#registrar-venta').hide();
                        
                        if(tiposervicio == 'Espacio publicitario'){
                            console.log(response.imagen);
                            {#if(posicion == 2 || posicion == 3){
                                $('#marco-imagen').html('<img src=\"{{ asset('Photos/publicidad/')}}'+response.imagen+'\" style=\"width: 100%; max-width: 100%;margin-bottom: 5px;  border: 1px solid #DCDCDC;\" class=\"img-responsive\" alt=\"Imagen responsive\">');
                            } else {#}
                                $('#marco-imagen').html('<img src=\"{{ asset('Photos/Perfil/')}}'+response.imagen+'\" style=\"width: 100%; max-width: 100%;margin-bottom: 5px;  border: 1px solid #DCDCDC;\" class=\"img-responsive\" alt=\"Imagen responsive\">');
                            {# }#}
                        }
                        
                        Lobibox.notify("success", {
                            size: 'mini',
                            msg: 'Datos modificados con exito'
                        });
                        
                        return false;
                    },
                    error: function (xhr, status){
                        Lobibox.notify("danger", {
                            size: 'mini',
                            msg: 'Lo sentimos, ocurrio un error'
                        });
                        
                        return false;
                    }
                });
                
                return false;
            });
            
            $(document).on("click", "#cancelar", function(){
                Lobibox.confirm({
                    title: 'Cancelar suscripcion',
                    msg: "¿Esta seguro que desea cancelar suscripcion?",
                    buttons: {
                            'cancel': {
                                text: 'Cancelar'
                            },
                            'ok': {
                                text: 'Aceptar'
                            }
                        },
                    callback: function(lobibox, type){
                        if (type === 'ok'){
                            var id = '{{ admPromocione.id }}';
                            
                            var data = {
                              id: id  
                            };
                            
                            $.ajax({
                                type: 'POST',
                                async: false,
                                dataType: 'json',
                                data: data,
                                url: Routing.generate('admin_cancelar_anuncio_publicitario'),
                                success: function (response)
                                {
                                    $('#cancelar').hide();
                                    
                                    Lobibox.notify("success", {
                                        size: 'mini',
                                        msg: 'Se ha cancelado suscripcion con exito'
                                    });

                                    return false;
                                },
                                error: function (xhr, status){
                                    Lobibox.notify("danger", {
                                        size: 'mini',
                                        msg: 'Lo sentimos, ocurrio un error'
                                    });

                                    return false;
                                }
                            });
                        }
                        
                    }
                });
                
            });
        });  
    </script>
{% endblock%}