{% extends ':Layout:layout3.html.twig' %}

{% block js_extend %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %} 


{% block cuerpo %}

    <div class="container" style="padding: 20px 0px; background-color: #f6f6f6;">
        <div class="row">
            <div class="col-md-3">
                <div class="bloque-main" style="padding: 10px; margin-top: 10px;">
                    <ul style="list-style: none; padding: 0; margin-bottom: 0px;">
                        <p class="sans text-uppercase" style="font-size: 12px; margin-bottom: 0px;"><strong>CATEGORIAS </strong></p>
                        {% for ctlCategoriasBlog in ctlCategoriasBlog %}
                            <a id="cb" class="{{ctlCategoriasBlog.id}}"  style="text-decoration: none;"><li>{{ ctlCategoriasBlog.nombreCategoria }}</li></a>
                                {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                
                <div id="bloquemain">
                </div>                                
                <div id="registros">
                </div>
                <div class="item-directorio-nexo">
                    <div class="row">
                        <div class="col-md-7" style="padding-top: 9px;">
                            <ul class="numeroPaginas" style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">

                            </ul>
                        </div>
                        <div class="col-md-5">
                            <p class="text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                            </p>
                        </div>	
                    </div>
                </div>

            </div> <!-- end col md 9 -->

        </div> <!-- end row -->
    </div> <!-- end container -->

    <div style="height: 10px;"></div>
{% endblock cuerpo %}

{% block js_template %}

    <script src="{{ asset('Resources/datatable/js/datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            var inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
            var busqueda = $('#searchBox').val();
            var longitud = 10; //numero de registros que se van a mostrar
            var paginaActual = 1; //primer registro a mostrar
            var numPages = 0;
            //var contenidoOriginal = $('#registros').html();
            buscar(inicio, longitud, paginaActual);

            $(document).on('click', '.paginas', function () {
                paginaActual = $(this).attr('id');
                console.log("Página actual enviada: " + paginaActual);
                buscar(inicio, longitud, paginaActual);
            });

            $(document).on('click', '.siguiente', function () {
                if (paginaActual != numPages) {
                    paginaActual++;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

            $(document).on('click', '.anterior', function () {
                //console.log(paginaActual);
                if (paginaActual != 1) {
                    paginaActual--;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

        });

        function buscar(inicio, longitud, paginaActual) {

            $.ajax({
                data: {inicio: inicio, longitud: longitud, paginaActual: paginaActual},
                url: "{{path('lista_entrada')}}",
                type: "post",
                success: function (data) {

                    console.log(data.data.length);

                    $('#registros').html('');

                    $('.totalRegistros').html(data.numRegistros);
                    $('.filtroRegistros').html(data.filtroRegistros);

                    if (data.data.length > 0) {

                        var cadena = "";
                        var cadena2 = "";

                        for (i = 0; i < data.data.length; i++) {
                            //$.each( data.data , funtion(key, value){                                                                                                              
                            var identrada = data.data[i].identrada;
                            var busquedaTitulo = data.data[i].titulo;
                            var busquedaFecha = data.data[i].fecha;
                            var busquedaCategoria = data.data[i].catblognombre;
                            var busquedaContenido = data.data[i].contenido;
                            var src = data.data[i].src;

                            if (busquedaTitulo == null) {
                                busquedaTitulo = "";
                            }

                            if (busquedaFecha == null) {
                                busquedaFecha = "";
                            }

                            if (busquedaContenido == null) {
                                busquedaContenido = "-";
                            }

                            if (src == null) {
                                src = "-";
                            }

                            if (identrada == null) {
                                identrada = "-";
                            }

                            if (busquedaCategoria == null) {
                                busquedaCategoria = "-";
                            }
                            if (i === 0) {
                                var contenido = busquedaContenido.substr(0, 30);//Esto es 

                                cadena2 = '<div class="bloque-main">';
                                cadena2 += '<div class="row">';
                                cadena2 += '<div class="col-md-4">';
                                cadena2 += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                cadena2 += '</div>';
                                cadena2 += '<div class="col-md-8">';
                                cadena2 += '<p class="text-left" style="font-size: 16px; color: #555555; margin-bottom: 0px;">';
                                cadena2 += '<strong>' + busquedaTitulo + '</strong>';
                                cadena2 += '</p>';
                                cadena2 += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: asasa | ' + busquedaFecha + ' | ' + busquedaCategoria + '</p>';
                                cadena2 += '<div style="height: 83px;">';
                                cadena2 += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                cadena2 += contenido;
                                cadena2 += '</p>';
                                cadena2 += '</div>';
                                cadena2 += '<p class="text-right" style="margin-bottom: 0px;">';
                                cadena2 += '<a href="{{path('admin_blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                cadena2 += '</p>';
                                cadena2 += '</div>';
                                cadena2 += '</div>';
                                cadena2 += '</div>';

                                $('#registros').show();
                                $('#registros').append(cadena2);

                            } else {

                                var contenido = busquedaContenido.substr(0, 30);//Esto es 
                                //alert(contenido);
                                cadena = '<div class="bloque-nexo">';
                                cadena += '<div class="row">';
                                cadena += '<div class="col-md-4">';
                                cadena += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                cadena += '</div>';
                                cadena += '<div class="col-md-8">';
                                cadena += '<p class="text-left" style="font-size: 16px; color: #555555; margin-bottom: 0px;">';
                                cadena += '<strong>' + busquedaTitulo + '</strong>';
                                cadena += '</p>';
                                cadena += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: busquedaFecha | ' + busquedaFecha + ' | ' + busquedaCategoria + '</p>';
                                cadena += '<div style="height: 83px;">';
                                cadena += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                cadena += contenido;
                                cadena += '</p>';
                                cadena += '</div>';
                                cadena += '<p class="text-right" style="margin-bottom: 0px;">';
                                cadena += '<a href="{{path('admin_blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                cadena += '</p>';
                                cadena += '</div>';
                                cadena += '</div>';
                                cadena += '</div>';


                                $('#registros').show();
                                $('#registros').append(cadena);
                            }//fin del else

                            $('#busquedaVacia').hide();//                                       
                            //console.log(data.pages);
                            numPages = data.pages;
                            var cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                            for (k = 1; k <= data.pages; k++) {
                                if (k == paginaActual) {
                                    cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                } else {
                                    cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                }

                            }

                            cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                            $('.numeroPaginas').html(cadenaPaginas);

                        }//fin for
                    }//fin if
                    else {

                        $('#paginas').html(cadenaPaginas);

                        $('.totalRegistros').html(data.numRegistros);
                        $('.filtroRegistros').html(data.filtroRegistros);
                        $('#registros').hide();
                        $('#busquedaVacia').show();

                    }
                    console.log("pagina actual: " + data.paginaActual);
                    console.log("Inicio de registro: " + data.inicioRegistro);
                },
                error: function (data) {
                    Lobibox.notify("error", {
                        size: 'mini',
                        msg: 'Los datos no fueron ingresados, intente más tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                    });
                    $('#registros').append(contenidoOriginal);
                }
            });

        }//Fin funcion buscar()                       
    </script> 
    {#Aqui va para la parte de las categorias#}
    <script>
        $(document).ready(function () {
            $(document).on('click', '#cb', function () {
                var idcat = $(this).attr('class');
                var inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
                var busqueda = $('#searchBox').val();
                var longitud = 10; //numero de registros que se van a mostrar
                var paginaActual = 1; //primer registro a mostrar
                var numPages = 0;
                //var contenidoOriginal = $('#registros').html();
                buscarxcat(inicio, longitud, paginaActual, idcat);
            });

            $(document).on('click', '.paginas', function () {
                paginaActual = $(this).attr('id');
                console.log("Página actual enviada: " + paginaActual);
                buscar(inicio, longitud, paginaActual);
            });

            $(document).on('click', '.siguiente', function () {
                if (paginaActual != numPages) {
                    paginaActual++;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

            $(document).on('click', '.anterior', function () {
                //console.log(paginaActual);
                if (paginaActual != 1) {
                    paginaActual--;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

        });

        function buscarxcat(inicio, longitud, paginaActual, idcat) {


            $.ajax({
                data: {inicio: inicio, longitud: longitud, paginaActual: paginaActual, idcat: idcat},
                url: "{{path('lista_entrada_xcat')}}",
                type: "post",
                success: function (data) {

                    console.log(data.data.length);

                    $('#registros').html('');

                    $('.totalRegistros').html(data.numRegistros);
                    $('.filtroRegistros').html(data.filtroRegistros);


                    if (data.data.length > 0) {


                        var cadena = "";
                        var cadena2 = "";

                        //console.log(data.data.length);
                        for (i = 0; i < data.data.length; i++) {
                            //$.each( data.data , funtion(key, value){                                                                                                              
                            var identrada = data.data[i].identrada;
                            var busquedaTitulo = data.data[i].titulo;
                            var busquedaFecha = data.data[i].fecha;
                            var busquedaCategoria = data.data[i].catblognombre;
                            var busquedaContenido = data.data[i].contenido;
                            var src = data.data[i].src;
                            //console.log(busquedaTitulo);
                            //console.log("titulo: "+data.data[i].titulo);

                            if (busquedaTitulo == null) {
                                busquedaTitulo = "";
                            }

                            if (busquedaFecha == null) {
                                busquedaFecha = "";
                            }

                            if (busquedaContenido == null) {
                                busquedaContenido = "-";
                            }

                            if (src == null) {
                                src = "-";
                            }

                            if (identrada == null) {
                                identrada = "-";
                            }

                            if (busquedaCategoria == null) {
                                busquedaCategoria = "-";
                            }

                            //alert(i);
                            if (i === 0) {
                                var contenido = busquedaContenido.substr(0, 30);//Esto es 

                                cadena2 = '<div class="bloque-main">';
                                cadena2 += '<div class="row">';
                                cadena2 += '<div class="col-md-4">';
                                cadena2 += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                cadena2 += '</div>';
                                cadena2 += '<div class="col-md-8">';
                                cadena2 += '<p class="text-left" style="font-size: 16px; color: #555555; margin-bottom: 0px;">';
                                cadena2 += '<strong>' + busquedaTitulo + '</strong>';
                                cadena2 += '</p>';
                                cadena2 += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: ' + busquedaFecha + ' | ' + busquedaFecha + ' | ' + busquedaCategoria + '</p>';
                                cadena2 += '<div style="height: 83px;">';
                                cadena2 += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                cadena2 += contenido;
                                cadena2 += '</p>';
                                cadena2 += '</div>';
                                cadena2 += '<p class="text-right" style="margin-bottom: 0px;">';
                                cadena2 += '<a href="{{path('admin_blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                cadena2 += '</p>';
                                cadena2 += '</div>';
                                cadena2 += '</div>';
                                cadena2 += '</div>';

                                $('#registros').show();
                                $('#registros').append(cadena2);

                            } else {

                                //alert("if en uno");

                                var contenido = busquedaContenido.substr(0, 30);//Esto es 
                                //alert(contenido);
                                cadena = '<div class="bloque-nexo">';
                                cadena += '<div class="row">';
                                cadena += '<div class="col-md-4">';
                                cadena += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                cadena += '</div>';
                                cadena += '<div class="col-md-8">';
                                cadena += '<p class="text-left" style="font-size: 16px; color: #555555; margin-bottom: 0px;">';
                                cadena += '<strong>' + busquedaTitulo + '</strong>';
                                cadena += '</p>';
                                cadena += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: ' + busquedaFecha + ' | ' + busquedaFecha + ' | ' + busquedaCategoria + '</p>';
                                cadena += '<div style="height: 83px;">';
                                cadena += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                cadena += contenido;
                                cadena += '</p>';
                                cadena += '</div>';
                                cadena += '<p class="text-right" style="margin-bottom: 0px;">';
                                cadena += '<a href="{{path('admin_blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                cadena += '</p>';
                                cadena += '</div>';
                                cadena += '</div>';
                                cadena += '</div>';


                                $('#registros').show();
                                $('#registros').append(cadena);
                            }//fin del else

                            $('#busquedaVacia').hide();//                                       
                            //console.log(data.pages);
                            numPages = data.pages;
                            var cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                            for (k = 1; k <= data.pages; k++) {
                                if (k == paginaActual) {
                                    cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                } else {
                                    cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                }

                            }

                            cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                            $('.numeroPaginas').html(cadenaPaginas);
                            //$('#registros').html('prueba');
                        }//fin for
                    }//fin if
                    else {
                        //console.log('datosvacios');
                        $('#paginas').html(cadenaPaginas);
                        //console.log(data.numRegistros);
                        //console.log(data.filtroRegistros);
                        $('.totalRegistros').html(data.numRegistros);
                        $('.filtroRegistros').html(data.filtroRegistros);
                        $('#registros').hide();
                        $('#busquedaVacia').show();

                    }
                    console.log("pagina actual: " + data.paginaActual);
                    console.log("Inicio de registro: " + data.inicioRegistro);
                },
                error: function (data) {
                    Lobibox.notify("error", {
                        size: 'mini',
                        msg: 'Los datos no fueron ingresados, intente más tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                    });
                    $('#registros').append(contenidoOriginal);
                }
            });
        }
    </script> 
{% endblock js_template %}
