{% extends 'base.html.twig' %}

{% block body %}
    <h1>CtlTituloProfesional</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlTituloProfesional.id }}</td>
            </tr>
            <tr>
                <th>Abgtitulocol</th>
                <td>{{ ctlTituloProfesional.abgTitulocol }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ctltituloprofesional_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ctltituloprofesional_edit', { 'id': ctlTituloProfesional.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
