<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directorio de Abogados de El Salvador | Preguntar gratis</title>
        <meta name="robots" content="noindex">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/movilcss.css')}}" rel="stylesheet">

        <!-- Favicon (Icono Pequeño) -->
        <link rel="shortcut icon" href="{{asset('Photos/favicon.png')}}" type="image/x-icon">
        <link rel="icon" href="{{asset('Photos/favicon.png')}}" type="image/x-icon">
        
        <link rel="stylesheet" href="{{asset('Resources/AdminLTE-2.3.0/bootstrap/css/bootstrap.min.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
          <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">
          </head>
    <body>
        {% embed ':Layout:head.html.twig' %}{% endembed %}
        <div id="page-content" >

        <div class="container" style="padding-bottom: 70px; ">
            <div class="row">
                <div class="col-md-9">
                    <div class="pos1">
                        {% if prom1 is null%}
                            <img src="{{asset('Resources/src/img/banner1.png')}}" class="img-thumbnail"  style="width: 100%; max-width: 100%;" id="fotocambia">
                        {% else %}
                            <img src="{{asset('')}}{{ prom1[0].src}}" class=" img-thumbnail" style="width: 100%; max-width: 100%;" id="fotocambia">
                        {% endif %}

                    </div>
                    <p class="sans text-uppercase" style="font-size: 30px; margin-top: 16px; font-weight: 600; margin-bottom: 0px;">
                        ESTAS A UN PASO más DE TU SOLUCIóN LEGAL
                    </p>
                    <form action="{{ path('envio_pregunta') }}" method="POST" id="formPreg">
                        <label class="sans" style="margin-top: 20px;">Escriba su pregunta</label> <label class="sans" style="margin-top: 20px;color:#F00;">*</label>
                        <p class="sans" style="font-size: 13px;">Estas a 30 segundos de realizar tu pregunta gratis y encontrar el abogado perfecto para tu situación legal.</p>
                        <textarea id="txtpregunta" name="pregunta" type="text" maxlength="150"  style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; width: 100%; font-size: 14px;" class="sans" rows="3" placeholder="Escribe tu pregunta aqui.." required>{%if pregunta|default is not empty %}{{pregunta|trim}}{%endif%}</textarea>
                        <p class="sans" style="font-size: 13px; color: #999999;" id="contador">0 de 150 caracteres</p>

                        <label class="sans" style="margin-top: 15px;">Detalles adicionales</label> <label class="sans" style="margin-top: 20px;color:#F00;">*</label>
                        <p class="sans" style="font-size: 13px;">{#Lorem ipsum dolor sit amet, consectetur adipisicing elit, se.#}</p>
                        <textarea name="detalle"  maxlength="300" id="txtdetalle" type="text" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; width: 100%; font-size: 14px;" class="sans" rows="3" placeholder="Escribe tu pregunta aqui.." required></textarea>
                        <p class="sans" id="contador_detalle" style="font-size: 13px; color: #999999;">0 de 300 caracteres</p>

                        <label class="sans" style="margin-top: 15px;">Categoria de tu pregunta</label> <label class="sans" style="margin-top: 20px;color:#F00;">*</label>
                        <p class="sans" style="font-size: 13px;">{#Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.#}</p>
                        <div style="width: 35%;">
                            <select id="categoria" name="especialidad"  style=" border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; width: 100%; font-size: 14px;" required>
                                <option value="" selected style="margin-bottom: 5px;">Seleccione una categoria</option>  
                                {% for ctlEspecialidad in ctlEspecialidad %}
                                    <option value="{{ ctlEspecialidad.id  }}">{{ctlEspecialidad.nombreEspecialidad }}</option>  
                                {% endfor %}  
                            </select>
                        </div>
                        <p class="sans" style="margin-top:2px;font-size: 13px; color: #CA2121;" id="validarcat"></p>

                        <label class="sans" style="margin-top: 15px;">Correo electrónico</label> <label class="sans" style="margin-top: 20px;color:#F00;">*</label>
                        <p class="sans" style="font-size: 13px;">{#Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.#}</p>
                        <div style="width: 35%;">
                            <input type="email" id="correo" name="email" type="email" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; width: 100%; font-size: 14px;" class="sans" rows="3" placeholder="Email" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">
                        </div>
                        <div class="checkbox" style="margin-top: 15px;">
                            <label>
                                <input id="acuerdo" name="acuerdoTer" type="checkbox" required> Al hacer click estarás de acuerdo con los <a href="#">Términos y Condiciones</a>. Tu privacidad será  respetada y tu correo electrónico es solamente para dar
                                un aviso de que la pregunta ha sido respondida por parte de los abogados registrados en nuestra plataforma.
                            </label>

                        </div>
                        <div class="g-recaptcha" data-sitekey="6Lc1QyQTAAAAAPOLibXnni_MgVU_vwbBRfKoNjVC"></div>
                        
                        <button class="btn btn-primary sans" style="margin-top: 20px; border-radius: 0;" id="btnenviar1">Enviar pregunta</button>
                        <a href="{{ path('pregunta_index') }}" style="margin-top: 20px; border-radius: 0;" class="btn btn-default sans">Regresar
                        </a>
                    </form>
                    
                        
                </div>
                <div class="col-md-3">
                    {#      <div class="box box-widget">
                              <div class="box-header with-border">
                                  <h3 class="box-title">TOP 10 USUARIOS ACTIVOS </h3>
                              </div>
                              <div class="box-body">                                    
                                  <div class="list-group">
                                      {% for key, row in top %}
                                          {% set nombres = row.nombres|split(' ') %}
                                          {% set apellidos = row.apellidos|split(' ') %}
                                          <p>
                                          <div class="row">
                                              <div class="col-xs-2 text-center" style="border-right: 2px solid #f0f0f5; font-size: 30px;">
                                                  <div id="sparkline-1">{{ key + 1 }}</div>
                                              </div>
                                            
                                              <div class="col-xs-10" style="border-right: 1px solid #f4f4f4">
                                                  <div id="sparkline-2">
                                                         <div>{{ nombres[0] }} {{ apellidos[0] }}</div>
                                                      <a href="{{ path('busquedaPerfil', {url: row.url}) }}">Ver perfil</a> | {{ row.totalrespuestas }} {% if row.totalrespuestas > 1 %}respuestas{% else %}respuesta{% endif %}}
                                                  </div>
                                              </div>
          
                                          </div>
                                          </p>
                                      {% else %}
                                          <div class="row">
                                              <div class="col-xs-12">
                                                  <div id="sparkline-2">
                                                      <span>Ningún usuario ha respondido</span>
                                                  </div>
                                              </div>
                                          </div>
                                      {% endfor %}                                    
                                  </div>               
                              </div>
                          </div>#}
                    <div class="row" >
                        <div class="col-md-12">



                            {% if prom2 is null%}
                                <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia2" class="img-thumbnail" >
                            {% else %}
                                <img src="{{asset('')}}{{ prom2[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia2" class="img-thumbnail" >
                            {% endif %}

                        </div>
                    </div>

                    <div class="row" style="margin-top: 6px;">
                        <div class="col-md-12">

                            {% if prom3 is null%}
                                <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia3" class="img-thumbnail" >
                            {% else %}
                                <img src="{{asset('')}}{{ prom3[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia3" class="img-thumbnail" >
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 10px;"></div>
         </div>

   
   {#  <script src="{{ asset('Resources/jquery/jquery.js')}}"></script>#}
        <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}">
        <script src="{{ asset('Resources/select2/dist/js/select2.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
        <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="{{asset('Resources/src/js/menu_movil.js')}}"></script>
    <script type="text/javascript">
     /*   $(document).ready(function () {
     
            var max_chars = 35;

            $('#max').html(max_chars);

            $('#txtpregunta').keyup(function () {
                var chars = $(this).val().length;
                var diff = max_chars - chars;
                $('#contador').html(diff);
            });
        });*/
    </script>

        <script type="text/javascript">
            $(document).ready(function () {
              
                $('#categoria').select2();
                $('#contador').html({{pregunta|length }}+" de 150 caracteres");
                var max_chars = 150;
                var max_chars_detalle = 300;
                $('#max').html(max_chars);
                $('#txtpregunta').keyup(function () {
                    var chars = $(this).val().length;
                    var diff = chars;
                    $('#contador').html(diff + " de 150 caracteres");
                });

                $('#txtdetalle').keyup(function () {
                    var chars = $(this).val().length;
                    var diff = max_chars_detalle - chars;
                    $('#contador_detalle').html(diff + " de 300 caracteres");
                });
                
                {#$( "#formPreg" ).submit(function( event ) {
                    alert( "Handler for .submit() called." );
                    event.preventDefault();
                });#}
                var cont=0;
                
                $('#btnenviar1').on('click',function(){
                    var pregunta = $('#txtpregunta').val();
                    var detPregunta = $('#txtdetalle').val();
                    var categoria = $('#categoria').val();
                    var correo = $('#correo').val();
                    var acuerdo = $('#acuerdo').is(':checked');
                    var capctha = $('#recaptcha-token').val();
                    
                    {#console.log("Pregunta: "+pregunta);
                    console.log("Detalle: "+detPregunta);
                    console.log("Categoria: "+categoria);
                    console.log("correo: "+correo);
                    console.log("acuerdo: "+acuerdo);
                    console.log("capctcha: "+capctha);#}
                    
                    if(pregunta==='' || detPregunta==='' || categoria==='' || correo===''){
                        Lobibox.notify("error", {
                            size: 'mini',
                            msg: 'Complete los campos requeridos (*)!'
                        });
                        return false;
                    }
                    if(!acuerdo){
                        Lobibox.notify("error", {
                            size: 'mini',
                            msg: 'Debe aceptar los términos y condiciones!'
                        });
                        return false;
                    }
                    
                    //return false;
                });
                
               
            });
            /*
function validarCategoria()
{

        $.ajax({
        type: "GET",
        url: Routing.generate('preg_categoria'),
        async: false,
        dataType: 'json',
        data: {cat:$("#categoria").val()},
        success: function (data)
        {
            if(data.value==false)
            {
            $("#validarcat").text('Categoria sin abogados registrados. Seleccione otra categoria.');
            $('#btnenviar').attr("disabled", true);
        }
        else if(data.value==true)
            {
            $("#validarcat").text('');
            $('#btnenviar').attr("disabled", false);
        }
        },
        error: function (errors)
        {

        }
    });
}*/
        </script>
        <script type="text/javascript">
            var imagenes = new Array();
            var imagenes2 = new Array();
            var imagenes3 = new Array();
            var imagenes4 = new Array();

            var contador = 1;
            var contador2 = 1;
            var contador3 = 1;
            var contador4 = 1;

            var lon = 0;
            var lon2 = 0;
            var lon3 = 0;
            var lon4 = 0;

            {% for pro in prom1 %}
                imagenes.push("{{ pro.src }}");
            {% endfor %}

                lon = imagenes.length;

            {% for pro in prom2 %}
                imagenes2.push("{{ pro.src }}");
            {% endfor %}

                lon2 = imagenes2.length;

            {% for pro in prom3 %}
                imagenes3.push("{{ pro.src }}");
            {% endfor %}

                lon3 = imagenes3.length;

            {% for pro in prom4 %}
                imagenes4.push("{{ pro.src }}");
            {% endfor %}

                lon4 = imagenes4.length;

                $(document).ready(function () {


                    setInterval(cambia, 4000);

                    // Al momento de hacer click en Registrar un anuncio publicitario de un abogado
                    $(document).on("click", "#registro-venta", function () {

                    });
                });

                function cambia() {
                    console.log('cont: ' + contador);
                    console.log('lon: ' + lon);

                    if (contador >= lon) {
                        contador = 0;
                    }

                    if (lon > 0) {
                        document.getElementById("fotocambia").src = '{{asset('')}}' + imagenes[contador];
                        contador++;
                        console.log(imagenes[contador]);
                        console.log(contador);
                        console.log(lon);
                    } else {
                        document.getElementById("fotocambia").src = '{{asset('Resources/src/img/banner1.png')}}';
                    }


                    if (contador2 >= lon2) {
                        contador2 = 0;
                    }

                    if (lon2 > 0) {
                        document.getElementById("fotocambia2").src = '{{asset('')}}' + imagenes2[contador2];
                        contador2++;
                    } else {
                        document.getElementById("fotocambia2").src = '{{asset('Resources/src/img/banner.png')}}';
                    }

                    if (contador3 >= lon3) {
                        contador3 = 0;
                    }

                    if (lon3 > 0) {
                        document.getElementById("fotocambia3").src = '{{asset('')}}' + imagenes3[contador3];
                        contador3++;
                    } else {
                        document.getElementById("fotocambia3").src = '{{asset('Resources/src/img/banner.png')}}';
                    }

                    if (contador4 >= lon4) {
                        contador4 = 0;
                    }

                    if (lon4 > 0) {
                        document.getElementById("fotocambia4").src = '{{asset('')}}' + imagenes4[contador4];
                        //            contador4++;
                    } else {
                        //         document.getElementById("fotocambia4").src = '{{asset('Resources/src/img/banner1.png')}}';
                    }
                }
        </script>

</body></html>


