<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    {% if is_granted('ROLE_USER') %}
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                {% if abgFoto %} 
                    <img src="{{asset('') }}{{ abgFoto[0].src}}" class="img-circle" alt="User Image"  class="img-responsive" alt="Imagen responsive"/>
                {% endif %}
            </div> 
            <div class="pull-left info">
       
                <p >{{nombreCorto}}</p>
                <a href="#"><i class="fa fa-circle text-success "></i>Activo</a>
            </div>
        </div>

        <!-- search form -->
      {#  <form action="http://www.abogadosdeelsalvador.org/abogados/" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form> #}
    {% endif %}
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">

        <li class="header">NAVEGACIÓN PRINCIPAL</li>

        {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ path('perfil')}}">
                    <i class="fa fa-user"></i> <span>Mi perfil</span> 
                </a>
            </li>
                <li class="treeview">
                <a href="{{ path('verificar_abg') }}">
                    <i class="fa fa-certificate"></i>
                    <span>Verificarme como  abogado</span>
                </a>
            </li>
            {#<li class="treeview">
                <a href="{{ path('verificar_notario') }}">
                    <i class="fa fa-certificate"></i>
                    <span>Verificarme como  notario</span>
                </a>
            </li>#}
            <li class="treeview">
               <a href="{{ path('suscripcion_abg')}}">
                    <i class="fa fa-credit-card"></i>
                    <span>Suscripción</span>

                </a>

            </li>
            <li class="treeview">
                <a href="{{ path('empresa')}}">
                    <i class="fa fa-university"></i> <span>Página de Empresa</span>
                </a>
            </li>
              <li class="treeview">
                <a href="{{ path('ajustes', { 'username':usuario}) }}">
                    <i class="fa fa-wrench"></i> <span>Ajustes</span>
                </a>
            </li>
             <li class="treeview">
                <a href="{{ path('entrada_index')}}">
                    <i class="fa fa-rss"></i> <span>Blog Comunitario</span>
                </a>
            </li>
             <li>
            <a href="{{ path('panel_list_pregunta')}}">
                <i class="fa fa-tasks"></i> <span>Centro de Preguntas</span>
              
            </a>
        </li>
         {#<li class="treeview">
            <a href="#">
                <i class="fa fa-cloud"></i> <span>Otros servicios</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="../examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                <li><a href="../examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>

            </ul>
        </li>#}
        {#<li class="treeview">
            <a href="#">
                <i class="fa fa-question-circle"></i> <span>Ayuda</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            </ul>
        </li>#}
          {% endif %}  
        {% if (is_granted('ROLE_ADMIN'))%}
             <li>
                <a href="{{ path('perfil')}}">
                    <i class="fa fa-navicon"></i> <span>Inicio</span> 
                </a>
            </li>
            <li>
                <a href="{{path('abogados')}}">
                    <i class="fa fa-group "></i><span>Abogados</span> 
                </a>
            </li>
            <li>
                <a href="{{path('lista_pagos_pendientes_aprobacion')}}">
                    <i class="fa fa-money"></i> <span>Aprobación pagos</span> 
                </a>
            </li>
         
             <li class="treeview">
                <a href="{{ path('verificar_abg') }}">
                    <i class="fa fa-certificate"></i>
                    <span>Verificar  abogados</span>
                  {#%if NNotificaciones|default is not empty %}
                         <small class="label pull-right bg-red ">
                        {%if (NNotificaciones|number_format!=0)%} {{NNotificaciones|number_format}} {%endif%}
                        </small>
                        {%endif%#}
                </a>
            </li>
            <li class="treeview">
                <a href="{{ path('verificar_notario') }}">
                    <i class="fa fa-check-square-o"></i>
                    <span>Verificar  notarios</span>                  
                </a>
            </li>
            <li>
                <a href="{{path('admin_promociones_index')}}">
                    <i class="fa  fa-newspaper-o"></i> <span>Facturación / Ventas</span> 
                </a>
            </li>
            <li>
                <a href="{{path('lista_preguntas_pendientes_aprobacion')}}">
                    <i class="fa  fa-thumbs-up"></i> <span>Aprobación preguntas</span> 
                </a>
            </li>
        {% endif %}  
    </ul>
</section>
<!-- /.sidebar -->