<!-- Logo -->
<a href="" class="logo" >
    <!-- mini logo for sidebar mini 50x50 pixels -->

    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top " role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                    <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have 4 messages</li>
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            <li><!-- start message -->
                                <a href="#" >
                                    <div class="pull-left">

                                        {% if abgFoto %} 
                                            <img src="{{asset('') }}{{ abgFoto[0].src}}" 
                                                 style="width: 60px; height: 60px; margin: 10px; margin-bottom: 0px;" class="img-circle" alt="User Image" />
                                        {% endif %}
                                    </div>
                                    <h4>
                                        Support Team
                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                    </h4>
                                    <p>Why not buy a new awesome theme?</p>
                                </a>
                            </li><!-- end message -->
                        </ul>
                    </li>
                    <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu  ">
                <a href="#"class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    {%if NNotificaciones|default is not empty %}
                        {%if (NNotificaciones|number_format!=0)%}
                            <span class="label label-warning">{{NNotificaciones|number_format}}
                                <audio src="{{asset('Resources/src/sound/pling_facebook.mp3') }}" controls autoplay style="display: none;">
                                </audio>
                            </span>
                            {%endif%}
                        {%endif%}
                </a>
                {%if NNotificaciones|default is not empty %}
                    {%if (NNotificaciones|number_format!=0)%}
                        <ul class="dropdown-menu">
                            <li class="header">Tienes {{NNotificaciones|number_format}} notificación </li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="{{ path('verificar_abg') }}">
                                            <i class="fa fa-check text-aqua"></i> Verificar Abogado
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    {%endif%} {%endif%}
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 9 tasks</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- Task item -->
                                    <a href="#">
                                        <h3>
                                            Design some buttons
                                            <small class="pull-right">20%</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li><!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">View all tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if abgFoto %} 
                            <img src="{{asset('') }}{{ abgFoto[0].src}}" style="width: 23px; height: 23px; margin-bottom: 0px;" class="img-circle" alt="User Image" />


                        {% endif %}
                        <span class="hidden-xs">{{datos.nombre~' '~datos.apellido}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                 <li class="user-header">
                        {% if abgFoto %} 
                            <img src="{{asset('') }}{{ abgFoto[0].src}}" style="width: 90px; height: 90px; margin-bottom: 0px;" class="img-circle" alt="User Image" />

                        {% endif %}
                        <p>
                            {{datos.nombre~' '~datos.apellido}}
                            <small>{%if datos.correo|default is not empty %}
                                {{datos.correo}}
                                {%endif %}</small>
                            </p>
                        </li>
                            <!-- Menu Body -->

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ path('perfil')}}" class="btn btn-flat btnperfil btn-sm">Perfil</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ path('abogado_logout')}}"  style=" text-decoration:none;" class="btn btn-flat btnperfil btn-sm"> 
                                        Cerrar sesión
                                    </a>

                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
