
<html>
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="robots" content="noindex">
            {% endblock%}

            <title>Directorio de Abogados de El Salvador | Primero y unico directorio de abogados de El Salvador | Abogados.com.sv</title>

            {% block css %}
                <style type="text/css">
                    .main {
                        display:block;
                        position:relative;
                        margin: 0 auto;
                    }
                    .cover {
                        display:block;
                        position:relative;
                        height:160px;
                        overflow:hidden;
                        z-index:1;
                    }
                    .cover img {
                        max-width:100%;
                        z-index:1;
                    }
                    .profile {
                        border:#f6f6f6 solid 3px;
                        border-radius:5px;
                    }
                    .profile img {
                        z-index:999;
                    }
                    .nueva-Experiencia {
                        margin-top: -10px;
                        border: 1px solid #e0e0e0;
                        background-color: #ffffff;
                        padding: 20px; 
                        z-index: 0;
                    }
                </style>


            {% endblock %}


            <!-- fosjsrouting -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <!-- Stylesheet de Bootstrap -->

            <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">
            <!-- Stylesheet Personales -->
            <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <!-- bootstrap -->
            <script src="{{ asset('Resources/src/js/jquery-2.0.3.min.js')}}"></script>
            <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>  
            <!-- Favicon (Icono Pequeño) -->
            <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
            <link rel="icon" href="favicon.png" type="image/x-icon">


            <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
            <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>


            <script src="{{ asset('Resources/js/persona.js')}}"></script>


        {% endblock %}

    </head>
    <body style="background-color: #f6f6f6;">
        {% block body %}
        {% embed ':Layout:head.html.twig' %}{% endembed %}

        <!-- Template -->
        <div class="container">
            {% block descripcion_y_acciones %}
                {% block descripcion %}

                {% endblock %}
                {% block acciones %}

                {% endblock acciones %}

            {% endblock %}	
            {% block navegacion_Y_body %}

                {% block navegacion %}
                {% endblock %}

                {% block cuerpo %}

                {% endblock cuerpo %}
            {% endblock %}	
        </div>

    {% endblock %}
    {%block js_template %}

        {% block js_extend %}


        {% endblock %}


    {% endblock %}


</body>
</html>