<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directorio de Abogados de El Salvador | Primero y unico directorio de abogados de El Salvador | Abogados.com.sv</title>
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">

        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/movilcss.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">


        <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <style>
            td{
                width:100%;
            }

            .paginas,.anterior,.siguiente{
                cursor: pointer;
            }
        </style>
    </head>
    <body>
    <div id="encabezado" class="hidden-xs">
        {% embed ':Layout:head.html.twig' %}{% endembed %}
    </div>
    
    <div id="page-content ">
       
        <div class="container" style=" margin-bottom: 20px;">
            
            
            
            
            <!-- Buscador -->
		<div class="row hidden-md hidden-lg" style="margin-bottom:10px;">
                    <div class="col-xs-1" style="padding-right: 0px;">
                        <button id="volverIni" class="sans" style="font-size: 13px; margin-top: 10px; border: 0px solid #c3c3c3; background: #FFF; border-radius: 2px; height: 30px;">
                                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i> 
                                {#<span class="glyphicon glyphicon-search" aria-hidden="true"></span>#}
                        </button>
                    </div>
                    <div class="col-xs-7" style="padding-right: 2px; margin-bottom: ">
                            <input value="{{busqueda|trim}}" id="searchBoxMov" class="sans" placeholder="Realiza tu búsqueda..." style="font-size: 13px; padding-left: 0px; margin-top: 10px; border: 1px solid #c3c3c3; border-radius: 2px; width: 100%; height: 30px;">
                    </div>
                    
                    <div class="col-xs-2" style="padding-left: 2px; padding-right: 2px;">
                            <button id="searchButton" class="sans" style="font-size: 13px; margin-top: 10px; border: 1px solid #c3c3c3; border-radius: 2px; height: 30px; width: 100%;">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                    </div>
                    <div class="col-xs-2" style="padding-left: 2px;">
                            <button class="sans" style="font-size: 13px; margin-top: 10px; border: 1px solid #c3c3c3; border-radius: 2px; height: 30px; width: 100%;">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                    </div>
		</div>
            
            
            
            
            <div class="row" id="registrosBusqueda">
                <!-- LADO IZQUIERDO -->
                <div class="col-md-9">
                   <div class="bloque-main pos1 hidden-xs hidden-sm" style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; ">
                        {% if prom1 is null%}
                            <img src="{{asset('Resources/src/img/banner1.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                        {% else %}
                            <img src="{{asset('')}}{{ prom1[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                        {% endif %}
                    </div>
                    <div class="bloque-main hidden-lg hidden-md hidden-sm hidden-xs" style=" margin-top: 70px; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; ">
                        {% if prom1 is null%}
                            <img src="{{asset('Resources/src/img/banner1.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                        {% else %}
                            <img src="{{asset('')}}{{ prom1[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                        {% endif %}
                    </div>
                    <form class="form-inline hidden-xs hidden-md hidden-sm">
                        <div class="item-directorio" style="margin-top: 5px !important; padding: 10px;">
                            <div class="row no-padding" >
                                <div class="col-md-7 col-xs-8" style="padding-right: 5px;">
                                    <input value="{{busqueda|trim}}" id="searchBox" maxlength="140" {#class="searchbox"#} style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%; text-decoration: none;" placeholder="Buscar por asunto legal o nombre de abogado/firma" oninvalid="this.setCustomValidity('Porfavor ingrese el nombre de un Abogado, Bufete, Firma o Problema Legal')" > </input>
                                    <input type="hidden" id="randomDir" value="">
                                </div>
                                <div class="col-md-3 hidden-xs  col-xs-5" style=" padding-left: 5px;padding-right: 5px;">
                                    <input class="search" value="{{ciudad}}" id="searchInputDept" name="txtlugar" style="border: 1px solid #d2d6de; border-radius: 0;  height: 34px; width: 100%; text-decoration: none;" placeholder="Cuidad, Dept">
                                </div>
                                <div class="col-md-2 hidden-xs col-xs-2" style="padding-left: 5px;">
                                    <button id="searchButton" type="submit" class="searchbotondir input-group btn btn-xs" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%; background-color: #F42; color: #fff; font-weight: 600;">Buscar</button>
                                </div>
                                <div class="col-xs-2 hidden-sm hidden-md hidden-lg" style="padding-left: 5px;">
                                    <button id="searchButtonMov" type="submit" class="searchbotondir input-group btn btn-xs" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%; background-color: #F42; color: #fff; font-weight: 600;">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="0" id="inicioInput">
                    </form>
                    <div class="item-directorio-nexo" style="height: 40px; border:0px solid #FFF;">
                        <p class="pull-left col-xs-6" id="mesaje_busqueda" style="font-size: 12px; margin-bottom: 0px; padding: 0px; display: none;">
                            Mostrando los resultado para '<label id="filtro"></label>'.
                        </p>
                        <p class="numRegistros pull-right col-xs-6" style="font-size: 12px; margin-bottom: 0px; padding: 0px; text-align: right">
                            Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                        </p>
                    </div>
                    <!-- item 1 -->

                    <div id="registros" class="xs">
                        
                    </div>
                    <!-- Paginado -->
                    <div class="row hidden-lg hidden-md hidden-sm">
                            <div class="col-xs-2" style="padding-right: 2px;">
                                    <button class="sans anteriorMov" style="font-size: 13px; margin-top: 10px; border: 1px solid #c3c3c3; border-radius: 2px; height: 30px; width: 100%;">
                                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                    </button>
                            </div>
                            <div class="col-xs-8" style="padding-right: 2px;">
                                <p class="sans text-center numeroPaginas" style="margin-top: 15px;">1 .. 4, <strong>6</strong> , 7 .. 8</p>
                            </div>
                            <div class="col-xs-2" style="padding-left: 2px;">
                                    <button class="sans siguienteMov" style="font-size: 13px; margin-top: 10px; border: 1px solid #c3c3c3; border-radius: 2px; height: 30px; width: 100%;">
                                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    </button>
                            </div>
                    </div>
                    {#<div id="busquedaVacia" style="display:none;border-bottom-color: #000">
                        No se encontraron registros...
                    </div>#}
                    <!-- Fin de Items -->
                    <!-- PAGINACION -->
                    <div class="item-directorio-nexo hidden-xs" >
                        <div class="row">
                            <div class="col-md-7 col-xs-7" style="padding-top: 9px;" >
                                <ul class="numeroPaginas hidden-xs" style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">

                                </ul>
                            </div>
                            <div class="col-md-5 hidden-xs">
                                <p class="numRegistros text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                    Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                </p>
                            </div>	
                        </div>
                    </div>


                    <div style="height: 20px;"></div>

                </div> <!-- END COL-MD-9 -->

                <!-- LADO DERECHO -->
                <div class="col-md-3 hidden-xs hidden-md hidden-sm" >
                    <div class="bloque-main pos2" style="padding: 5px;">
                        {% if prom2 is null %}
                            <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
                        {% else %}
                            <img src="{{asset('')}}{{ prom2[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
                        {% endif %}
                    </div>
                    <div class="bloque-nexo pos3 hidden-xs" style="padding: 5px;">
                        {% if prom3 is null %}
                            <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
                        {% else %}
                            <img src="{{asset('')}}{{ prom3[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
                        {% endif %}
                    </div>

                    <div class="bloque-nexo pos4 hidden-xs" style="padding: 5px;">
                        {% if prom4 is null %}
                            <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia4">
                        {% else %}
                            <img src="{{asset('')}}{{ prom4[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia4">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
                    
    </div>
                  
    <style>
        .autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
        .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
        .autocomplete-no-suggestion { padding: 2px 5px;}
        .autocomplete-selected { background: #F0F0F0; }
        .autocomplete-suggestions strong { font-weight: bold; color: #000; }
        .autocomplete-group { padding: 2px 5px; }
        .autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
        a{  color:#333;}
        a:hover{  text-decoration: none;}
    </style>
    <script src="{{ asset('Resources/src/js/jquery-2.0.3.min.js')}}"></script>

    <script src="{{asset('Resources/src/js/bootstrap.js')}}"></script>
    <script src="{{ asset('Resources/datatable/js/datatable.js') }}"></script>
    {#<script src="{{ asset('Resources/js/generadorPublicidad.js') }}"></script>#}
    <script src="{{ asset('Resources/autocomplete/jquery.autocomplete.js')}}"></script>
    <script src="{{ asset('Resources/js/busquedaDirectorio.js')}}"></script>
    <script src="{{asset('Resources/src/js/menu_movil.js')}}"></script>

    <script>
        var imagenes = new Array();
        var imagenes2 = new Array();
        var imagenes3 = new Array();
        var imagenes4 = new Array();

        var contador = 1;
        var contador2 = 1;
        var contador3 = 1;
        var contador4 = 1;

        var lon = 0;
        var lon2 = 0;
        var lon3 = 0;
        var lon4 = 0;

        {% for pro in prom1 %}
            imagenes.push("{{ pro.src }}");
        {% endfor %}

            lon = imagenes.length;

        {% for pro in prom2 %}
            imagenes2.push("{{ pro.src }}");
        {% endfor %}

            lon2 = imagenes2.length;

        {% for pro in prom3 %}
            imagenes3.push("{{ pro.src }}");
        {% endfor %}

            lon3 = imagenes3.length;

        {% for pro in prom4 %}
            imagenes4.push("{{ pro.src }}");
        {% endfor %}

            lon4 = imagenes4.length;

            $(document).ready(function () {
                $('#randomDir').val('');
                var inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
                var busqueda = $('#searchBox').val();
                var longitud = 10; //numero de registros que se van a mostrar
                var paginaActual = 1; //primer registro a mostrar
                var numPages = 0;
                var orderBy="";
                //var contenidoOriginal = $('#registros').html();
                if($('#searchBox').val()!='' || $('#searchBoxMov').val()!=''){
                    buscar(busqueda, inicio, longitud, paginaActual,orderBy);
                }
                else{
                    $('.numRegistros,.anteriorMov,.siguienteMov,.numeroPaginas').hide();
                }
                $(document).on('click', '#searchButton, #searchButtonMov', function () {
                    $('#randomDir').val('');
                    inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
                    busqueda = $('#searchBox').val();
                    longitud = 10; //numero de registros que se van a mostrar
                    paginaActual = 1; //numero de registros que se van a mostrar
                    buscar(busqueda, inicio, longitud, paginaActual,orderBy);
                    return false;
                });


                $(document).on('input', '#searchBoxMov', function () {
                    var valorMov = $(this).val();
                    $('#searchBox').val(valorMov);
                });
                $(document).on('click', '.paginas', function () {
                    paginaActual = $(this).attr('id');
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(busqueda, inicio, longitud, paginaActual,orderBy);
                });

                $(document).on('click', '.siguiente,.siguienteMov', function () {
                    if (paginaActual != numPages) {
                        paginaActual++;
                        console.log("Página actual enviada: " + paginaActual);
                        buscar(busqueda, inicio, longitud, paginaActual,orderBy);
                    }
                });

                $(document).on('click', '.anterior,.anteriorMov', function () {
                    //console.log(paginaActual);
                    if (paginaActual != 1) {
                        paginaActual--;
                        console.log("Página actual enviada: " + paginaActual);
                        buscar(busqueda, inicio, longitud, paginaActual,orderBy);
                    }
                });
                $(document).on('click', '#volverIni', function () {
                    window.history.back();
                });


                $(document).on('change', '#filtrarDepartamento', function () {
                    var deptoId = $(this).val();

                    $.ajax({
                        data: {inicio: inicio, longitud: longitud, paginaActual: paginaActual, busqueda: busqueda, deptoId: deptoId},
                        url: "{{path('busqueda_mun')}}",
                        type: "post",
                        success: function (data) {
                            var item = '';
                            $('#filtrarMunicipio').html('');
                            item += '<option selected value=\"0\">Todos...</option>';
                            $('#filtrarMunicipio').append(item);
                            for (i = 0; i < data.length; i++) {
                                item = '';
                                item += '<option value=\"' + data[i].id + '\" >' + data[i].nombre + '</option>';
                                $('#filtrarMunicipio').append(item);
                            }
                            $('#filtrarMunicipio').select2();
                        },
                        error: function (data) {

                        }
                    });

                });
                if($('#encabezado').is(':visible')){
                    setInterval(cambia, 4000);
                }
                
                
            });

            function buscar(busqueda, inicio, longitud, paginaActual,orderBy) {
                $('.anteriorMov').hide();
                $('.siguienteMov').hide();
                $('.numRegistros').hide();
                $('#mesaje_busqueda').hide();
                $('.numeroPaginas').html('');
                $('#registros').html('<div style="text-align:center;margin-top:20px;" class="col-md-12 col-xs-12 pull-right"><i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>Buscando...</div>');
                //return false;
                orderBy=$('#randomDir').val();
                //numero de registros por página
                if(!$('#encabezado').is(':visible')){
                    longitud=6;//movil
                }
                else{
                    longitud=10;//desktop
                }
                //  var deptoId = $('#filtrarDepartamento').val();
                var munId = $('#searchInputDept').val();
                var cadenaPaginas = "";
                // ERAAAAAAAAAAAA (busqueda != "")
                if (busqueda == "" || busqueda != "") {

                    $.ajax({
                        data: {inicio: inicio, longitud: longitud, paginaActual: paginaActual, busqueda: busqueda, munId: munId, orderBy: orderBy},
                        url: "{{path('busqueda_data')}}",
                        type: "post",
                        success: function (data) {
                            //console.log(data);
                            
                            $('#registros').html('');
                            $('.numRegistros').show();
                            
                            $("#mesaje_busqueda").css("display", "block");
                            if ($('#searchInputDept').val() !== "" && $('#searchBox').val() != "")
                            {
                                $('#filtro').text($('#searchBox').val() + '| ' + $('#searchInputDept').val());
                            }
                            if ($('#searchInputDept').val() !== "" && $('#searchBox').val() == "")
                            {
                                $('#filtro').text($('#searchInputDept').val());
                            }
                            if ($('#searchInputDept').val() == "" && $('#searchBox').val() !== "")
                            {
                                $('#filtro').text($('#searchBox').val());
                            }

                            $('.totalRegistros').html(data.numRegistros);
                            $('.filtroRegistros').html(data.filtroRegistros);

                            if (data.data.length != 0) {
                                $('.numRegistros,.anteriorMov,.siguienteMov,.numeroPaginas').show();
                                $('#inicioInput').val((parseInt($('#inicioInput').val()) + 1));
                                var cadena = "";
                                for (i = 0; i < data.data.length; i++) {
                                    var busquedaImagen = "#busquedaImagen" + (i + 1);
                                    var busquedaTelefono = "#busquedaTelefono" + (i + 1);
                                    var busquedaEspecialidades = "#busquedaEspecialidades" + (i + 1);

                                    var busquedaNombre = data.data[i].nombres + ' ' + data.data[i].apellido;
                                    var busquedaCargo = "";
                                    var telefonos = "";
                                    var busquedaCorreo = data.data[i].correoelectronico;
                                    var busquedaFoto = data.data[i].foto;

                                    var busquedaSitioWeb = data.data[i].sitioweb;
                                    
                                    if (busquedaFoto == null) {
                                        busquedaFoto = "";
                                    }

                                    if (data.data[i].puesto == null) {
                                        busquedaCargo = "";
                                    } else {
                                        busquedaCargo = data.data[i].puesto;
                                    }

                                    if (busquedaCorreo == null) {
                                        busquedaCorreo = "-";
                                    }

                                    if (busquedaSitioWeb == null) {
                                        busquedaSitioWeb = "";
                                    }

                                    //console.log(data);

                                    var telefonos = "";
                                    if (data.data[i].telefono_fijo === null || data.data[i].telefono_fijo === '') {
                                        //data.data[i].telefonoFijo="";
                                        if (data.data[i].telefono_movil === null || data.data[i].telefono_movil === '') {
                                            telefonos = "-";
                                        } else {
                                            telefonos = "+503 " + data.data[i].telefono_movil;
                                        }
                                    } else {
                                        telefonos = "+503 " + data.data[i].telefono_fijo;
                                        if (data.data[i].telefono_movil === null || data.data[i].telefono_movil === '') {
                                            telefonos += "";
                                        } else {
                                            telefonos += ", +503 " + data.data[i].telefono_movil;
                                        }

                                    }

                                    //console.log(data.data[i].especialidades.length);
                                    var especialidades = "";
                                    if (data.data[i].especialidad !== 'undefined') {
                                        especialidades += data.data[i].especialidad;

                                    } else {
                                        especialidades = "N/A";
                                    }
                                    var verificado = '';
                                    if (data.data[i].verificado == 1) {
                                        verificado = '<img src="{{asset('Resources/src/img/verified.png')}}" style="width: 25px; margin-bottom: 0px;margin-left:1px;" data-toggle="tooltip" data-placement="right" title="Abogado Verificado"></p>';
                                    }

                                    if(!$('#encabezado').is(':visible')){
                                        $('.anteriorMov').show();
                                        $('.siguienteMov').show();
                                        if(i==data.data.length){
                                            cadena = '<div class=\"item-directorio-movil\" style=\"margin-top: 0px !important;\">';
                                        }
                                        else{
                                            cadena = '<div class=\"item-directorio-movil\" style=\"margin-top: -1px !important;\">';
                                        }
                                            
                                        
                                        cadena +='<div class=\"row hidden-lg hidden-md hidden-sm\"><!-- Foto -->\n\
                                                    <div class=\"col-xs-3\" style=\"padding-right: 5px;\">\n\
                                                        <a href=\"../' + data.data[i].url + '\">\n\
                                                            <img src=\"{{asset('')}}' + data.data[i].foto + '\" style=\"max-width: 100%; width: 100%; padding: 3px;\">\n\
                                                        </a>\n\
                                                    </div>\n\
                                                    <!-- Contacto+Info -->\n\
                                                    <div class=\"col-xs-9\" style=\"padding-left: 0px;\">\n\
                                                        <a href=\"../' + data.data[i].url + '\"><p style=\"margin-top: 5px; font-size: 1em; margin-bottom: 0px; font-size: 12px;\" class=\"sans\"><strong>' + busquedaNombre +'</strong></p></a>\n\
                                                        <p style=\"color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 10px;\" class=\"sans\">'+busquedaCargo+'</p>\n\
                                                        <p class=\"sans\" style=\"font-size: 11px; margin-bottom: 0px; margin-top: 1px;\"><strong>Especialidades:</strong> '+especialidades+'</p>\n\
                                                    </div>\n\
                                                </div> <!-- end row -->\n\
                                                <div class=\"row hidden-md hidden-lg hidden-sm\" style=\"padding: 2px;\">\n\
                                                    <div class=\"col-xs-4\" style=\"padding-right: 2px;\">\n\
                                                        <a href=\"tel:+'+data.data[i].telefono_movil+'\">\n\
                                                        <button class=\"sans borded\"><span class=\"glyphicon glyphicon-earphone\" aria-hidden=\"true\"></span> \n\
                                                            <strong>Llamar</strong>\n\
                                                        </button></a>\n\
                                                    </div>\n\
                                                    <div class="col-xs-4" style=\"padding-left: 2px;\">\n\
                                                    <a href=\"../' + data.data[i].url + '\">\n\
                                                        <button class=\"sans borded\"><span class=\"glyphicon glyphicon-user\" aria-hidden=\"true\"></span>\n\
                                                            <strong>Perfil</strong>\n\
                                                        </button>\n\
                                                    </a>\n\
                                                    </div>\n\
                                                </div></div>';
    
                                    }
                                    else{
                                        if(i===0){//evalua si pintar un borde superior en el primer elemento de la busqueda
                                            cadena = '<div class=\"item-directorio-nexo\" style=\"width: 100%; border-top:1px solid #E0E0E0\"> <div class=\"clearfix\"></div><div class=\"row\">';
                                        }
                                        else{
                                            cadena = '<div class=\"item-directorio-nexo\" style=\"width: 100%;\"> <div class=\"clearfix\"></div><div class=\"row\">';
                                        }
                                        
                                        cadena+='<div class=\"col-xs-3 col-sm-3 col-md-3 col-lg-2\"><img id=\"busquedaImagen' + (i + 1) + '\" src=\"{{asset('')}}' + data.data[i].foto + '\" style="max-width: 100%; width: 100%; margin-left: 10px; margin-top: 15px; margin-bottom: 15px; margin-right: 10px;">\n\
                                        </div><div class=" col-xs-9 col-sm-9 col-md-9 col-lg-10"><p id=\"busquedaNombre' + (i + 1) + '\" style=\"margin-top: 10px; font-size: 1.3em; margin-bottom: 0px;\" class=\"sans\"><strong>' + busquedaNombre + '</strong>' + verificado + '</p>\n\
                                        <p id=\"busquedaCargo' + (i + 1) + '\" style=\"color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 12px;\" class=\"sans\">' + busquedaCargo + '</p>\n\
                                        <div class=\"row\" style=\"margin-top: 2px; margin-bottom: 15px;\"><div class=\" hidden-xs hidden-md col-sm-4 col-xs-12\"><p style=\"color: #4444444; font-size: 11px; margin-bottom: 0px;\"><strong>Telefono</strong></p><p id=\"busquedaTelefono1\" style=\"font-size: 11px; margin-bottom: 0px;\">' + telefonos + ' </p>\n\
                                        </div><div class=\"hidden-xs hidden-md col-sm-4 col-xs-12\"><p style="color: #4444444; font-size: 11px; margin-bottom: 0px;"><strong>Email</strong></p><p id="busquedaCorreo' + (i + 1) + '" style="font-size: 11px; margin-bottom: 0px;">' + busquedaCorreo + '</p></div>\n\
                                        <div class=\"hidden-xs hidden-md col-sm-4 col-xs-12\"><p style=\"color: #4444444; font-size: 11px; margin-bottom: 0px;\"><strong>Sitio Web</strong></p>\n\
                                        <p id=\"busquedaSitioWeb' + (i + 1) + '\" style=\"font-size: 11px; margin-bottom: 0px;\"><a href=\"http://' + busquedaSitioWeb + '\" target=\"_blank\">' + busquedaSitioWeb + '</a></p></div>\n\
                                        <div class=\"col-sm-12\"><span style=\"color: #4444444; font-size: 11px; margin-bottom: 0px; padding-right: 10px;\"><strong>Especialidades:</strong> </span>\n\
                                        <span id=\"busquedaEspecialidades' + (i + 1) + '\" style=\"font-size: 11px;\">' + especialidades + '</span>\n\
                                        </div><div class=\"hidden-xs hidden-md col-sm-12\" style=\"margin-top: -0px;\"><span style=\"font-size: 11px;\"><a href=\"../' + data.data[i].url + '\">Ver perfil</a></span>\n\
                                        <span style=\"color: #777777; margin-left: 5px; margin-right: 5px;\">|</span><span style=\"font-size: 11px;\"><a href=\"{{path('contacto')}}?correo=' + busquedaCorreo + '\">Contactar</a></span>\n\
                                        <span style=\"color: #777777; margin-left: 5px; margin-right: 5px;\">|</span><span style=\"font-size: 11px;\"><a href=\"{{path('recomendacion')}}?correo=' + busquedaCorreo + '\">Recomendar</a></span></div></div></div></div><div class=\"row hidden-md hidden-lg hidden-sm\" style=\"padding: 2px;\"><div class="col-xs-4" style="padding-right: 2px;"><button class="sans borded"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <strong>Llamar</strong></button></div><div class="col-xs-4" style="padding-left: 2px; "><button class="sans borded"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>Perfil</strong></button></div></div></div>';
                                    }
                                    $(busquedaImagen).attr('src', "{{asset('')}}" + data.data[i].foto);
                                    $(busquedaImagen).load();
                                    $('#registros').show();
                                    $('#registros').append(cadena);

                                    $('#busquedaVacia').hide();

                                    numPages = data.pages;
                                    orderBy = data.order;
                                    $('#randomDir').val(orderBy);
                                    cadenaPaginas = '';
                                    if(paginaActual!=1){
                                        
                                        
                                        if(!$('#encabezado').is(':visible')){
                                            //cadenaPaginas = '<div class="col-xs-2" style="padding-right: 2px;"><button class="sans" style="font-size: 13px; margin-top: 10px; border: 1px solid #c3c3c3; border-radius: 2px; height: 30px; width: 100%;"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button></div>';
                                            
                                        }
                                        else{
                                            cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                                        }
                                    }
                                    else{
                                        $('.anteriorMov').hide();
                                    }
                                    if (data.pages > 10) {
                                        if (paginaActual == 1) {
                                            cadenaPaginas += '<li class="paginas" id="' + paginaActual + '" style=\"display: inline; padding: 7px;\"><strong>' + paginaActual + '</strong></li>';
                                            cadenaPaginas += '<li class="paginas" id="' + (parseInt(paginaActual) + 1) + '" style=\"display: inline; padding: 7px;\">' + (parseInt(paginaActual) + 1) + '</li>';
                                            cadenaPaginas += '<li class="paginas" id="' + data.pages + '" style=\"display: inline; padding: 7px;\">...' + data.pages + '</li>';
                                        } else {
                                            if (paginaActual == 2) {
                                                cadenaPaginas += '<li class="paginas" id="' + 1 + '" style=\"display: inline; padding: 7px;\">' + 1 + '</li>';
        {#                                                cadenaPaginas+='<li class="paginas" id="'+(paginaActual-1)+'" style=\"display: inline; padding: 7px;\">'+(paginaActual-1)+'</li>';#}
                                                cadenaPaginas += '<li class="paginas" id="' + paginaActual + '" style=\"display: inline; padding: 7px;\"><strong>' + paginaActual + '</strong></li>';
                                                cadenaPaginas += '<li class="paginas" id="' + (parseInt(paginaActual) + 1) + '" style=\"display: inline; padding: 7px;\">' + (parseInt(paginaActual) + 1) + '</li>';
                                                cadenaPaginas += '<li class="paginas" id="' + data.pages + '" style=\"display: inline; padding: 7px;\">...' + data.pages + '</li>';
                                            } else {
                                                if (paginaActual == (data.pages - 1)) {
                                                    cadenaPaginas += '<li class="paginas" id="' + 1 + '" style=\"display: inline; padding: 7px;\">' + 1 + '...</li>';
                                                    cadenaPaginas += '<li class="paginas" id="' + (parseInt(paginaActual) - 1) + '" style=\"display: inline; padding: 7px;\">' + (parseInt(paginaActual) - 1) + '</li>';
                                                    cadenaPaginas += '<li class="paginas" id="' + paginaActual + '" style=\"display: inline; padding: 7px;\"><strong>' + paginaActual + '</strong></li>';
                                                    cadenaPaginas += '<li class="paginas" id="' + data.pages + '" style=\"display: inline; padding: 7px;\">' + data.pages + '</li>';
                                                } else {
                                                    if (paginaActual == data.pages) {
                                                        cadenaPaginas += '<li class="paginas" id="' + 1 + '" style=\"display: inline; padding: 7px;\">' + 1 + '...</li>';
                                                        cadenaPaginas += '<li class="paginas" id="' + (parseInt(paginaActual) - 1) + '" style=\"display: inline; padding: 7px;\">' + (parseInt(paginaActual) - 1) + '</li>';
                                                        cadenaPaginas += '<li class="paginas" id="' + paginaActual + '" style=\"diplay: inline; padding: 7px;\"><strong>' + paginaActual + '</strong></li>';
                                                    } else {
                                                        cadenaPaginas += '<li class="paginas" id="' + 1 + '" style=\"display: inline; padding: 7px;\">' + 1 + '...</li>';
                                                        cadenaPaginas += '<li class="paginas" id="' + (parseInt(paginaActual) - 1) + '" style=\"display: inline; padding: 7px;\">' + (parseInt(paginaActual) - 1) + '</li>';
                                                        cadenaPaginas += '<li class="paginas" id="' + paginaActual + '" style=\"display: inline; padding: 7px;\"><strong>' + paginaActual + '</strong></li>';
                                                        cadenaPaginas += '<li class="paginas" id="' + (parseInt(paginaActual) + 1) + '" style=\"display: inline; padding: 7px;\">' + (parseInt(paginaActual) + 1) + '</li>';
                                                        cadenaPaginas += '<li class="paginas" id="' + data.pages + '" style=\"display: inline; padding: 7px;\">...' + data.pages + '</li>';
                                                    }
                                                }
                                            }
                                        }
                                    } else {

                                        for (k = 1; k <= data.pages; k++) {
                                            if (k == paginaActual) {
                                                cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                            } else {
                                                cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                            }
                                        }
                                    }

                {#                                        cadenaPaginas+='<li class="paginas" id="'+k+'" style=\"display: inline; padding: 7px;\"><strong>'+k+'</strong></li>';#}
                                if(numPages!=paginaActual){
                                    if(!$('#encabezado').is(':visible')){
                                        //cadenaPaginas += '<li class="siguiente pull-right" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                                    }
                                    else{
                                        cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                                    }
                                    
                                }
                                else{
                                    $('.siguienteMov').hide();
                                }
                                
                                if(!$('#encabezado').is(':visible')){
                                    $('.numeroPaginas').html('<div style="text-align:center">'+cadenaPaginas+'</div>');
                                }
                                else{
                                    $('.numeroPaginas').html(cadenaPaginas);
                                }
                                
                                    
                                    //$('#registros').html('prueba');
                                }//fin for
                            }//fin if
                            else {
                                cadenaPaginas = '';
                                $('.numeroPaginas').html('');
                                console.log('datosvacios');

                                console.log(data.numRegistros);
                                console.log(data.filtroRegistros);
                                //$('.totalRegistros').html(data.numRegistros);
                                //$('.filtroRegistros').html(data.filtroRegistros);
                                //$('#registros').hide();
                                
                                $('.numRegistros').hide();
                                $('.numeroPaginas').html('');
                                $('#registros').html('<div style="text-align:center;margin-top:20px;" class="col-md-12 col-xs-12 pull-right">No se encontraron registros!</div>');
                                $('#mesaje_busqueda').hide();
                                //$('#busquedaVacia').show();

                            }

                        },
                        error: function (data) {
                            $('#registros').html('<div style="text-align:center;margin-top:20px;" class="col-md-12 col-xs-12 pull-right">Ocurrió un error, intente de nuevo!</div>');
                            $('#mesaje_busqueda').hide();
                            // $('#registros').append(contenidoOriginal);
                        },
                        timeout: function(){
                            $('#registros').html('<div style="text-align:center;margin-top:20px;" class="col-md-12 col-xs-12 pull-right">El servidor no esta respondiendo, intente de nuevo</div>');
                            $('#mesaje_busqueda').hide();
                        }
                    });
                } else {
                    //$('#registros').hide();
                    //$('#busquedaVacia').show();
                    $('#registros').html('<div style="text-align:center;margin-top:20px;" class="col-md-12 col-xs-12 pull-right">No se encontraron registros!</div>');
                    $('#mesaje_busqueda').hide();
                }


            }

            function cambia() {
                console.log('cont: ' + contador);
                console.log('lon: ' + lon);
                if (contador >= lon) {
                    contador = 0;
                }

                if (lon > 0) {
                    document.getElementById("fotocambia").src = '{{asset('')}}' + imagenes[contador];
                    contador++;
                    console.log(imagenes[contador]);
                    console.log(contador);
                    console.log(lon);
                } else {
                    document.getElementById("fotocambia").src = '{{asset('Resources/src/img/banner1.png')}}';
                }


                if (contador2 >= lon2) {
                    contador2 = 0;
                }

                if (lon2 > 0) {
                    document.getElementById("fotocambia2").src = '{{asset('')}}' + imagenes2[contador2];
                    contador2++;
                } else {
                    document.getElementById("fotocambia2").src = '{{asset('Resources/src/img/banner.png')}}';
                }

                if (contador3 >= lon3) {
                    contador3 = 0;
                }

                if (lon3 > 0) {
                    document.getElementById("fotocambia3").src = '{{asset('')}}' + imagenes3[contador3];
                    contador3++;
                } else {
                    document.getElementById("fotocambia3").src = '{{asset('Resources/src/img/banner.png')}}';
                }

                if (contador4 >= lon4) {
                    contador4 = 0;
                }

                if (lon4 > 0) {
                    document.getElementById("fotocambia4").src = '{{asset('')}}' + imagenes4[contador4];
                    contador4++;
                } else {
                    document.getElementById("fotocambia4").src = '{{asset('Resources/src/img/banner1.png')}}';
                }
            }

            function inicio() {
                setInterval(cambia(), 10000);
            }
    </script>
</body>
</html>


