{% extends ':Layout:layout3.html.twig' %}
{% block js_extend %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
        
       
    </script>
{% endblock %} 
{% block cuerpo %}
{% embed ':Layout:head.html.twig' %}{% endembed %}
<div class="row" style=" padding: 10px; background-color:#ecf0f5; padding-bottom:0px;">
    <div class="col-md-12">
        <div class="box box-widget no-margin">
            <div class="box-body" style=" padding: 5px;"> 
                <div class="pos1">
                    {% if prom1 is null%}
                        <img src="{{asset('Resources/src/img/banner1.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                    {% else %}
                        <img src="{{asset('')}}{{ prom1[0].src}}" style="width: 100%; max-width: 100%;height: 220px;" id="fotocambia">
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style=" padding: 10px; background-color:#ecf0f5; ">
    <div class="col-md-9" style="padding-right:0px;">

        <div class="panel panel-primary">
            <div class="panel-heading">ENTRADAS<i class="fa  fa-caret-down pull-right " id="iver" onClick="bntCategorias()"></i><i class="fa   fa-caret-up pull-right " id="inver" style=" display: none;" onClick="bntCategorias()"></i>
            </div>
            <div class="panel-body no-padding" >
                <div id="bloquemain">
                </div>                                
                <div id="registros" class="table-hover">
                </div>
                <div class="item-directorio-nexo">
                    <div class="row">
                        <div class="col-md-7" style="padding-top: 9px;">
                            <ul class="numeroPaginas" style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <p class="text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                            </p>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end col md 9 -->
    <div class="col-md-3" style="padding-left:10px;">
        <div class="panel panel-primary" style="border-radius:3px; margin-bottom:5px;margin-bottom: 15px; display:none;" id="divCategorias">
         
            <div class="panel-heading">CATEGORIAS</div>
            <div class="panel-body" style="margin-left: 10px;">
                <ul class="products-list product-list-in-box">
                    {% for ctlCategoriasBlog in ctlCategoriasBlog %}
                        <li class="item"><a href="#" id="cb" class="{{ctlCategoriasBlog.id}}"  
                                            style="text-decoration: none;">{{ ctlCategoriasBlog.nombreCategoria }}</a></li>
                        {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Publicida -->
        <div class="bloque-main pos2 no-margin" style="padding: 5px;border-radius:3px; ">
            {% if prom2 is null%}
                <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
            {% else %}
                <img src="{{asset('')}}{{ prom2[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
            {% endif %}

        </div>
        <div class="bloque-nexo pos3" style="padding: 5px;border-radius:3px; margin-top:5px;">
            {% if prom3 is null%}
                <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
            {% else %}
                <img src="{{asset('')}}{{ prom3[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
            {% endif %}

        </div>
    </div>
    <!-- end row -->
</div>
{% endblock cuerpo %}

{% block js_template %}

    {#<script src="{{ asset('Resources/datatable/dataTable.js') }}"></script>#}
    <script src="{{ asset('Resources/datatable/js/datatable.js') }}"></script>
    <script>
        
         function bntCategorias()
        {
            if( $('#divCategorias').is(":visible"))
            {
                    $("#iver").css("display","block");
                  $("#divCategorias").css("display","none");
                  
                  $("#inver").css("display","none");
            }
            else
            {
            $("#divCategorias").css("display","block");
              $("#iver").css("display","none");
            $("#inver").css("display","block");
            
       
            
        }
        }
        $(document).ready(function () {
            var inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
            var busqueda = $('#searchBox').val();
            var longitud = 10; //numero de registros que se van a mostrar
            var paginaActual = 1; //primer registro a mostrar
            var numPages = 0;
            //var contenidoOriginal = $('#registros').html();
            buscar(inicio, longitud, paginaActual);

            $(document).on('click', '.paginas', function () {
                paginaActual = $(this).attr('id');
                console.log("Página actual enviada: " + paginaActual);
                buscar(inicio, longitud, paginaActual);
            });

            $(document).on('click', '.siguiente', function () {
                if (paginaActual != numPages) {
                    paginaActual++;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

            $(document).on('click', '.anterior', function () {
                //console.log(paginaActual);
                if (paginaActual != 1) {
                    paginaActual--;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

        });

        function buscar(inicio, longitud, paginaActual) {

            $.ajax({
                data: {inicio: inicio, longitud: longitud, paginaActual: paginaActual},
                url: "{{path('lista_entrada')}}",
                type: "post",
                success: function (data) {

                    console.log(data.data.length);

                    $('#registros').html('');
                    $('.totalRegistros').html(data.numRegistros);
                    $('.filtroRegistros').html(data.filtroRegistros);
                    if (data.data.length > 0) {
                        var cadena = "";
                        var cadena2 = "";
                        for (i = 0; i < data.data.length; i++) {
                            //$.each( data.data , funtion(key, value){  
                            var busquedaNombre = data.data[i].nombres;
                            var busquedaApellido = data.data[i].apellidos;
                            var identrada = data.data[i].identrada;
                            var busquedaTitulo = data.data[i].titulo;
                            var busquedaFecha = data.data[i].fecha;
                            var busquedaCategoria = data.data[i].catblognombre;
                            var busquedaContenido = data.data[i].contenido;
                            var src = data.data[i].src;

                            if (busquedaTitulo == null) {
                                busquedaTitulo = "";
                            }

                            if (busquedaFecha == null) {
                                busquedaFecha = "";
                            }

                            if (busquedaContenido == null) {
                                busquedaContenido = "-";
                            }

                            if (src == null) {
                                src = "-";
                            }

                            if (identrada == null) {
                                identrada = "-";
                            }

                            if (busquedaCategoria == null) {
                                busquedaCategoria = "-";
                            }

                            //alert(i);
                            if (i === 0) {
                                var contenido = busquedaContenido.substr(0, 100);//Esto es 
                                var fecha = busquedaFecha.split("-"); 
                                
                                switch (fecha[1]) {
                                    case '01':
                                        fecha[1] = "Enero";
                                        break;
                                    case '02':
                                        fecha[1] = "Febrero";
                                        break;
                                    case '03':
                                        fecha[1] = "Marzo";
                                        break;
                                    case '04':
                                        fecha[1] = "Abril";
                                        break;
                                    case '05':
                                        fecha[1] = "Mayo";
                                        break;
                                    case '06':
                                        fecha[1] = "Junio";
                                        break;
                                    case '07':
                                        fecha[1] = "Julio";
                                        break;
                                    case '08':
                                        fecha[1] = "Agosto";
                                        break;
                                    case '09':
                                        fecha[1] = "Septiembre";
                                        break;
                                    case '10':
                                        fecha[1] = "Octubre";
                                        break;
                                    case '11':
                                        fecha[1] = "Noviembre";
                                        break;
                                    case '12':
                                        fecha[1] = "Diciembre";
                                        break;
                                } 
                                
                                cadena2 = '<div class="bloque-main">';
                                cadena2 += '<div class="row">';
                                cadena2 += '<div class="col-md-4">';
                                cadena2 += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                cadena2 += '</div>';
                                cadena2 += '<div class="col-md-8">';
                                cadena2 += '<p class="text-left " style="font-size: 16px; color: #337ab7; margin-bottom: 0px;">';
                                cadena2 += '<strong>' + busquedaTitulo.toUpperCase()+ '</strong>';
                                cadena2 += '</p>';
                                cadena2 += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: ' + busquedaNombre + ' ' + busquedaApellido + ' | ' + busquedaCategoria + ' | ' + fecha[2] + ' de ' + fecha[1] + ' de ' + fecha[0] + '</p>';
                                cadena2 += '<div style="height: 83px;">';
                                cadena2 += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                cadena2 += contenido + ' ...';
                                cadena2 += '</p>';
                                cadena2 += '</div>';
                                cadena2 += '<p class="text-right" style="margin-bottom: 0px;">';
                                cadena2 += '<a href="{{path('blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                cadena2 += '</p>';
                                cadena2 += '</div>';
                                cadena2 += '</div>';
                                cadena2 += '</div>';

                                $('#registros').show();
                                $('#registros').append(cadena2);

                            } else {

                                //alert("if en uno");

                                var contenido = busquedaContenido.substr(0, 100);//Esto es 
                                var fecha = busquedaFecha.split("-"); 
                                
                                switch (fecha[1]) {
                                    case '01':
                                        fecha[1] = "Enero";
                                        break;
                                    case '02':
                                        fecha[1] = "Febrero";
                                        break;
                                    case '03':
                                        fecha[1] = "Marzo";
                                        break;
                                    case '04':
                                        fecha[1] = "Abril";
                                        break;
                                    case '05':
                                        fecha[1] = "Mayo";
                                        break;
                                    case '06':
                                        fecha[1] = "Junio";
                                        break;
                                    case '07':
                                        fecha[1] = "Julio";
                                        break;
                                    case '08':
                                        fecha[1] = "Agosto";
                                        break;
                                    case '09':
                                        fecha[1] = "Septiembre";
                                        break;
                                    case '10':
                                        fecha[1] = "Octubre";
                                        break;
                                    case '11':
                                        fecha[1] = "Noviembre";
                                        break;
                                    case '12':
                                        fecha[1] = "Diciembre";
                                        break;
                                } 
                                
                                cadena = '<div class="bloque-nexo">';
                                cadena += '<div class="row">';
                                cadena += '<div class="col-md-4">';
                                cadena += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                cadena += '</div>';
                                cadena += '<div class="col-md-8">';
                                cadena += '<p class="text-left" style="font-size: 16px; color: #337ab7; margin-bottom: 0px;">';
                                cadena += '<strong>' + busquedaTitulo.toUpperCase() + '</strong>';
                                cadena += '</p>';
                                cadena += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: ' + busquedaNombre + ' ' + busquedaApellido + ' | ' + busquedaCategoria + ' | ' + fecha[2] + ' de ' + fecha[1] + ' de ' + fecha[0] + '</p>';
                                cadena += '<div style="height: 83px;">';
                                cadena += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                cadena += contenido + ' ...';
                                cadena += '</p>';
                                cadena += '</div>';
                                cadena += '<p class="text-right" style="margin-bottom: 0px;">';
                                cadena += '<a href="{{path('blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                cadena += '</p>';
                                cadena += '</div>';
                                cadena += '</div>';
                                cadena += '</div>';


                                $('#registros').show();
                                $('#registros').append(cadena);
                            }//fin del else

                            $('#busquedaVacia').hide();//                                       
                            //console.log(data.pages);
                            numPages = data.pages;
                            var cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                            for (k = 1; k <= data.pages; k++) {
                                if (k == paginaActual) {
                                    cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                } else {
                                    cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                }

                            }

                            cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                            $('.numeroPaginas').html(cadenaPaginas);
                            //$('#registros').html('prueba');
                        }//fin for
                    }//fin if
                    else {
                        //console.log('datosvacios');
                        $('#paginas').html(cadenaPaginas);
                        //console.log(data.numRegistros);
                        //console.log(data.filtroRegistros);
                        $('.totalRegistros').html(data.numRegistros);
                        $('.filtroRegistros').html(data.filtroRegistros);
                        $('#registros').hide();
                        $('#busquedaVacia').show();

                    }
                    console.log("pagina actual: " + data.paginaActual);
                    console.log("Inicio de registro: " + data.inicioRegistro);
                },
                error: function (data) {
                    Lobibox.notify("error", {
                        size: 'mini',
                        msg: 'Los datos no fueron ingresados, intente más tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                    });
                    $('#registros').append(contenidoOriginal);
                }
            });
            //}
            //else{
            //$('#registros').hide();
            //$('#busquedaVacia').show();
            //}
        }//Fin funcion buscar()                       
    </script> 
    {#Aqui va para la parte de las categorias#}
    <script>
        var imagenes = new Array();
        var imagenes2 = new Array();
        var imagenes3 = new Array();
        var imagenes4 = new Array();

        var contador = 1;
        var contador2 = 1;
        var contador3 = 1;
        var contador4 = 1;

        var lon = 0;
        var lon2 = 0;
        var lon3 = 0;
        var lon4 = 0;

        {% for pro in prom1 %}
            imagenes.push("{{ pro.src }}");
        {% endfor %}

        lon = imagenes.length;

        {% for pro in prom2 %}
            imagenes2.push("{{ pro.src }}");
        {% endfor %}

        lon2 = imagenes2.length;

        {% for pro in prom3 %}
            imagenes3.push("{{ pro.src }}");
        {% endfor %}

        lon3 = imagenes3.length;
        
        function cambia() {            
            if(contador >= lon){
                contador = 0;
            }

            if(lon > 0){
                document.getElementById("fotocambia").src = '{{asset('')}}' + imagenes[contador];
                contador++;                
            } else {
                document.getElementById("fotocambia").src = '{{asset('Resources/src/img/banner1.png')}}';
            }


            if(contador2 >= lon2){
                contador2 = 0;
            }

            if(lon2 > 0){
                document.getElementById("fotocambia2").src = '{{asset('')}}' + imagenes2[contador2];
                contador2++;
             } else {
                document.getElementById("fotocambia2").src = '{{asset('Resources/src/img/banner.png')}}';
            }

            if(contador3 >= lon3){
                contador3 = 0;
            }

            if(lon3 > 0){
                document.getElementById("fotocambia3").src = '{{asset('')}}' + imagenes3[contador3];
                contador3++;
            } else {
                document.getElementById("fotocambia3").src = '{{asset('Resources/src/img/banner.png')}}';
            }
        }
        
        $(document).ready(function () {
            setInterval(cambia, 4000);
            
            $(document).on('click', '#cb', function () {
                var idcat = $(this).attr('class');
                var inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
                var busqueda = $('#searchBox').val();
                var longitud = 10; //numero de registros que se van a mostrar
                var paginaActual = 1; //primer registro a mostrar
                var numPages = 0;
                //var contenidoOriginal = $('#registros').html();
                buscarxcat(inicio, longitud, paginaActual, idcat);
            });

            $(document).on('click', '.paginas', function () {
                paginaActual = $(this).attr('id');
                console.log("Página actual enviada: " + paginaActual);
                buscar(inicio, longitud, paginaActual);
            });

            $(document).on('click', '.siguiente', function () {
                if (paginaActual != numPages) {
                    paginaActual++;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

            $(document).on('click', '.anterior', function () {
                //console.log(paginaActual);
                if (paginaActual != 1) {
                    paginaActual--;
                    console.log("Página actual enviada: " + paginaActual);
                    buscar(inicio, longitud, paginaActual);
                }
            });

        });

        function buscarxcat(inicio, longitud, paginaActual, idcat) {
            //$('#filtro').children().html(busqueda);
            //if(busqueda!=""){

            //alert("asdasdasd");

            $.ajax({
                data: {inicio: inicio, longitud: longitud, paginaActual: paginaActual, idcat: idcat},
                url: "{{path('lista_entrada_xcat')}}",
                type: "post",
                success: function (data) {

                    console.log(data.data.length);
                    //inicio = data.inicio++;
        {#console.log(data.data.length);#}
                        //alert("sadsadasdas");
                        $('#registros').html('');
                        //$('#filtro').children().html();


                        //console.log(data);
                        //console.log("num registros: "+data.numRegistros);
                        //console.log("filtro registros: "+data.filtroRegistros);
                        $('.totalRegistros').html(data.numRegistros);
                        $('.filtroRegistros').html(data.filtroRegistros);

                        //console.log(data);
                        //console.log("asdasdsad");

                        //alert(data.length);
                        if (data.data.length > 0) {
                            //$('#inicioInput').val((parseInt($('#inicioInput').val())+1));//
                            //console.log(data.inicio);
                            //console.log(data.data.length);

                            var cadena = "";
                            var cadena2 = "";

                            //console.log(data.data.length);
                            for (i = 0; i < data.data.length; i++) {
                                //$.each( data.data , funtion(key, value){  
                                var busquedaNombre = data.data[i].nombres;
                                var busquedaApellido = data.data[i].apellidos;
                                var identrada = data.data[i].identrada;
                                var busquedaTitulo = data.data[i].titulo;
                                var busquedaFecha = data.data[i].fecha;
                                var busquedaCategoria = data.data[i].catblognombre;
                                var busquedaContenido = data.data[i].contenido;
                                var src = data.data[i].src;
                                //console.log(busquedaTitulo);
                                //console.log("titulo: "+data.data[i].titulo);

                                if (busquedaTitulo == null) {
                                    busquedaTitulo = "";
                                }

                                if (busquedaFecha == null) {
                                    busquedaFecha = "";
                                }

                                if (busquedaContenido == null) {
                                    busquedaContenido = "-";
                                }

                                if (src == null) {
                                    src = "-";
                                }

                                if (identrada == null) {
                                    identrada = "-";
                                }

                                if (busquedaCategoria == null) {
                                    busquedaCategoria = "-";
                                }

                                //alert(i);
                                if (i === 0) {
                                    var contenido = busquedaContenido.substr(0, 100);//Esto es 
                                    var fecha = busquedaFecha.split("-"); 
                                    
                                    switch (fecha[1]) {
                                        case '01':
                                            fecha[1] = "Enero";
                                            break;
                                        case '02':
                                            fecha[1] = "Febrero";
                                            break;
                                        case '03':
                                            fecha[1] = "Marzo";
                                            break;
                                        case '04':
                                            fecha[1] = "Abril";
                                            break;
                                        case '05':
                                            fecha[1] = "Mayo";
                                            break;
                                        case '06':
                                            fecha[1] = "Junio";
                                            break;
                                        case '07':
                                            fecha[1] = "Julio";
                                            break;
                                        case '08':
                                            fecha[1] = "Agosto";
                                            break;
                                        case '09':
                                            fecha[1] = "Septiembre";
                                            break;
                                        case '10':
                                            fecha[1] = "Octubre";
                                            break;
                                        case '11':
                                            fecha[1] = "Noviembre";
                                            break;
                                        case '12':
                                            fecha[1] = "Diciembre";
                                            break;
                                    } 
                                    
                                    cadena2 = '<div class="bloque-main">';
                                    cadena2 += '<div class="row">';
                                    cadena2 += '<div class="col-md-4">';
                                    cadena2 += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                    cadena2 += '</div>';
                                    cadena2 += '<div class="col-md-8">';
                                    cadena2 += '<p class="text-left" style="font-size: 16px; color: #337ab7; margin-bottom: 0px;">';
                                    cadena2 += '<strong>' + busquedaTitulo.toUpperCase() + '</strong>';
                                    cadena2 += '</p>';
                                    cadena2 += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: ' + busquedaNombre + ' ' + busquedaApellido + ' | ' + busquedaCategoria + ' | ' + fecha[2] + ' de ' + fecha[1] + ' de ' + fecha[0] + '</p>';
                                    cadena2 += '<div style="height: 83px;">';
                                    cadena2 += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                    cadena2 += contenido + ' ...';
                                    cadena2 += '</p>';
                                    cadena2 += '</div>';
                                    cadena2 += '<p class="text-right" style="margin-bottom: 0px;">';
                                    cadena2 += '<a href="{{path('blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                    cadena2 += '</p>';
                                    cadena2 += '</div>';
                                    cadena2 += '</div>';
                                    cadena2 += '</div>';

                                    $('#registros').show();
                                    $('#registros').append(cadena2);

                                } else {
                                    var contenido = busquedaContenido.substr(0, 100);//Esto es 
                                    var fecha = busquedaFecha.split("-"); 
                                    
                                    switch (fecha[1]) {
                                        case '01':
                                            fecha[1] = "Enero";
                                            break;
                                        case '02':
                                            fecha[1] = "Febrero";
                                            break;
                                        case '03':
                                            fecha[1] = "Marzo";
                                            break;
                                        case '04':
                                            fecha[1] = "Abril";
                                            break;
                                        case '05':
                                            fecha[1] = "Mayo";
                                            break;
                                        case '06':
                                            fecha[1] = "Junio";
                                            break;
                                        case '07':
                                            fecha[1] = "Julio";
                                            break;
                                        case '08':
                                            fecha[1] = "Agosto";
                                            break;
                                        case '09':
                                            fecha[1] = "Septiembre";
                                            break;
                                        case '10':
                                            fecha[1] = "Octubre";
                                            break;
                                        case '11':
                                            fecha[1] = "Noviembre";
                                            break;
                                        case '12':
                                            fecha[1] = "Diciembre";
                                            break;
                                    } 
                                    
                                    cadena = '<div class="bloque-nexo">';
                                    cadena += '<div class="row">';
                                    cadena += '<div class="col-md-4">';
                                    cadena += '<img src="{{ asset('Photos/entrada/')}}' + src + '" class="blogimage" style="max-width: 100%;  width: 500px; height: 146px;">';
                                    cadena += '</div>';
                                    cadena += '<div class="col-md-8">';
                                    cadena += '<p class="text-left" style="font-size: 16px; color: #337ab7; margin-bottom: 0px;">';
                                    cadena += '<strong>' + busquedaTitulo.toUpperCase() + '</strong>';
                                    cadena += '</p>';
                                    cadena += '<p class="text-left sans" style="margin-bottom: 0px; font-size: 12px;">Por: ' + busquedaNombre + ' ' + busquedaApellido + ' | ' + busquedaCategoria + ' | ' + fecha[2] + ' de ' + fecha[1] + ' de ' + fecha[0] + '</p>';
                                    cadena += '<div style="height: 83px;">';
                                    cadena += '<p class="text-left sans" style="font-weight: 300; font-size: 12px; color: #888888; margin-bottom: 0px;">';
                                    cadena += contenido + ' ...';
                                    cadena += '</p>';
                                    cadena += '</div>';
                                    cadena += '<p class="text-right" style="margin-bottom: 0px;">';
                                    cadena += '<a href="{{path('blog')}}?id=' + identrada + '"><button class="btn btn-default btn-xs">Leer mas</button></a>';
                                    cadena += '</p>';
                                    cadena += '</div>';
                                    cadena += '</div>';
                                    cadena += '</div>';
                                    $('#registros').show();
                                    $('#registros').append(cadena);
                                }//fin del else

                                $('#busquedaVacia').hide();//                                       
                                numPages = data.pages;
                                var cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                                for (k = 1; k <= data.pages; k++) {
                                    if (k == paginaActual) {
                                        cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                    } else {
                                        cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                    }

                                }
                                cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                                $('.numeroPaginas').html(cadenaPaginas);
                            }//fin for
                        }//fin if
                        else {
                            $('#paginas').html(cadenaPaginas);
                            $('.totalRegistros').html(data.numRegistros);
                            $('.filtroRegistros').html(data.filtroRegistros);
                            $('#registros').hide();
                            $('#busquedaVacia').show();
                        }
                        console.log("pagina actual: " + data.paginaActual);
                        console.log("Inicio de registro: " + data.inicioRegistro);
                    },
                    error: function (data) {
                        Lobibox.notify("error", {
                            size: 'mini',
                            msg: 'Los datos no fueron ingresados, intente más tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                        });
                        $('#registros').append(contenidoOriginal);
                    }
                });

            }//Fin funcion buscar()                       
    </script> {#Fin de la parte para mostrar las categorias#}
{% endblock js_template %}


