{% block js_extend %}
    <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
    <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
    <link href="{{asset('Resources/src/css/style-contenedores.css')}}" rel="stylesheet">
    <script src="{{ asset('Resources/select2/dist/js/select2.min.js') }}"></script>
{% endblock%}
{% block navegacion_Y_body %}
    {% block navegacion %}

    {% endblock %}
    {% block cuerpo %}

        <script type="text/javascript">


            function vericarAbg(val) {
                $.ajax({
                    type: "GET",
                    url: Routing.generate('verificar_notarios'),
                    data: {abg: val},
                    success: function (data)
                    {
                        $("#divVerificar").empty();
                        $("#divVerificar").append(data);
                        $("#divVerificar").show();
                        $("#divLista").hide();
                    },
                    error: function (errors)
                    {
                    }
                });
            }

            function Noverificar(val, ban) {
                $("#idtbody").empty();
                $.ajax({
                    type: "GET",
                    url: Routing.generate('verificar_notarios'),
                    data: {abg: val, ban: ban},
                    success: function (data)
                    {
                        $("#contNoVerificado").empty();
                        $("#contNoVerificado").append(data);
                        $("#contNoVerificado").show();
                        $("#contVerificados").hide();
                    },
                    error: function (errors)
                    {
                    }
                });
            }
            function AbgVerificados()
            {

                $.ajax({
                    type: "GET",
                    url: Routing.generate('notarios_verificados'),
                    success: function (data)
                    {
                        $("#contVerificados").empty();
                        $("#contVerificados").append(data);

                    },
                    error: function (errors)
                    {
                    }
                });
            }

            function AbgVerificar()
            {

                $.ajax({
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    url: Routing.generate('solicitud_verificar_notario'),
                    success: function (data)
                    {
                        var datos;
                        $("#idtbody").empty();
                        $.each($(data.solverificado), function (indice, val) {
                            datos = '<tr style="font-size: 15px" onClick="vericarAbg(' + val.id + ')">';
                            datos += '<td><a href="#">' + val.nombre + '</a></td>';
                            datos += '<td align ="center"></strong>&nbsp;<i class="fa  fa-paperclip fa-lg text-aqua"></i></td>';
                            datos += '<td align ="center"> <div class = "bloque-ocultar ">';
                            datos += '<img src ="{{ asset('Photos/defecto/noVerificado.png') }}"';
                            datos += 'disabled ="disabled" style="width: 15px; height: 15px; -webkit-filter: grayscale(80%);" id="botonModalP" title="Cambiar foto de perfil">';
                            datos += '</td>';
                            datos += '</tr>';

                            $("#idtbody").append(datos);
                        });

                    },
                    error: function (errors)
                    {
                    }
                });
            }
            
            function consultarAbg() {
                $.ajax({
                    type: 'GET',
                    async: false,
                    dataType: 'json',
                    url: Routing.generate('cons_notarios'),
                    data: {abg: $('#Sabogado').val()},
                    success: function (data)
                    {
                        var datos;
                        $("#idtbody").empty();
                        $.each($(data.datosP), function (indice, val) {
                            datos = '<tr style="font-size: 15px" onClick="vericarAbg(' + val.id + ')">';
                            datos += '<td><a href="#">' + val.nombre + '</a></td>';
                            datos += '<td align ="center"></strong>&nbsp;<i class="fa  fa-paperclip fa-lg text-aqua"></i></td>';
                            datos += '<td align ="center"> <div class = "bloque-ocultar ">';
                            datos += '<img src ="{{ asset('Photos/defecto/noVerificado.png') }}"';
                            datos += 'disabled ="disabled" style="width: 15px; height: 15px; -webkit-filter: grayscale(80%);" id="botonModalP" title="Cambiar foto de perfil">';
                            datos += '</td>';
                            datos += '</tr>';

                            $("#idtbody").append(datos);
                        });

                    },
                    error: function (errors) {

                    }
                });
            }
        </script>
        <div class="row" style=" margin-left:15px; margin-right:15px; ">
            <div class="box box-widget">
                <div class="box-body">
                    <div class="page-header">
                        <h3>Verificación de abogados como notarios</h3>
                    </div>
                <div class="nav-tabs-custom" style="cursor: move;">
                    <ul class="nav nav-tabs  ui-sortable-handle">
                        <li class="active"><a href="#revenue-chart" data-toggle="tab" onClick="AbgVerificar();">Pendientes de verificar</a></li>
                        <li><a href="#divVerificados" data-toggle="tab" onClick="AbgVerificados();">Verificados</a></li>
                        <li class="pull-left header">
                    </ul>
                    <div class="tab-content no-padding">

                        <div class="chart tab-pane active" id="revenue-chart" >
                            <br>
                            <div style=" padding: 15px;" >
                                <form action="#" method="post">

                                    <div id="divLista" style="min-height:175px;">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-5">
                                                    <label for="nombreEmpleado">Abogado </label>
                                                    <select id="Sabogado" name="Sabogado" class="form-control" onChange="consultarAbg();">
                                                        <option value="0" >Seleccione un abogado</option>
                                                    </select>

                                                </div>
                                                <div class="col-md-1"><a class=" btn btn-flat btn-default" style="  margin-top: 25px;" onClick="AbgVerificar();"><i class=" fa fa-refresh"></i></a></div>
                                            </div>   </div>
                                            {%if solicitVerificacion|default is not empty %}
                                                <div class="form-group table-responsive mailbox-messages" id="contenedor">
                                                    <table id="tabla" class="table table-hover table-striped" style="font-size:13px;" >
                                                        <thead>
                                                        <br>
                                                        </thead>
                                                        <tbody style="min-height: 350px;" id="idtbody">
                                                            {% for datos in solicitVerificacion %}
                                                                <tr style=" font-size: 15px" onClick="vericarAbg({{datos.id}})">
                                                                    <td ><a href="#" >{{datos.nombre}}</a></td>
                                                                    <td align="center"> </strong>&nbsp;<i class="fa  fa-paperclip fa-lg text-aqua"></i></td>
                                                                    <td align="center">  <div class="bloque-ocultar ">
                                                                        <img src="{{ asset('Photos/defecto/noVerificado.png') }}" disabled="disabled" style="width: 15px; height: 15px; -webkit-filter: grayscale(80%);" id="botonModalP" title="Cambiar foto de perfil" >
                                                                    </td>
                                                                </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table> 
                                                </div>
                                            {%endif%}
                                            </div>
                                            <div id="divVerificar" style="min-height:175px; display: none;"></div>
                                </form>
    </div>

                            </div>
                                                            <div class="chart tab-pane" id="divVerificados" style=" padding: 15px;" >
                                                                <div class="row">
                                                                    <div class="form-group">
                                                                        <div class="col-md-5">
                                                                            <label for="nombreEmpleado">Lista de Notarios verificados</label>

                                                                        </div>
                                                                    </div>   </div>
                                                                <div class="form-group table-responsive mailbox-messages" id="contVerificados">

                                                                </div>
                                                                <div  id="contNoVerificado">

                                                                </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            
                </div>                    
                </div>                    
            </div>
                                                            <!-- ####################################################### -->
                                                            <script type="text/javascript">
                                                                $(document).on('ready', function () {
                                                                    $('#Sabogado').select2({
                                                                        ajax: {
                                                                            url: Routing.generate('abogados_solverificacion'),
                                                                            dataType: 'json',
                                                                            delay: 250,
                                                                            data: function (params) {
                                                                                return {
                                                                                    q: params.term,
                                                                                    page: params.page
                                                                                };
                                                                            },
                                                                            processResults: function (data, params) {

                                                                                var select2Data = $.map(data.data, function (obj) {
                                                                                    obj.id = obj.idAbg;
                                                                                    obj.text = obj.nombre;
                                                                                    return obj;
                                                                                });
                                                                                return {
                                                                                    results: select2Data
                                                                                };
                                                                            },
                                                                            cache: true
                                                                        },
                                                                        escapeMarkup: function (markup) {
                                                                            return markup;
                                                                        },
                                                                        minimumInputLength: 1,
                                                                        templateResult: formatRepo,
                                                                        templateSelection: formatRepoSelection
                                                                    });
                                                                });
                                                                function formatRepo(data) {
                                                                    if (data.nombre) {

                                                                        var markup = "<div class='select2-result-repository clearfix'>" +
                                                                                "<div class='select2-result-repository__meta'>" +
                                                                                "<div class='select2-result-repository__title'>" + data.nombre + "</div>" +
                                                                                "</div></div>";
                                                                    } else {
                                                                        markup = "Seleccione un cliente ";
                                                                    }

                                                                    return markup;
                                                                }

                                                                function formatRepoSelection(data) {
                                                                    if (data.nombre) {
                                                                        return data.nombre;
                                                                    } else {
                                                                        return "Seleccione un abogado";
                                                                    }
                                                                }                                                                
                                                            </script>
                                                        {% endblock%}

                                                    {% endblock%}

