<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registro de Abogados | Directorio de Abogados de El Salvador | Primero y único directorio de abogados de El Salvador | Abogados.com.sv</title>
        <meta name="robots" content="noindex">

        <!-- Stylesheet de Bootstrap -->
        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet"> 

        <link href="{{asset('Resources/src/css/movilcss.css')}}" rel="stylesheet">

        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('Resources/lobibox-master/dist/css/lobibox.min.css')}}">
        <!-- Favicon (Icono Pequeño) -->
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <link rel="icon" href="favicon.png" type="image/x-icon">
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <style type="text/css">
            table { table-layout: fixed; }
            td { width: 33%; }
            .shadow {
                -moz-box-shadow:    3px 3px 5px 6px #ccc;
                -webkit-box-shadow: 3px 3px 5px 6px #ccc;
                box-shadow:         3px 3px 5px 6px #ccc;
            }
        </style>

    </head>
    <body style="">
        <!-- Desktop -->
        <div class="container-fluid hidden-xs hidden-sm" style="background-color: #262626; height: 200px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-left text-uppercase" style="color: #fff; font-family: 'Montserrat', sans-serif; font-size: 3em; margin-top: 50px; line-height: 40px;">DIRECTORIO DE ABOGADOS DE EL SALVADOR</p>					
                    </div>
                </div>
            </div>
        </div>
        <!-- movil -->
        <div class="container-fluid hidden-md hidden-lg" style="background-color: #262626; height: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p class="text-center text-uppercase" style="color: #fff; font-family: 'Montserrat', sans-serif; font-size: 1.5em; margin-top: 15px; line-height: 20px;">¡REGISTRATE AQUI!</p>					
                    </div>
                </div>
            </div>
        </div>

        <!-- FORMULARIO DESKTOP -->
        <div class="container-fluid hidden-xs hidden-sm" style="background-color: #778899; padding-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <!-- <p class="text-uppercase" style="margin-top: 50px; color: #262626; font-family: 'Montserrat', sans-serif; font-size: 50px; color: #fff; line-height: 40px;">
                        14 DIAS GRATIS, REGISTRATE HOY MISMO</p> -->
                        <div class="clearfix"></div>
                        <div id="ideal-for-container" style="margin-top: 20px !important;">
                            <h3 class="mth sans text-left" style=" padding-left: 50px; font-weight: 600; font-size: 18px; margin-bottom: 20px !important; color: #fff;">Características de la plataforma:</h3>
                            <div class="row">
                                <div class="" style="padding: 0px 45px;">
                                    <ul class="examples" style=" font-weight: 400; color: #fff;">
                                        <li class="sans" style="font-size: 15px;">Búsqueda de abogados por nombre y/o apellido</li>
                                        <li class="sans" style="font-size: 15px;">Búsqueda de firmas/bufetes por nombre</li>
                                        <li class="sans" style="font-size: 15px;">Crear y actualizar perfil profesional</li>
                                        <li class="sans" style="font-size: 15px;">Creación de página de empresa con toda la información</li>
                                        <li class="sans" style="font-size: 15px;">Verificación de abogados con insignia en perfil para mas credibilidad</li>
                                        <li class="sans" style="font-size: 15px;">Blog comunitario para demostrar conocimientos y habilidades</li>
                                        <li class="sans" style="font-size: 15px;">Centro de preguntas anónimas para generar posibles clientes</li>
                                        <li class="sans" style="font-size: 15px;">URL de perfil personalizado (Ej. www.abogados.com.ni/minombrepersonal)</li>
                                        <li class="sans" style="font-size: 15px;">Servicios de publicidad interna disponible (limitada)</li>
                                        <li class="sans" style="font-size: 15px;">Directorio posicionado en Google AdWords & AdSense, medio nacionales, periódicos digitales, Facebook</li>
                                        <li class="sans" style="font-size: 15px;"> Programación de Última tecnología para los mejores resultados de SEO</li>
                                        <li class="sans" style="font-size: 15px;">Adaptación a dispositivos móviles, tabletas y computadores personales</li>
                                        <li class="sans" style="font-size: 15px;">Código QR personal</li>
                                        <li class="sans" style="font-size: 15px;">Generador de CV profesional</li>
                                    </ul>
                                </div>
                                <div class="col-md-4"></div>
                            </div> <!-- Row end -->
                        </div> <!-- Ideal End -->
                    </div>
                    <div class="col-md-4" style="margin-top: -120px;">
                        <form id="frmEmpresaUsuarioPersona" >
                            <div style="padding: 15px; background-color: #ededed; margin-top: 30px; border-radius: 3px; position: relative; z-index: 2;">
                               <a style="text-decoration: none;color:#FFF;" href="{{path('index')}}" ><p class="text-center"><img src="{{asset('Resources/src/img/logo2.png')}}" style="width: 300px;"></p></a>
                                <input type="text"  id="txtnombre" name="txtnombre" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Nombres">
                                <p style="color: #F00; margin-left: 10px; display: none;" id="txtNom" calss="sans"></p>

                                <input type="text"  id="txtapellido" name="txtapellido" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Apellidos">
                                <p style=" color: #F00; margin-left: 10px; display: none;" id="txtApe" calss="sans"></p>

                                <input type="email" class="sans" id="correoEmpresa" name="correoEmpresa" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Email">
                                <p style=" color: #F00; margin-left: 10px; display: none;" id="txtEma" calss="sans"></p>

                                <input type="password"  id="contrasenha" name="contrasenha" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Contraseña">
                                <p style=" color: #F00; margin-left: 10px;display: none;" id="txtContra" calss="sans"></p>
                                <input type="text" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Código promocional">

                                <button type="button" id="bntenviar" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #F32;">
                                    <span style="color: #fff; font-weight: 600;" class="sans">Iniciar trial de 14 días</span>
                                </button>
                             {#   <button type="button" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #3b5998;">
                                    <span style="color: #fff; font-weight: 600;" class="sans">Registrarme con Facebook</span>
                                </button>
                                <button type="button" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #1DA1F2;">
                                    <span style="color: #fff; font-weight: 600;" class="sans">Registrarme con Twitter</span>
                                </button>#}
                                <p class="text-right sans" style="margin-top: 10px;">¿Ya tienes un usuario? <a href="{{path('abogado_login')}}">Inicia sesión</a></p>
                            </div>
                        </form>
                    </div>
                </div></div>
        </div>

        <!-- FORMULARIO MOVIL -->
        <div class="container-fluid hidden-md hidden-lg" style="background-color: #778899; padding-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="padding: 5px;">
                          <form id="frmEmpresaUsuarioPersonaM">
                              <div style="padding: 15px; background-color: #ededed; margin-top: 15px; border-radius: 3px; position: relative; z-index: 2;">
                                 <p class="text-center"><img src="{{asset('Resources/src/img/logo2.png')}}" style="width: 300px;"></p>
                                <input type="text"  id="txtnombreM" name="txtnombre" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Nombres">
                                <p style="color: #F00; margin-left: 10px; display: none;" id="txtNomM" calss="sans"></p>

                                <input type="text"  id="txtapellidoM" name="txtapellido" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Apellidos">
                                <p style=" color: #F00; margin-left: 10px; display: none;" id="txtApeM" calss="sans"></p>

                                <input type="email" class="sans" id="correoEmpresaM" name="correoEmpresa" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Email">
                                <p style=" color: #F00; margin-left: 10px; display: none;" id="txtEmaM" calss="sans"></p>

                                <input type="password"  id="contrasenhaM" name="contrasenha" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Contraseña">
                                <p style=" color: #F00; margin-left: 10px;display: none;" id="txtContraM" calss="sans"></p>
                                <input type="text" class="sans" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #fff;" placeholder="Código promocional">

                                <button type="button" id="bntenviarM" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #F32;">
                                      <span style="color: #fff; font-weight: 600;" class="sans">Iniciar trial de 14 días</span>
                                  </button>
                               {#   <button type="button"style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #3b5998;">
                                      <span style="color: #fff; font-weight: 600;" class="sans">Registrarme con Facebook</span>
                                  </button>
                                  <button type="button" style="width: 100%; border-radius: 3px; border: 0; height: 40px; padding-left: 10px; font-size: 16px; margin-top: 5px; margin-bottom: 5px; background-color: #1DA1F2;">
                                      <span style="color: #fff; font-weight: 600;" class="sans">Registrarme con Twitter</span>
                                  </button>#}
                                  <p class="text-center sans" style="margin-top: 10px;">¿Ya tienes un usuario? <a href="{{path('abogado_login')}}">Inicia sesión</a></p>
                              </div>
                          </form>
                       
                    </div>
                    <div class="col-md-7">
                        <!-- <p class="text-uppercase" style="margin-top: 50px; color: #262626; font-family: 'Montserrat', sans-serif; font-size: 50px; color: #fff; line-height: 40px;">
                        14 DIAS GRATIS, REGISTRATE HOY MISMO</p> -->
                        <div class="clearfix"></div>
                        <div id="ideal-for-container" style="margin-top: 20px !important;">
                            <h3 class="mth sans text-left" style=" padding-left: 50px; font-weight: 600; font-size: 18px; margin-bottom: 20px !important; color: #fff;">Características de la plataforma:</h3>
                            <div class="row">
                                <div class="" style="padding: 0px 5px;">
                                    <ul class="examples" style=" font-weight: 400; color: #fff;">
                                        <li class="sans" style="font-size: 15px;">Busqueda de abogados por nombre y/o apellido</li>
                                        <li class="sans" style="font-size: 15px;">Búsqueda de firmas/bufetes por nombre</li>
                                        <li class="sans" style="font-size: 15px;">Crear y actualizar perfil profesional</li>
                                        <li class="sans" style="font-size: 15px;">Creación de página de empresa con toda la información</li>
                                        <li class="sans" style="font-size: 15px;">Verificación de abogados con insignia en perfil para mas credibilidad</li>
                                        <li class="sans" style="font-size: 15px;">Centro de preguntas anónimas para generar posibles clientes</li>
                                        <li class="sans" style="font-size: 15px;">Servicios de publicidad interna disponible (limitada)</li>
                                        <li class="sans" style="font-size: 15px;">Directorio posicionado en Google AdWords & AdSense, medio nacionales, periódicos digitales, Facebook</li>
                                    </ul>
                                </div>
                                <div class="col-md-4"></div>
                            </div> <!-- Row end -->
                        </div> <!-- Ideal End -->
                    </div>
                </div></div>
        </div>

               <!-- Ultimos Abogados Desktop -->
        <div class="container-fluid hidden-xs hidden-sm" style="background-color: #fff;">
            <div class="container" style="padding-bottom: 50px;">
                <div class="row"><p class="sans text-uppercase" style="font-family: 'Montserrat', sans-serif; width: 350px; padding: 10px; margin-top: -22px; background-color: #262626; font-size: 15px; margin-bottom: 3px; color: #FFF;">ultimos tres abogados registrados</p>
                </div>
                <!-- Listado de abogados recientes -->
                <div class="row" style="margin-top: 20px;">
                {% for usuario in usuarios %}
                    {% if usuario.estadoabo == 1 %}
                        
                            <div class="col-md-1" style="padding: 5px; margin-top: 20px;">
                                    <img src="{{asset('')}}{{usuario.foto}}" style="width: 100%;">
                            </div>
                            <div class="col-md-3" style="margin-top: 20px;">
                                    <p class="text-left text-capitalize" style="font-size: 15px; margin-bottom: 0px; font-family: 'Montserrat', sans-serif; padding-top: 5px;">
                                    	{%if usuario.titulo==1 %} 
                                        	{%if usuario.genero=='M' %} 
                                                	Lic.
                                                {%else%}
                                                	Licda.
                                                {% endif %}
                                        {%else%}
	                                        {%if usuario.titulo==2 %} 
	                                        	Mgtr.
		                                {%else%}
			                                {%if usuario.genero=='M' %} 
	                                                	Dr.
	                                                {%else%}
	                                                	Dra.
	                                                {% endif %}
	                                        {% endif %}
                                        {% endif %}
                                        {{usuario.nombres}} {{usuario.apellido}}
                                    </p>
                                    <p class="sans" style="font-size: 12px;">Especialidades: {{usuario.especialidad}}</p>
                            </div>
                        
                    {% else %}
                            <div class="col-md-1" style="padding: 5px; margin-top: 20px;">
                                    <img src="{{asset('')}}{{usuario.foto}}" style="width: 100%;">
                            </div>
                            <div class="col-md-3" style="margin-top: 20px;">
                                    <p class="text-left text-capitalize" style="font-size: 15px; margin-bottom: 0px; font-family: 'Montserrat', sans-serif; padding-top: 5px;">
                                    	{%if usuario.titulo==1 %} 
                                        	{%if usuario.genero=='M' %} 
                                                	Lic.
                                                {%else%}
                                                	Licda.
                                                {% endif %}
                                        {%else%}
	                                        {%if usuario.titulo==2 %} 
	                                        	Mgtr.
		                                {%else%}
			                                {%if usuario.genero=='M' %} 
	                                                	Dr.
	                                                {%else%}
	                                                	Dra.
	                                                {% endif %}
	                                        {% endif %}
                                        {% endif %}
                                        {{usuario.nombres}} {{usuario.apellido}}
                                    </p>
                                    <p class="sans" style="font-size: 12px;">Especialidades: {{usuario.especialidad}}</p>
                            </div>
                        
                        
                    {% endif %}
                    {% if loop.index is divisible by(3)%}
                    	<div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
                    
                </div>
            </div>
        </div>

        <!-- Ultimos abogados movil -->
        <div class="container-fluid hidden-md hidden-lg" style="background-color: #f6f6f6; padding-top: 30px; padding-bottom: 30px;">
            <p class="text-center sans" style="font-weight: 700;">ULTIMOS TRES ABOGADOS REGISTRADOS</p>
            <!-- primer abogado -->
            {% for usuario in usuarios %}
                    {% if loop.index <=3 %}
                        {% if usuario.estadoabo == 1 %}
                            <div class="row">
                                
                                    <!-- Foto -->
                                    <div class="col-xs-3" style="padding-right: 5px;">
                                            <img src="{{asset('')}}{{usuario.foto}}" style="max-width: 100%; width: 100%; padding: 3px;">
                                    </div>
                                
                                    <!-- Contacto+Info -->
                                    <div class="col-xs-9" style="padding-left: 0px;">
                                            
                                                <p style="margin-top: 5px; font-size: 1em; margin-bottom: 0px; font-size: 12px;" class="sans text-capitalize">
                                                    <strong>
                                                        {%if usuario.titulo==1 %} 
                                                            {%if usuario.genero=='M' %} 
                                                                Lic.
                                                            {%else%}
                                                                Licda.
                                                            {% endif %}
                                                        {%else%}
                                                            {%if usuario.titulo==2 %} 
                                                                Mgtr.
                                                            {%else%}
                                                                {%if usuario.genero=='M' %} 
                                                                    Dr.
                                                                {%else%}
                                                                    Dra.
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                            {{usuario.nombres}} {{usuario.apellido}}
                                                    </strong>
                                                </p>

                                            <p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 10px;" class="sans">{{usuario.cargo}}</p>
                                            <p class="sans" style="font-size: 11px; margin-bottom: 0px; margin-top: 1px;"><strong>Especialidades:</strong> {{usuario.especialidad}}</p>
                                    </div>

                            </div> <!-- end row -->
                        {% else %}    
                            <div class="row">
                                <!-- Foto -->
                                <div class="col-xs-3" style="padding-right: 5px;">
                                        <img src="{{asset('')}}{{usuario.foto}}" style="max-width: 100%; width: 100%; padding: 3px;">
                                </div>
                                <!-- Contacto+Info -->
                                <div class="col-xs-9" style="padding-left: 0px;">
                                        <p style="margin-top: 5px; font-size: 1em; margin-bottom: 0px; font-size: 12px;" class="sans text-capitalize">
                                                <strong>
                                                    {%if usuario.titulo==1 %} 
                                                        {%if usuario.genero=='M' %} 
                                                            Lic.
                                                        {%else%}
                                                            Licda.
                                                        {% endif %}
                                                    {%else%}
                                                        {%if usuario.titulo==2 %} 
                                                            Mgtr.
                                                        {%else%}
                                                            {%if usuario.genero=='M' %} 
                                                                Dr.
                                                            {%else%}
                                                                Dra.
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                        {{usuario.nombres}} {{usuario.apellido}}
                                                </strong>
                                            </p>
                                        <p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 10px;" class="sans">{{usuario.cargo}}</p>
                                        <p class="sans" style="font-size: 11px; margin-bottom: 0px; margin-top: 1px;"><strong>Especialidades:</strong> {{usuario.especialidad}}</p>
                                </div>

                            </div> <!-- end row -->
                        {% endif %}
                    {% endif %}
                {% endfor %}
        </div>

        <div class="container-fluid hidden-md hidden-lg" style="height: 90px;">

        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script  src="{{asset('Resources/src/js/bootstrap.js')}}"></script>
        <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
        <script type = "text/javascript" >
            $(document).on('ready', function () {
                
                $(document).on('click', '#bntenviar', function () {
                  //  var regex =/[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                     var regex =/^(?:[^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*|"[^\n"]+")@(?:[^<>()[\].,;:\s@"]+\.)+[^<>()[\]\.,;:\s@"]{2,63}$/i;
                    if ($('#txtnombre').val() == "")  //null && $("#txtapellido").val() !== "" && $("#correoEmpresa").val() !== "" && ($("#contrasenha").val() !== ""))
                    {
                        $("#txtNom").text("Nombre requerido!");
                        $("#txtNom").css('display', 'block');
                    } else if ($("#txtapellido").val() == "")
                    {
                        $("#txtApe").css('display', 'block');
                        $("#txtApe").text("Apellido requerido!");

                        $("#txtNom").text("");
                        $("#txtNom").css('display', 'none');
                    } else if ($("#correoEmpresa").val() == "")
                    {
                        $("#txtApe").text("");
                        $("#txtNom").text("");
                        $("#txtNom").css('display', 'none');
                        $("#txtApe").css('display', 'none');

                        $("#txtEma").css('display', 'block');
                        $("#txtEma").text("Email requerido!");
                        $("#txtContra").text("");
                    } else if ($("#contrasenha").val() == "")
                    {
                        $("#txtApe").text("");
                        $("#txtNom").text("");
                        $("#txtEma").text("");

                        $("#txtNom").css('display', 'none');
                        $("#txtApe").css('display', 'none');
                        $("#txtEma").css('display', 'none');
                        $("#txtContra").css('display', 'block');
                        $("#txtContra").text("Contraseña requerida!");

                    } else if (regex.test($('#correoEmpresa').val().trim()))
                    {

                        $("#txtEma").text("");
                        $("#txtApe").text("");
                        $("#txtNom").text("");
                        $("#txtContra").text("");
                        $("#txtNom").css('display', 'none');
                        $("#txtApe").css('display', 'none');
                        $("#txtEma").css('display', 'none');
                        $("#txtContra").css('display', 'none');

                        if ($('#txtnombre').val() !== "" && $("#txtapellido").val() !== "" && $("#correoEmpresa").val() !== "" && ($("#contrasenha").val() !== ""))
                        {
                            // Expresion regular para validar el correo
                            /*      $("#frmEmpresaUsuarioPersona").submit(
                             function (event) {*/
                            $("#bntenviar").button('loading');
                            $("#bntenviar").prop("disabled", true);
                            $.ajax({
                                data: {dato: $("#frmEmpresaUsuarioPersona").serialize()},
                                url: Routing.generate('validar_correo'),
                                type: 'POST',
                                dataType: 'json',
                                success: function (data) {
                                    console.log("consola : " + data.data);
                                    if (data.data == true) {
                                        //Ajax de insersion de datos               
                                        $.ajax({
                                            data: {dato: $("#frmEmpresaUsuarioPersona").serialize()},
                                            url: Routing.generate('ingresar_usuarioEmpresa'),
                                            type: 'POST',
                                            dataType: 'json',
                                            success: function (data)
                                            {
                                                if (data.estado == true) {

                                                    //         var url = Routing.generate('confirma_cuenta');
                                                    ///        var url = Routing.generate('perfil');
                                                    //var url = Routing.generate('abogado_login');
                                                   var url = Routing.generate('confirmarcorreo', {id: data.md5});
                                                    window.open(url, "_self");
                                                    Lobibox.notify("success", {
                                                        size: 'mini',
                                                        msg: 'Registro exitoso, espere un momento'
                                                    });
                                                } else {

                                                    Lobibox.notify("error", {
                                                        size: 'mini',
                                                        msg: 'Error al ingresar los datos',
                                                    });
                                                    Lobibox.setPosition('left')
                                                    $("#bntenviar").prop("disabled", false);
                                                    $("#bntenviar").button('reset');
                                                }
                                                return false;
                                            }
                                        });
                                    } else {
                                        Lobibox.notify("error", {
                                            size: 'mini',
                                            msg: 'Correo ya existente, intente con otro.'
                                        });

                                        $("#txtEma").text("");
                                        $("#txtEma").css('display', 'none');
                                        $("#txtContra").css('display', 'none');
                                        $("#bntenviar").prop("disabled", false);
                                        $("#bntenviar").button('reset');
                                    }
                                }
                            });
                        }
                    } else {
                        $("#txtEma").text("Email no valido!");
                        $("#txtEma").css('display', 'block');
                        $("#txtApe").text("");
                        $("#txtNom").text("");
                        $("#txtContra").text("");
                        $("#txtNom").css('display', 'none');
                        $("#txtApe").css('display', 'none');
                        $("#txtContra").css('display', 'none');
                    }

                });
                
                // formulario movil
                 $(document).on('click', '#bntenviarM', function () {
                    var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;
                    if ($('#txtnombreM').val() == "")  //null && $("#txtapellido").val() !== "" && $("#correoEmpresa").val() !== "" && ($("#contrasenha").val() !== ""))
                    {
                        $("#txtNomM").text("Nombre requerido!");
                        $("#txtNomM").css('display', 'block');
                    } else if ($("#txtapellidoM").val() == "")
                    {
                        $("#txtApeM").css('display', 'block');
                        $("#txtApeM").text("Apellido requerido!");

                        $("#txtNomM").text("");
                        $("#txtNomM").css('display', 'none');
                    } else if ($("#correoEmpresaM").val() == "")
                    {
                        $("#txtApeM").text("");
                        $("#txtNomM").text("");
                        $("#txtNomM").css('display', 'none');
                        $("#txtApeM").css('display', 'none');

                        $("#txtEmaM").css('display', 'block');
                        $("#txtEmaM").text("Email requerido!");
                        $("#txtContraM").text("");
                    } else if ($("#contrasenhaM").val() == "")
                    {
                        $("#txtApeM").text("");
                        $("#txtNomM").text("");
                        $("#txtEmaM").text("");

                        $("#txtNomM").css('display', 'none');
                        $("#txtApeM").css('display', 'none');
                        $("#txtEmaM").css('display', 'none');
                        $("#txtContraM").css('display', 'block');
                        $("#txtContraM").text("Contraseña requerida!");

                    } else if (regex.test($('#correoEmpresaM').val().trim()))
                    {

                        $("#txtEmaM").text("");
                        $("#txtApeM").text("");
                        $("#txtNomM").text("");
                        $("#txtContraM").text("");
                        $("#txtNomM").css('display', 'none');
                        $("#txtApeM").css('display', 'none');
                        $("#txtEmaM").css('display', 'none');
                        $("#txtContraM").css('display', 'none');

                        if ($('#txtnombreM').val() !== "" && $("#txtapellidoM").val() !== "" && $("#correoEmpresaM").val() !== "" && ($("#contrasenhaM").val() !== ""))
                        {
                            // Expresion regular para validar el correo
                            /*      $("#frmEmpresaUsuarioPersona").submit(
                             function (event) {*/
                            $("#bntenviarM").button('loading');
                            $("#bntenviarM").prop("disabled", true);
                            $.ajax({
                                data: {dato: $("#frmEmpresaUsuarioPersonaM").serialize()},
                                url: Routing.generate('validar_correo'),
                                type: 'POST',
                                dataType: 'json',
                                success: function (data) {
                                    console.log("consola : " + data.data);
                                    if (data.data == true) {
                                        //Ajax de insersion de datos               
                                        $.ajax({
                                            data: {dato: $("#frmEmpresaUsuarioPersonaM").serialize()},
                                            url: Routing.generate('ingresar_usuarioEmpresa'),
                                            type: 'POST',
                                            dataType: 'json',
                                            success: function (data)
                                            {
                                                if (data.estado == true) {

                                                    var url = Routing.generate('confirmarcorreo', {id: data.md5});
                                                    window.open(url, "_self");
                                                    Lobibox.notify("success", {
                                                        size: 'mini',
                                                        msg: 'Registro exitoso, espere un momento'
                                                    });
                                                } else {

                                                    Lobibox.notify("error", {
                                                        size: 'mini',
                                                        msg: 'Error al ingresar los datos',
                                                    });
                                                    Lobibox.setPosition('left')
                                                    $("#bntenviarM").prop("disabled", false);
                                                    $("#bntenviarM").button('reset');
                                                }
                                                return false;
                                            }
                                        });
                                    } else {
                                        Lobibox.notify("error", {
                                            size: 'mini',
                                            msg: 'Correo ya existente, intente con otro.'
                                        });

                                        $("#txtEmaM").text("");
                                        $("#txtEmaM").css('display', 'none');
                                        $("#txtContraM").css('display', 'none');
                                        $("#bntenviarM").prop("disabled", false);
                                        $("#bntenviarM").button('reset');
                                    }
                                }
                            });
                        }
                    } else {
                        $("#txtEmaM").text("Email no valido!");
                        $("#txtEmaM").css('display', 'block');
                        $("#txtApeM").text("");
                        $("#txtNomM").text("");
                        $("#txtContraM").text("");
                        $("#txtNomM").css('display', 'none');
                        $("#txtApeM").css('display', 'none');
                        $("#txtContraM").css('display', 'none');
                    }

                });
            });
        </script> 

        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <!-- Start of LiveChat (www.livechatinc.com) code -->
        <script type="text/javascript">
            window.__lc = window.__lc || {};
            window.__lc.license = 7744471;
            (function () {
                var lc = document.createElement('script');
                lc.type = 'text/javascript';
                lc.async = true;
                lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(lc, s);
            })();

        </script>
        <!-- End of LiveChat code -->

    </body>
</html>