
{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    
        {% block descripcion %}
            
        {% endblock%}
        {% block acciones %}
            
        {% endblock %}


{% endblock %}
{% block js_extend %}

            <script src = "{{ asset('Resources/js/tipoempresa/tipoempresa.js') }}"  type = "text/javascript" ></script>
            <script src = "{{ asset('Resources/js/empresa/script.js') }}"  type = "text/javascript" ></script>
            <script src = "{{ asset('Resources/js/empresa/function.js') }}"  type = "text/javascript" ></script>    
            <script src = "{{ asset('Resources/Empresa/globalfunction.js') }}"  type = "text/javascript" ></script> 
            <script src = "{{ asset('Resources/vContra/strength.js') }}"  type = "text/javascript" ></script>
            <script src = "{{ asset('Resources/vContra/js.js') }}"  type = "text/javascript" ></script> 
                       
            
           {# <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('Resources/colorpicker/css/colorpicker.css') }}" />
            <script type="text/javascript" src="{{ asset('Resources/colorpicker/js/colorpicker.js') }}"></script>#}
            
           
      
  {% endblock %} 

        {% block navegacion_Y_body %}
  
        {% block navegacion %}
            
        {% endblock %}
        {% block cuerpo %}
    <div class="row">
        <h1 style="color: black;">Registro de abogados</h1>
             
    <form id="frmEmpresaUsuarioPersona" role="form" enctype="multipart/form-data" method="POST">
    
        <div class="col-md-12">
            <div class="box-header with-border">
              <h3 class="box-title text-success">Ingreso de datos Genrales</h3>
            </div>
        </div>
        <div class="clearfix"></div>
    <div class="col-md-5">
          <!-- general form elements -->
            <div class="box box-primary">
            
        

            
                                        <div class="form-group">
                                             <label for="nombreEmpleado">Nombre</label>
                                             <input type="text" required class="form-control" id="txtnombre" name="txtnombre" placeholder="Nombres">
                                         </div>
                                         <div class="form-group">
                                             <label for="ejemplo_password_1">Apellido</label>
                                             <input type="text" required class="form-control"  id="txtapellido" name="txtapellido" 
                                                    placeholder="Apellidos">
                                         </div>

                <div class="form-group">
                     <label for="correoEmpresa">Correo electronico :</label>
                     <input type="email" class="form-control" id="correoEmpresa" name="correoEmpresa" required placeholder="ejemplo@ejemplo.com">
                </div>
                <div class="form-group">
                     <label for="correoEmpresa">Contraseña:</label>
                     <input type="password" required class="form-control" id="contrasenha" name="contrasenha">
                </div>
                
                
                <div class="form-group">
                 <button class="btn btn-primary" >Registrarme</button>
                </div>
                

           
          </div>
          
    </div>
        
   </form>  
            

    </div> 
{% endblock %}
{% endblock %}
