{% extends ':Layout:layout2.html.twig' %}

{% block descripcion_y_acciones %}


    {% block descripcion %}

    {% endblock%}
    {% block acciones %}

    {% endblock %}

{% endblock %}
{% block js_extend %}
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/bootstrap.js"></script>
    <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
{% endblock %} 

{% block navegacion_Y_body %}

    {% block navegacion %}
    {% endblock %}
    {% block cuerpo %}
        
        <div class="container" style="padding: 40px 0px; background-color: #f6f6f6;">
		<div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form class="navbar-form" role="search" action="{% if pregunta.estado == 1 %}{{ path('envio_respuesta_panel') }} {% else %}{{ path('pregunta') }} {% endif %}" method="POST">
                            <input name="idpreg" class="hidden" type="text" value="{{pregunta.id}}">                            
                            <div class="panel panel-default">
                                <p class="text-center" style="font-size: 25px;">{{pregunta.pregunta}}</p>
                                {#<hr>#}
                                {#<img class="img-thumbnail" src="http://placehold.it/400x500" style="max-width: 12%; width: 12%; margin-left: 10px; margin-right: 10px;">Juan Perez#}

                                <hr>
                                <img class="img-thumbnail" src="{{ asset(srcfoto)}}" style="max-width: 12%; width: 12%; margin-left: 10px; margin-right: 10px;">{{nombres}} {{apellidos}}
                                <p style="font-size: 20px; margin-left: 5px;">Respuesta:</p>
                                <p style="margin-left:5px;">
                                    {% if pregunta.estado == 1 %}
                                        Aun sin responder, puedes responderlo ahora!!!!!
                                        <div class="form-group" style="margin-left: 10px;">
                                            <textarea id="" name="respuesta" class="form-control textarea" maxlength="140" placeholder="Agregue su respuesta aqui..." style="max-width: 515px; min-width: 515px; width: 515px; max-height: 150px; min-height: 150px; height: 150px;" required></textarea>
                                        </div>
                                    {% else %}
                                        {{pregunta.respuesta}}
                                        <hr>
                                        <p style="margin-left: 5px;">Lamentamos informarte que la pregunta ya fue respondida, pero puedes estar atento a nuevas preguntas</p>
                                    {% endif %}                                                                
                                </p>                                
                                {% if pregunta.estado == 1 %}
                                    <div class="text-center" style="margin-bottom: 15px;"><button type="submit" class="btn btn-primary" style="margin-top: 10px;">Enviar Respuesta</button></div>                        
                                {%else %}
                                    <div class="text-center" style="margin-bottom: 15px;"><button type="submit" class="btn btn-primary" style="margin-top: 10px;">Regresar al Panel</button></div>                        
                                {% endif %}
                                
                            </div>
                        </form>   
                    </div>
                    <div class="col-md-3"></div>
                  
		</div> {#Fin del row#}
	</div>
	<div style="height: 10px;"></div>
	
    {% endblock %}
    
    {% block js_template %}
                        
    {% endblock js_template %}
{% endblock %}