{% extends ':Layout:layout3.html.twig' %}
{% block js_extend %}
    <link href="{{asset('Resources/src/css/style-contenedores.css')}}" rel="stylesheet">
    <!--  Select  2-->
    <link rel="stylesheet" href="{{ asset('Resources/select2/dist/css/select2.min.css') }}">
    <script src="{{ asset('Resources/lobibox-master/dist/js/lobibox.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css') }}">
    <script src="{{ asset('Resources/AdminLTE-2.3.0/dist/js/app.js') }}" type="text/javascript"></script>
{% endblock %} 
{% block cuerpo %}
    {% for datos in abgPersona %}
        <header class="main-header">
        {% embed ':Layout:encabezado.html.twig' %}{% endembed %}
    </header>
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
    {% embed ':Layout:barra_lateral_principal.html.twig' %}{% endembed %}
</aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section >
        <div class="row " style=" margin-left:0px; margin-right:0px; ">
            <section class="col-lg-12 connectedSortable ui-sortable "> 
                <div class="nav-tabs-custom" style="cursor: move;">
                    <ul class="nav nav-tabs  ui-sortable-handle">
                        <li class="active"><a href="#listaPreguntas" data-toggle="tab">Nueva pregunta</a></li>

                        <li class="pull-left header ">
                    </ul>
                    <div class="tab-content" >
                        <div class="chart tab-pane active no-padding" id="listaPreguntas" style="padding:0px;">


                            <div class="form-group table-responsive mailbox-messages" id="contenedor">
                                <form action="{% if pregunta.estado == 1 %}{{ path('envio_respuesta_panel') }} {% else %}{{ path('pregunta') }} {% endif %}" method="POST">
                                    <div class="row" style="margin-left:10px; margin-right: 10px;">

                                        <h3 class="box-title">RESPONDER PREGUNTA</h3>
                                        <br>    
                                        {% if especialidadMatch %}
                                        <input name="idpreg" class="hidden" type="text" value="{{pregunta.id}}">  
                                        {% if pregunta.estado == 0 %}
                                            <div class="alert alert-info alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <strong>Aviso!</strong> Lamentamos informarte que la pregunta ya fue respondida, pero puedes estar atento a nuevas preguntas.
                                            </div>
                                        {% endif %} 
                                        <div class="col-md-12">

                                            <div class="row direct-chat direct-chat-primary  {% if (respuesta | default is not empty)%} item-directorio  {%endif%}  {% if pregunta.estado == 0%} item-directorio {%endif%}" style=" padding: 15px;">
                                                <div class="direct-chat-msg">
                                                    <div class="direct-chat-info clearfix">
                                                        <span class="direct-chat-name pull-left">Anonimo</span>
                                                        <span class="direct-chat-timestamp pull-right">{{tiempo}}</span>
                                                    </div>
                                                    <!-- /.direct-chat-info -->
                                                    <img alt="message user image" src="{{asset('Photos/defecto/defecto.png') }}" class="direct-chat-img"><!-- /.direct-chat-img -->
                                                    <div class="direct-chat-text ">
                                                        {{pregunta.pregunta}}
                                                    <p class="text-justify" style="margin-top:5px;">
                                     {{pregunta.detalle}}</p>
                                                       
                                                    </div>
                                                    <!-- /.direct-chat-text -->
                                                </div>
                                                {% if (respuesta | default is not empty)%}
                                                    <div class="direct-chat-msg right direct-chat-primary"><div class="direct-chat-info clearfix">
                                                            <span class="direct-chat-name pull-right">Tú</span>
                                                            <span class="direct-chat-timestamp pull-left">{{tiempoRes}}</span>
                                                        </div>
                                                        <img class="direct-chat-img " src="{{ asset('')}}{{abgFoto[0].src}}" alt="message user image">
                                                        <div class="direct-chat-text text-justify">
                                                            {{respuesta}}
                                                        </div></div>
                                                    {%endif%}
                                            </div>

                                            {% if (respuesta | default is not empty)%}
                                            {% else %}
                                                <div class="row " >
                                                    {% if pregunta.estado == 1 %}
                                                        <p style="font-size:15px;">Respuesta:</p>
                                                        Aun sin responder, puedes responderlo ahora!
                                                        <textarea id="" name="respuesta" class="form-control textarea" placeholder="Agregue su respuesta aqui..." style="max-width: 100%; min-width: 515px; width:100%; max-height: 150px; min-height: 150px; height: 150px;" required></textarea>
                                                    {% endif %} 
                                                </div>
                                            {% endif %}     
                                            <div class="row " style=" margin-top: 9px;">
                                                {% if pregunta.estado == 1 %}
                                                    <button type="submit" class="btn btn-primary btn-sm btn-flat"  {% if (respuesta | default is not empty)%}style=" display: none;{%endif%}">Enviar Respuesta</button>                     
                                                {% endif %}
                                                <a class="btn btn-default btn-sm btn-flat" href="{{ path('panel_list_pregunta')}}">Centro de preguntas</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        Lo sentimos, usted no puede responder esta pregunta porque su especialidad no coincide con la de la pregunta. 
                                    {% endif %} 

                                </form> 
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2016 <a href="#">Monkey Systems</a>.</strong> Todos los derechos reservados.
</footer>
<aside class="control-sidebar control-sidebar-dark">
    <!-- Ajuste -->
</aside>
<div class="control-sidebar-bg"></div>
{%endfor%}
{% endblock %}  
