<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Directorio de Abogados de El Salvador | Primero y unico directorio de abogados de El Salvador | Abogados.com.sv</title>
        <meta name="robots" content="noindex">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{asset('Resources/src/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/menu_movil.css')}}" rel="stylesheet">
        <link href="{{asset('Resources/src/css/movilcss.css')}}" rel="stylesheet">

        <!-- Favicon (Icono Pequeño) -->
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <link rel="icon" href="favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="{{asset('Resources/AdminLTE-2.3.0/bootstrap/css/bootstrap.min.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <style>
            .autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
            .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
            .autocomplete-no-suggestion { padding: 2px 5px;}
            .autocomplete-selected { background: #F0F0F0; }
            .autocomplete-suggestions strong { font-weight: bold; color: #000; }
            .autocomplete-group { padding: 2px 5px; }
            .autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }
            a{  color:#333;}
            a:hover{  text-decoration: none;}
        </style>
        <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
            .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
            .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style></head>
    <body>
        <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
        
        <!-- Navbar -->
        
        
    <div id="encabezado" class="hidden-md hidden-lg">
        {% embed ':Layout:head.html.twig' %}{% endembed %}
    </div>
    <!-- MOVIL -->
    <div id="page-content" class="hidden-md hidden-lg">

{#            {% embed ':Layout:head.html.twig' %}{% endembed %}#}

            <div style="margin-top:50px; height: 250px;" class="headerperfil">

		<p class="text-center" style="color: #fff; font-size: 1.2m; margin-bottom: 0px; font-family: 'Montserrat', sans-serif; padding-top: 20px;">UNA COMUNIDAD DE</p>
		<p class="text-center" style="color: #fff; font-size: 1.7em; margin-top: -10px; font-family: 'Montserrat', sans-serif; font-weight: 700;">ABOGADOS PARA TI</p>
		<!-- Form de busqueda -->
		<div style="margin: 10px;  border-radius: 1px;">
			<div class="col-sm-12 ">
				<input name="abogados" class="searching sans searchInputMov" id="searchInput" type="text" value="" style="font-family: 'Open Sans', sans-serif !important;border: 1px solid #d2d6de; border-radius:2px; padding: 6px 12px; height: 34px; width: 100%;" placeholder="Solución legal o Nombre de abogado.">
			</div>
			<div class="col-sm-12">
				<input class="ciudadMov" id="ciudad" style="border: 1px solid #d2d6de; border-radius: 2px; padding: 6px 12px; height: 34px; width: 100%; margin-top: 5px;" placeholder="Cuidad, Dept" class="sans">
			</div>
			<div class="col-md-1" style="padding: 5px 15px;">
				<button id="buscarMov" style="border: 1px solid #f42; border-radius: 2px; padding: 6px 12px; height: 34px; width: 100%; background-color: #F42; color: #fff; font-weight: 600;" class="sans text-center" value="Buscar">Buscar </button>
			</div>
		</div>
		<div style="margin-top: 0px;" class="text-center">
			<div class="fb-like" data-href="https://business.facebook.com/Abogadoscomsv-953460784737301/?business_id=925554047540608&amp;ref=bookmarks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>
            </div>
            
            
            <div class="container" style="padding-top: 30px; padding-bottom: 30px;">
		<p class="text-center sans" style="font-weight: 700;">BUSQUEDA POR ESPECIALIDAD LEGAL</p>
		<div class="row">
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho familiar" >
			<div class="col-xs-6" style="margin-top: 10px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/1.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/1-1.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/1.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho familiar</p>
			</div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho penal" >
			<div class="col-xs-6" style="margin-top: 10px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/2.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/2-2.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/2.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho penal</p>
			</div>
			<div class="clearfix"></div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho civil" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/3.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/3-3.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/3.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho civil</p>
			</div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho corporativo" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/4.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/4-4.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/4.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho corporativo</p>
			</div>
			<div class="clearfix"></div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho mercantil" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/5.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/5-5.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/5.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho mercantil</p>
			</div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho laboral" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/6.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/6-6.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/6.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho laboral</p>
			</div>
			<div class="clearfix"></div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho administrativo" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/7.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/7-7.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/7.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho administrativo</p>
			</div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho contencioso administrativo" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/8.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/8-8.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/8.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho contencioso adm.</p>
			</div>
			<div class="clearfix"></div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho migratorio" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/9.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/9-9.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/9.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho migratorio</p>
			</div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho constitucional" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/10.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/10-10.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/10.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho constitucional</p>
			</div>
			<div class="clearfix"></div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho aduanero" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/11.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/11-11.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/11.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho aduanero</p>
			</div>
                    </a>
                    <a href="{{ path('directorio_index') }}?busqueda=Derecho internacional" >
			<div class="col-xs-6" style="margin-top: 20px;">
				<p class="text-center"><img src="{{asset('Resources/src/img/iconos/12.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/12-12.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/12.png')}}'" style="width: 50%; max-width: 100%;"></p>
				<p class="text-center text-capitalize" style="font-family: 'Montserrat', sans-serif; font-size: 12px;">derecho internacional</p>
			</div>
                    </a>
                    
		</div>
            </div>
            
            <div class="container" style="background-color: #f6f6f6; padding-top: 30px; padding-bottom: 30px;">
		<p class="text-center sans" style="font-weight: 700;">ULTIMOS ABOGADOS REGISTRADOS</p>
		<!-- primer abogado -->
                {% for usuario in usuarios %}
                    {% if loop.index <=3 %}
                        <div class="row">
                            <a href="{{path('busquedaPerfil',{url:usuario.url})}}" style="text-decoration: none; color: inherit;">
                                <!-- Foto -->
                                <div class="col-xs-3" style="padding-right: 5px;">
                                        <img src="{{asset('')}}{{usuario.foto}}" style="max-width: 100%; width: 100%; padding: 3px;">
                                </div>
                            </a>
                                <!-- Contacto+Info -->
                                <div class="col-xs-9" style="padding-left: 0px;">
                                        <a class="{{loop.index}}" href="{{path('busquedaPerfil',{url:usuario.url})}}" style="text-decoration: none; color: inherit;">
                                            <p style="margin-top: 5px; font-size: 1em; margin-bottom: 0px; font-size: 12px;" class="sans">
                                                <strong>
                                                    {%if usuario.titulo==1 %} 
                                                        {%if usuario.genero=='M' %} 
                                                            Lic.
                                                        {%else%}
                                                            Licda.
                                                        {% endif %}
                                                    {%else%}
                                                        {%if usuario.titulo==2 %} 
                                                            Máster
                                                        {%else%}
                                                            {%if usuario.genero=='M' %} 
                                                                Dr.
                                                            {%else%}
                                                                Dra.
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                        {{usuario.nombres}} {{usuario.apellido}}
                                                </strong>
                                            </p>
                                        </a>
                                        <p style="color: #777777; margin-top: -3px; margin-bottom: 0px; font-size: 10px;" class="sans">{{usuario.cargo}}</p>
                                        <p class="sans" style="font-size: 11px; margin-bottom: 0px; margin-top: 1px;"><strong>Especialidades:</strong> {{usuario.especialidad}}</p>
                                </div>
                            
                        </div> <!-- end row -->
                    {% endif %}
                {% endfor %}
		
	</div>

</div>

    </div>
    <div class="hidden-xs hidden-sm">
        
	<!-- Imagen + buscador -->
	<div class="container-fluid heroindex banner">
		

		<div>

		<!-- Barra de Navegacion -->
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img src="{{asset('Resources/src/img/logowhite.png')}}" style="width: 300px; margin-top: 20px; max-width: 100%;">
				</div> <!-- end md 4 -->
				<div class="col-md-9">
					<ul style="display:inline; list-style: none; color: #fff; font-weight: 700; margin-top: 43px;" class="pull-right text-uppercase">
						<a href="{{ path('directorio_index') }}" class="nodeco"><li style="display: inline; padding: 15px 15px;" class="sans">DIRECTORIO</li></a>
						<button id="botonDrp" {#onclick="myFunction()"#} class="dropbtn text-uppercase sans">Especialidades <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
					  <div id="myDropdown" class="dropdown-content">
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho familiar" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho familiar</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho civil" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho civil</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho corporativo" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho corporativo</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho mercantil" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho mercantil</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho laboral" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho laboral</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho administrativo" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho administrativo</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho contencioso administrativo" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho contencioso administrativo</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho migratorio" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho migratorio</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho constitucional" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho constitucional</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho aduanero" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho aduanero</a>
					    <a href="{{ path('directorio_index') }}?busqueda=Derecho internacional" style="line-height: 20px; font-size: 13px;" class="sans text-capitalize">Derecho internacional</a>
					  </div>
						<a href="{{path('pregunta_index')}}" class="nodeco"><li style="display: inline; padding: 15px 15px;" class="sans">PREGUNTAR GRATIS</li></a>
						<a href="{{path('bloglist')}}" class="nodeco"><li style="display: inline; padding: 15px 15px;" class="sans">blog</li></a>
						<a href="{{path('soy_abogado')}}" class="nodeco"><li style="display: inline; padding: 10px 15px; border: 1px solid #f2f2f2;" class="sans">Soy un abogado</li></a>
						<!-- <li style="display: inline; padding: 15px 15px;" class="sans">soy un abogado</li> -->
						<!-- <li style="display: inline; padding: 15px 15px;" class="sans">contacto</li> -->
					</ul>
				</div> <!-- end md 8 -->
			</div> <!-- end row -->
		</div> <!-- End Barra de Navegacion -->

		<div class="clearfix"></div>

		</div>
		
		<!-- Titulos -->
		<p class="text-center" style="color: #fff; font-size: 2em; margin-bottom: 0px; margin-top: 150px; font-family: 'Montserrat', sans-serif;">UNA COMUNIDAD DE</p>
		<p class="text-center" style="color: #fff; font-size: 3em; margin-top: -10px; font-family: 'Montserrat', sans-serif; font-weight: 700;">ABOGADOS PARA TI</p>

		<div class="container">
			<!-- Buscador -->
			<div class="row" style="margin-top: 0px;">
				<div class="col-md-5 col-md-offset-2">
                                    <input name="abogados" class="searching sans searchInput" id="searchInput" type="text" value="" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%;" placeholder="Solución legal o Nombre de abogado.">
				</div>
				<div class="col-md-2">
                                    <input class="ciudad" id="ciudad" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%;" placeholder="Ciudad, Dept">
				</div>
				<div class="col-md-1" style="padding: 0px 5px;">
                                    <button id="buscar" style="border: 1px solid #f42; border-radius: 2px; padding: 6px 12px; height: 34px; width: 100%; background-color: #F42; color: #fff; font-weight: 600;" class="sans text-center" value="Buscar">Buscar </button>
				</div>
			</div>
		</div>
		<!-- <p class="text-center" style="color: #fff; margin-top: 10px; font-size: 20px; margin-top: 20px; font-family: 'Montserrat', sans-serif;">
			Analiza y contrata según </br> experiencias y tus requerimientos
		</p> -->
		<div style="margin-top: 28px;" class="text-center">
			<div class="fb-like" data-href="https://business.facebook.com/Abogadoscomsv-953460784737301/?business_id=925554047540608&amp;ref=bookmarks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>


	</div> <!-- End Imagen + Buscador -->
        

                    
             <!-- Ultimos Abogados -->
	<div class="container-fluid" style="height: 100px; background-color: #efefef;">
		
	</div>
        <div class="container" style="padding-bottom: 50px;">
            <div class="row"><p class="sans text-uppercase" style="font-family: 'Montserrat', sans-serif; width: 350px; padding: 10px; margin-top: -22px; background-color: #082242; font-size: 15px; margin-bottom: 3px; color: #FFF;">ultimos abogados registrados</p>
            </div>
            <!-- Listado de abogados recientes -->
            <div class="row" style="margin-top: 20px;">
                {% for usuario in usuarios %}
                    <a class="{{loop.index}}" href="{{path('busquedaPerfil',{url:usuario.url})}}" style="text-decoration: none; color: inherit;">
                        <div class="col-md-1" style="padding: 5px; margin-top: 20px;">
                                <img src="{{asset('')}}{{usuario.foto}}" style="width: 100%;">
                        </div>
                        <div class="col-md-3" style="margin-top: 20px;">
                                <p class="text-left" style="font-size: 15px; margin-bottom: 0px; font-family: 'Montserrat', sans-serif; padding-top: 5px;">
                                    {{usuario.nombres}} {{usuario.apellido}}
                                </p>
                                <p class="sans" style="font-size: 12px;">Especialidades: {{usuario.especialidad}}</p>
                        </div>
                    </a>
                    {% if (loop.index) is divisible by(3) %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
	</div>

	<!-- CTA DE ABOGADOS + HERO -->
	<div class="container-fluid herocta">
		
	</div>       
                    
        <!-- ESPECIALIDADES LEGALES -->
	<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho familiar" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/1.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/1-1.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/1.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho familiar</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho penal" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/2.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/2-2.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/2.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho penal</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho civil" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/3.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/3-3.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/3.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho civil</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho corporativo" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/4.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/4-4.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/4.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho corporativo</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho mercantil" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/5.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/5-5.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/5.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho mercantil</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho laboral" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/6.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/6-6.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/6.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho laboral</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho administrativo" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/7.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/7-7.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/7.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho administrativo</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho contencioso administrativo" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/8.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/8-8.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/8.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho contencioso adm.</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho migratorio" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/9.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/9-9.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/9.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho migratorio</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho constitucional" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/10.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/10-10.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/10.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho constitucional</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho aduanero" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/11.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/11-11.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/11.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho aduanero</p>
					</div>
                                    </a>
                                    <a href="{{ path('directorio_index') }}?busqueda=Derecho internacional" >
					<div class="col-md-3" style="margin-top: 20px;">
						<p class="text-center"><img src="{{asset('Resources/src/img/iconos/12.png')}}" onmouseover="this.src='{{asset('Resources/src/img/iconos/12-12.png')}}'" onmouseout="this.src='{{asset('Resources/src/img/iconos/12.png')}}'" style="width: 50%; max-width: 100%;"></p>
						<p class="text-center {#text-capitalize#}" style="font-family: 'Montserrat', sans-serif; font-size: 16px;">Derecho internacional</p>
					</div>
                                    </a>
                                    
				</div>
			</div>
			<div class="col-md-4">
				<p class="text-center" style="font-family: 'Montserrat', sans-serif; margin-bottom: 0px; font-size: 1.8em; margin-top: 120px;">
					Encuentra a tu
				</p>
				<p class="text-center" style="font-family: 'Montserrat', sans-serif; margin-top: -10px; font-size: 2.5em; font-weight: 700;">
					abogado indicado
				</p>
				<p class="text-center sans" style="font-family: 'Montserrat', sans-serif;">Haz click en la especialidad legal en la cual necesites un abogado para cargar una lista amplia 
				de profesionales del derecho.</p>
			</div>
		</div>
	</div>
                    
                    
                    
          
            
            
            
            
            <!-- centro de preguntas -->
	<div class="container-fluid" style="padding-top: 70px; padding-bottom: 70px; background-color: #bfdbef;">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<p class="text-text sans text-uppercase" style="font-size: 20px; font-weight: 700; font-family: 'Montserrat', sans-serif;">
						gratis, respuestas personalizadas de nuestra red de abogados expertos.
					</p>
					<p class="sans" style="font-family: 'Montserrat', sans-serif;">Los Abogados de nuestra red estan listos para responder tus preguntas casi instantaneamente.</p>
					<p class="sans" style="font-size: 12px;">Aviso: Estas respuestas son solamente de referencia a su caso, debe de realizar una contratacion para poder obtener ayuda legal de un profesional.</p>
				</div>
				<div class="col-md-7">
					<form action="{{ path('preg_deta') }}" method="POST">
                                            <textarea id="txtpregunta" name="txtpregunta" class="sans" maxlength="150" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; width: 100%;" rows="3" placeholder="Escriba su pregunta aqui..." required></textarea>
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <p class="sans" style="margin-top: 10px;" id="contador">0 out of 150 characters</p>
                                                </div>
                                                <div class="col-xs-7">
                                                    <p class="pull-right" style="margin-top: 10px;">
                                                        <button type="submit"  style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%; background-color: #F42; color: #fff; font-weight: 600;" class="sans text-center" value="Buscar">Preguntarle a un abogado</button>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-"></div>
			</div> <!-- end row -->
		</div>
	</div>
            
            
            
            
            <!-- centro de preguntas -->
            {#<div class="container-fluid" style="padding-top: 70px; padding-bottom: 70px; background-color: #f6f6f6;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="text-left sans text-uppercase" style="font-size: 20px; font-weight: 600;">
                                gratis, respuestas personalizadas de nuestra red de abogados expertos.
                            </p>
                            <p class="sans">Los Abogados de nuestra red estan listos para responder tus preguntas casi instantaneamente.</p>
                        </div>
                        <div class="col-md-7">
                            <form action="{{ path('preg_deta') }}" method="POST">
                                <textarea id="txtpregunta" name="txtpregunta" class="sans" maxlength="150" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; width: 100%;" rows="3" placeholder="Escriba su pregunta aqui..." required></textarea>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <p class="sans" style="margin-top: 10px;" id="contador">0 out of 150 characters</p>
                                    </div>
                                    <div class="col-xs-7">
                                        <p class="pull-right" style="margin-top: 10px;">
                                            <button type="submit"  style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 12px; height: 34px; width: 100%; background-color: #F42; color: #fff; font-weight: 600;" class="sans text-center" value="Buscar">Preguntarle a un abogado</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-"></div>
                    </div> <!-- end row -->#}
            <div class="container" style="padding-bottom: 50px;">
			<!-- Inicio de respuestas recientes -->
			<p class="sans text-uppercase" style="font-family: 'Montserrat', sans-serif; width: 300px; padding: 10px; margin-top: -28px; background-color: #082242; font-size: 15px; margin-bottom: 3px; color: #FFF;">Respuestas recientes</p>
			
			<div class="row" style="margin-top: 20px;">
                            <!-- RESPUESTA 1 -->
                            {%if ultimas_prteguntas|default is not empty %}
                                {% for key, datos in ultimas_prteguntas %}
                                    <div class="col-md-6 col-xs-12" style="margin-top: 20px;">
                                        <div class="col-xs-3 col-md-3">
                                            <img src="{{ asset('') }}{{datos.src}}" style="width: 100%;">
                                        </div>
                                        <div class="col-xs-9 col-md-9">
                                            <p class="sans" style="color: #888888; margin-bottom: 3px;"><a href="{{path('respuestas_pregunta', {id:datos.idPregunta})}}" style="text-decoration: none; color: inherit;">{{datos.pregunta| slice(0,100)~'...'}}</a></p>
                                            <p class="sans" style="font-size: 12px;">Respondida {{tiemposRespuesta[key]}} por {%if(datos.esatdo !=0)%}<a href="{{path('busquedaPerfil', {url:datos.url})}}">{{datos.nombres}}</a>{%else%}{{datos.nombres}}{%endif%}</p>
                                        </div>
                                    </div>
                                    {% if loop.index is divisibleby(2) %}
                                        <div class="clearfix"></div>
                                    {% endif %} 

                                {%endfor%}

                            {%endif%}

			</div>
                        <p class="text-center" style="margin-top: 30px;">
                            <a href="{{ path('respuestas_publicas') }}">
                                <button style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 22px; height: 34px; background-color: transparent; color: #262626; font-weight: 600;" class="sans text-center" value="Buscar">Ver más respuestas</button>
                            </a>
			</p>
                        
			{#<p class="text-center" style="margin-top: 30px;">
                            <a  href="{{ path('respuestas_publicas') }}" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 22px; height: 34px; background-color: transparent; color: #888888; font-weight: 600;" class="sans text-center">Buscar respuestas por solucion legal</a>
                        </p>#}
		</div>
                    {#<!-- Inicio de respuestas recientes -->
                    <p class="sans" style="font-size: 20px; margin-bottom: 5px;">Respuestas recientes</p>
                    <div style="border-top: 3px solid #263345; width: 150px;"></div>
                    <div class="row" style="margin-top: 20px;">
                        {%if ultimas_prteguntas|default is not empty %}
                            {% for key, datos in ultimas_prteguntas %}
                                <div class="col-md-6 col-xs-12" style="margin-top: 20px;">
                                    <div class="col-xs-3 col-md-3">
                                        <img src="{{ asset('') }}{{datos.src}}" style="width: 100%;">
                                    </div>
                                    <div class="col-xs-9 col-md-9">
                                        <p class="sans" style="color: #888888; margin-bottom: 3px;"><a href="{{path('respuestas_pregunta', {id:datos.idPregunta})}}" style="text-decoration: none; color: inherit;">{{datos.pregunta| slice(0,100)~'...'}}</a></p>
                                        <p class="sans" style="font-size: 12px;">Respondida {{tiemposRespuesta[key]}} por {%if(datos.esatdo !=0)%}<a href="{{path('busquedaPerfil', {url:datos.url})}}">{{datos.nombres}}</a>{%else%}{{datos.nombres}}{%endif%}</p>
                                    </div>
                                </div>
                                {% if loop.index is divisibleby(2) %}
                                    <div class="clearfix"></div>
                                {% endif %} 

                            {%endfor%}

                        {%endif%}
                    </div>
                    <p class="text-center" style="margin-top: 30px;">
                        <a  href="{{ path('respuestas_publicas') }}" style="border: 1px solid #d2d6de; border-radius: 0; padding: 6px 22px; height: 34px; background-color: transparent; color: #888888; font-weight: 600;" class="sans text-center">Buscar respuestas por solucion legal</a>
                    </p>#}
                </div>
            </div>
        </div>
    {% embed ':Layout:footer.html.twig' %}{% endembed %}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ asset('Resources/autocomplete/jquery.autocomplete.js')}}"></script>
<script src="{{ asset('Resources/js/busquedaHome.js')}}"></script>
<script src="{{asset('Resources/src/js/bootstrap.js')}}"></script>
<script src="{{asset('Resources/src/js/menu_movil.js')}}"></script>
<script type="text/javascript">
    {#function myFunction() {
        console.log('antes');
        document.getElementById("myDropdown").classList.toggle("show");
        //$('#myDropdown').show();
        console.log('despues');
    }#}
    
    
            $(document).ready(function () {

                var max_chars = 150;
                $('#max').html(max_chars);
                $('#txtpregunta').keyup(function () {
                    var chars = $(this).val().length;
                    var diff = chars;
                    $('#contador').html(diff + " out of 150 characters");
                });

                $(document).on('keyup', '#txtpregunta', function (event) {
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    if (keycode == '13') {
                        var busqueda = $('#txtpregunta').val();
                        window.location = Routing.generate("preg_deta") + "?txtpregunta=" + busqueda;
                    }
                });
                $(document).on('click', '#botonDrp', function (event) {
                    //console.log('click boton');
                    //document.getElementById("myDropdown").classList.toggle("show");
                    //$('#myDropdown').show();
                    $('.dropdown-content').toggle();
                });
                
                // Close the dropdown if the user clicks outside of it
                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {

                        {#var dropdowns = document.getElementsByClassName("dropdown-content");
                        var i;
                        for (i = 0; i < dropdowns.length; i++) {
                            var openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                            if ($('.dropdown-content').is(':visible')) {
                                $('.dropdown-content').toggle();
                            }
                        }#}
                        if ($('.dropdown-content').is(':visible')) {
                            $('.dropdown-content').toggle();
                        }
                        //$('.dropdown-content').toggle();
                    }
                }
            });
</script>
<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>



</body></html>