{% extends ':Layout:layout3.html.twig' %}

{% block descripcion_y_acciones %}


    {% block descripcion %}

    {% endblock%}
    {% block acciones %}

    {% endblock %}

{% endblock %}
{% block js_extend %}
    <link href="{{asset('Resources/src/css/style-contenedores.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('Resources/AdminLTE-2.3.0/dist/css/AdminLTE.min.css') }}">
    
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="src/js/bootstrap.js"></script>
    <script type="text/javascript">
            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
{% endblock %} 

{% block navegacion_Y_body %}

    {% block navegacion %}
    {% endblock %}
    {% block cuerpo %}
        {% embed ':Layout:head.html.twig' %}{% endembed %}
        
    
 

        {#<div class="container" style="padding: 40px 0px; background-color: #f6f6f6;">#}
            <div class="row contenedor-perfil" style=" padding: 10px; background-color:#ecf0f5;">
                    <div style="display: none;">
                        <form class="navbar-form" role="search" action="{{ path('preg_deta') }}" method="POST">
                            <p class="text-center" style="font-size: 25px;">CENTRO DE PREGUNTAS</p>
                            <div class="col-md-2"></div>
                            <div class="col-md-7"><p class="text-center" style="font-size: 15px;">HAGA SU PREGUNTA AL MAS GRANDE GRUPO SELECTO DE ABOGADOS</p></div>
                            <div class="col-md-4"></div>
                            <div class="clearfix"></div>

                            <div class="col-md-2"></div>
                            <div class="col-md-7 text-center">
                                <div class="form-group">
                                    <textarea id="" name="pregunta" class="form-control textarea" maxlength="140" placeholder="Haga su pregunta aqui ..." style="max-width: 400px; min-width: 400px; width: 400px; max-height: 150px; min-height: 150px; height: 150px;" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-3 pull-left"><ul class="pull-left"><li>700 abogados</li><li>Gratis</li></ul> </div>
                            <div class="clearfix"></div>

                            <div class="col-md-2"></div>
                            <div class="col-md-7 text-center"><button type="submit" class="btn btn-default" style="margin-top: 10px;">Enviar Pregunta </button></div>                        
                            <div class="col-md-3"></div>
                            <div class="clearfix"></div>
                            <hr style="border: 1px solid #262626; width: 100%;">                                                
                        </form>
                    </div>   
                        <div class="col-md-9 text-justify"> {#Inicio lista de preguntas#}
                            <div class="box box-widget">
                                <div class="box-body " style=" padding: 5px;"> 
                                    <div class="pos1">
                                        {% if prom1 is null%}
                                            <img src="{{asset('Resources/src/img/banner1.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                                        {% else %}
                                             <img src="{{asset('')}}{{ prom1[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="box box-widget" style="">
                                <div class="box-body">
                                    {#<p class="text-center" style="margin: 10px 25px; font-size: 20px;">LISTA DE PREGUNTAS</p>#}
                                    {#<div class="page-header">
                                        <h3>Centro de preguntas</h3>
                                    </div>#}
                                    <div class="row">
                                        <div class="col-md-12" style="margin-bottom: 10px;">
                                            <a href="{{ path('preg_deta') }}" class="button">
                                                <button class="btn btn-default btn-flat pull-right">Realice su pregunta</button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="nav-tabs-custom" style="cursor: move;">
                                        {# Aquí se colocan los nombres de cada sección (tabs) #}    
                                        <ul class="nav nav-tabs  ui-sortable-handle">
                                            <li class="active"><a data-toggle="tab" href="#listado-preguntas">Centro de preguntas</a></li>
                                            <li style="display: none;"><a data-toggle="tab" href="#tabsolventadas">Preguntas solventadas</a></li>
                                            <li style="display: none;"><a data-toggle="tab" href="#tabsin-responder">Preguntas sin responder</a></li>
                                        </ul>
                                        {# Aquí se encuentran las secciones de las tabs #}    
                                        <div class="tab-content no-padding">
                                            {# Sección en donde se muestran todos los anuncios que se le han vendido #}
                                            <div class="chart tab-pane active" id="listado-preguntas" >
                                                <div class="item-directorio" style="margin-top: 5px !important; padding: 10px;">
                                                    <form class="form-inline">
                                                        <input id="searchBox" maxlength="140" class="searchbox" style="width: 90%;" placeholder="Buscar..." oninvalid="this.setCustomValidity('Porfavor ingrese el nombre de un Abogado, Bufete, Firma o Problema Legal')" required> </input>
                                                        <button id="searchButton" type="submit" class="searchbotondir btn btn-flat">Buscar</button>
                                                        <input type="hidden" value="0" id="inicioInput">
                                                    </form>
                                                </div>
                                                <div class="item-directorio-nexo" style="height: 40px;">
                                                    <p id="mostrando" class="pull-left" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                        Mostrando los resultado para '<label id="filtro"><strong>Familiar</strong></label>'.
                                                    </p>
                                                    <p class="pull-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                        Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                                    </p>
                                                </div>
                                                <div id="registros"></div>

                                                <div id="busquedaVacia" style="display:none;border-bottom-color: #000">
                                                    No se encontraron registros...
                                                </div>
                                                <!-- Fin de Items -->
                                                <!-- PAGINACION -->
                                                <div class="item-directorio-nexo">
                                                    <div class="row">
                                                        <div class="col-md-7" style="padding-top: 9px;">
                                                            <ul class="numeroPaginas" style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">

                                                            </ul>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p class="text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                                Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                                            </p>
                                                        </div>	
                                                    </div>
                                                </div>

                                                <div style="height: 20px;"></div>
                                            </div>
                                            {# Sección en donde se muestran las preguntas que han tenido respuesta #}
                                            <div class="chart tab-pane" id="tabsolventadas" style=" padding: 15px;" >
                                                <div class="item-directorio-2" style="margin-top: 5px !important; padding: 10px;">
                                                    <form class="form-inline-2">
                                                        <input id="searchBox-2" maxlength="140" class="searchbox" style="width: 90%;" placeholder="Buscar..." oninvalid="this.setCustomValidity('Porfavor ingrese el nombre de un Abogado, Bufete, Firma o Problema Legal')" required> </input>
                                                        <button id="searchButton-2" type="submit" class="searchbotondir btn btn-flat">Buscar</button>
                                                        <input type="hidden" value="0" id="inicioInput">
                                                    </form>
                                                </div>
                                                <div class="item-directorio-nexo" style="height: 40px;">
                                                    <p id="mostrando" class="pull-left" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                        Mostrando los resultado para '<label id="filtro"><strong>Familiar</strong></label>'.
                                                    </p>
                                                    <p class="pull-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                        Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                                    </p>
                                                </div>
                                                <div id="registros"></div>

                                                <div id="busquedaVacia" style="display:none;border-bottom-color: #000">
                                                    No se encontraron preguntas solventadas...
                                                </div>
                                                <!-- Fin de Items -->
                                                <!-- PAGINACION -->
                                                <div class="item-directorio-nexo">
                                                    <div class="row">
                                                        <div class="col-md-7" style="padding-top: 9px;">
                                                            <ul class="numeroPaginas" style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">

                                                            </ul>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p class="text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                                Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                                            </p>
                                                        </div>	
                                                    </div>
                                                </div>

                                                <div style="height: 20px;"></div>
                                            </div>
                                            {# Sección en donde se muestra las preguntas sin responder #}
                                            <div class="chart tab-pane" id="tabsin-responder" style=" padding: 15px;" >
                                                <div class="item-directorio-3" style="margin-top: 5px !important; padding: 10px;">
                                                    <form class="form-inline-3">
                                                        <input id="searchBox-3" maxlength="140" class="searchbox" style="width: 90%;" placeholder="Buscar..." oninvalid="this.setCustomValidity('Porfavor ingrese el nombre de un Abogado, Bufete, Firma o Problema Legal')" required> </input>
                                                        <button id="searchButton-3" type="submit" class="searchbotondir btn btn-flat">Buscar</button>
                                                        <input type="hidden" value="0" id="inicioInput">
                                                    </form>
                                                </div>
                                                <div class="item-directorio-nexo" style="height: 40px;">
                                                    <p id="mostrando" class="pull-left" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                        Mostrando los resultado para '<label id="filtro"><strong>Familiar</strong></label>'.
                                                    </p>
                                                    <p class="pull-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                        Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                                    </p>
                                                </div>
                                                <div id="registros"></div>

                                                <div id="busquedaVacia" style="display:none;border-bottom-color: #000">
                                                    No se encontraron preguntas sin responder ...
                                                </div>
                                                <!-- Fin de Items -->
                                                <!-- PAGINACION -->
                                                <div class="item-directorio-nexo">
                                                    <div class="row">
                                                        <div class="col-md-7" style="padding-top: 9px;">
                                                            <ul class="numeroPaginas" style="list-style: none; display: inline; padding-left: 10px !important; color: #777777;">

                                                            </ul>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <p class="text-right" style="font-size: 12px; margin-bottom: 0px; padding: 10px;">
                                                                Mostrando <label class="filtroRegistros"></label> resultados de <label class="totalRegistros"></label>
                                                            </p>
                                                        </div>	
                                                    </div>
                                                </div>

                                                <div style="height: 20px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>     
                            </div>                                                                           
                        </div>  {#Fin lista de preguntas#}
                        <div class="col-md-3">
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">TOP 10 USUARIOS ACTIVOS</h3>
                                </div>
                                <div class="box-body">                                    
                                    <div class="list-group">
                                        {% for key, row in top %}
                                            {% set nombres = row.nombres|split(' ') %}
                                            {% set apellidos = row.apellidos|split(' ') %}
                                            <p>
                                                <div class="row">
                                                    <div class="col-xs-2 text-center" style="border-right: 2px solid #f0f0f5; font-size: 27px;">
                                                        <div id="sparkline-1">{{ key + 1 }}</div>
                                                    </div>
                                                    {#<a href="{{ path('busquedaPerfil', {url: row.url}) }}">  #}
                                                    <div class="col-xs-10" style="border-right: 1px solid #f4f4f4">
                                                        <div id="sparkline-2">
                                                            {#<img src="{{asset('') }}{{ row.src}}" style="width: 40px; height: 40px; margin-bottom: 0px;" class="img-circle" alt="User Image" />#}
                                                            <div>{{ nombres[0] }} {{ apellidos[0] }}</div>
                                                            <a href="{{ path('busquedaPerfil', {url: row.url}) }}">Ver perfil</a> | <a href="{{ path('busquedaPerfil', {url: row.url}) }}">{{ row.totalrespuestas }} {% if row.totalrespuestas > 1 %}respuestas{% else %}respuesta{% endif %}</a>
                                                        </div>
                                                    </div> 
                                                </div>
                                            </p>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div id="sparkline-2">
                                                        <span>Ningún usuario ha respondido</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}                                    
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                </div> {#Inicio de top abogados activos#}
                            </div>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-md-12">
                                    <div class="box box-widget">
                                    <div class="box-body">
                                        {#{% if prom1 is null%}
                                            <img src="{{asset('Resources/src/img/banner1.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                                        {% else %}
                                             <img src="{{asset('')}}{{ prom1[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia">
                                        {% endif %}#}

                                        {% if prom2 is null%}
                                            <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
                                        {% else %}
                                             <img src="{{asset('')}}{{ prom2[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia2">
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-widget">
                                    <div class="box-body">
                                        {% if prom3 is null%}
                                            <img src="{{asset('Resources/src/img/banner.png')}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
                                        {% else %}
                                             <img src="{{asset('')}}{{ prom3[0].src}}" style="width: 100%; max-width: 100%;" id="fotocambia3">
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
		</div> {#Fin del row#}
                
	{#</div>#}
	<div style="height: 10px;"></div>
	
    {% endblock %}
    
    {% block js_template %}
        <script>
            var imagenes = new Array();
            var imagenes2 = new Array();
            var imagenes3 = new Array();
            var imagenes4 = new Array();

            var contador = 1;
            var contador2 = 1;
            var contador3 = 1;
            var contador4 = 1;

            var lon = 0;
            var lon2 = 0;
            var lon3 = 0;
            var lon4 = 0;

            {% for pro in prom1 %}
                imagenes.push("{{ pro.src }}");
            {% endfor %}

            lon = imagenes.length;

            {% for pro in prom2 %}
                imagenes2.push("{{ pro.src }}");
            {% endfor %}

            lon2 = imagenes2.length;

            {% for pro in prom3 %}
                imagenes3.push("{{ pro.src }}");
            {% endfor %}

            lon3 = imagenes3.length;

            {% for pro in prom4 %}
                imagenes4.push("{{ pro.src }}");
            {% endfor %}

            lon4 = imagenes4.length;
            
            $(document).ready(function(){
                var inicio = $('#inicioInput').val(); //numero de registros que se van a mostrar
                var busqueda=$('#searchBox').val();
                var longitud = 10; //numero de registros que se van a mostrar
                var paginaActual = 1; //primer registro a mostrar
                var numPages = 0;
                
                setInterval(cambia, 4000);
                //var contenidoOriginal = $('#registros').html();
                buscar(busqueda,inicio,longitud,paginaActual);
                $(document).on('click','#searchButton', function(){
                    inicio   = $('#inicioInput').val(); //numero de registros que se van a mostrar
                    busqueda =$('#searchBox').val();
                    longitud = 10; //numero de registros que se van a mostrar
                    paginaActual = 1; //numero de registros que se van a mostrar
                    //contenidoOriginal = $('#registros').html();
                    buscar(busqueda,inicio,longitud,paginaActual);
                    //$('#registros').html('');
                    //var url = Routing.generate('busqueda_data');
                    return false;
                });        
        
                {#        $('#datatables1').DataTable({ 
                                {#searching:true,
                                order:[[1,"asc"]],
                                "processing": true,
                                "pageLength": 10,
                                "serverSide": true,
                                "dom":'tip',
                                "ajax": {
                                    "url": '{{path('busqueda_data')}}',
                                    "type": 'GET'
                                },
                                "columns": [
                                    { "data": "datos" }
                                ],
                                "columnDefs": [
                                       { "orderable": false, "targets": 0 }

                                       { "orderable": false, "targets": 5 },
                                       { "orderable": false, "targets": 6 }
                           
                           
                           
                                ],
                                "language": {
                                "info": "Mostrando página _PAGE_ de _PAGES_",
                                "infoEmpty": "",
                                "emptyTable": "No se encontraron registros",
                                "paginate": { 
                                    "next": ">",
                                    "previous": "<"
                                },
                                "processing": "Procesando petición...",
                                "search": "Buscar registros:",
                                "lengthMenu": "Mostrar _MENU_ registros"
                            }, 
                    
                    });#}
                
            $(document).on('click','.paginas', function(){
                paginaActual = $(this).attr('id');
                console.log("Página actual enviada: "+paginaActual);
                buscar(busqueda,inicio,longitud,paginaActual);
            });
            
            $(document).on('click','.siguiente', function(){
                if(paginaActual!=numPages){
                    paginaActual++;
                    console.log("Página actual enviada: "+paginaActual);
                    buscar(busqueda,inicio,longitud,paginaActual);
                }
            });
            
            $(document).on('click','.anterior', function(){
                //console.log(paginaActual);
                if(paginaActual!=1){
                    paginaActual--;
                    console.log("Página actual enviada: "+paginaActual);
                    buscar(busqueda,inicio,longitud,paginaActual);
                }
            });
                
        });
        
        function cambia() {            
            if(contador >= lon){
                contador = 0;
            }

            if(lon > 0){
                document.getElementById("fotocambia").src = '../../' + imagenes[contador];
                contador++;                
            } else {
                document.getElementById("fotocambia").src = '{{asset('Resources/src/img/banner1.png')}}';
            }


            if(contador2 >= lon2){
                contador2 = 0;
            }

            if(lon2 > 0){
                document.getElementById("fotocambia2").src = '../../' + imagenes2[contador2];
                contador2++;
             } else {
                document.getElementById("fotocambia2").src = '{{asset('Resources/src/img/banner.png')}}';
            }

            if(contador3 >= lon3){
                contador3 = 0;
            }

            if(lon3 > 0){
                document.getElementById("fotocambia3").src = '../../' + imagenes3[contador3];
                contador3++;
            } else {
                document.getElementById("fotocambia3").src = '{{asset('Resources/src/img/banner.png')}}';
            }

            if(contador4 >= lon4){
                contador4 = 0;
            }

            if(lon4 > 0){
                document.getElementById("fotocambia4").src = '../../' + imagenes4[contador4];
                contador4++;
            } else {
                document.getElementById("fotocambia4").src = '{{asset('Resources/src/img/banner1.png')}}';
            }
        }
        
        function buscar(busqueda,inicio,longitud,paginaActual){
            //console.log(llamada);
                        
            if(busqueda){
                $('#mostrando').show();
                $('#filtro').children().html(busqueda);                
            }else{                                
                $('#mostrando').hide();                
            }
            
            if(busqueda!=""){
                    
                    $.ajax({
                        data:{inicio:inicio,longitud: longitud, paginaActual:paginaActual,busqueda:busqueda},
                        url:"{{path('busqueda_pregunta')}}",
                        type: "post",
                        success: function (data) {
                                //inicio = data.inicio++;
            {#                                console.log(data.data.length);#}
                                $('#registros').html('');
                                $('#filtro').children().html();
                                
                                
                                //console.log(data);
                                console.log("num registros: "+data.numRegistros);
                                console.log("filtro registros: "+data.filtroRegistros);
                                $('.totalRegistros').html(data.numRegistros);
                                $('.filtroRegistros').html(data.filtroRegistros);
                                
                                if(data.data.length>0){
                                    $('#inicioInput').val((parseInt($('#inicioInput').val())+1));
                                    //console.log(data.inicio);
                                    //console.log(data.data.length);
                                    var cadena = "";
                                    for(i=0;i<data.data.length;i++){
                                                                                                                                                                            
                                        //var busquedaNombre = data.data[i].nombres +' ' + data.data[i].apellido;
                                        var busquedaCargo = "";
                                        
                                        var telefonos = "";
                                        var busquedaPregunta = data.data[i].pregunta;
                                        var busquedaRespuesta = data.data[i].respuesta;
                                        //var sitioWeb = data.data[i].sitioWeb;
                                        //var busquedaSitioWeb = "#busquedaSitioWeb"+(i+1);
                                        var busquedaDetalle = data.data[i].detalle;
                                        var busquedaFechapregunta = data.data[i].fechapregunta;
                                        
                                        console.log(data.data[i].id);
                                        
                                        if(busquedaPregunta==null){
                                            busquedaPregunta="";
                                        }
                                        
                                        if(busquedaRespuesta==null){
                                            busquedaRespuesta="";
                                        }
                                        
                                        if(busquedaDetalle==null){
                                            busquedaDetalle="-";
                                        }
                                        
                                        if(busquedaFechapregunta==null){
                                            busquedaFechapregunta="-";
                                        }
                                                                
                                        {#var especialidades = "";
                                        if(data.data[i].especialidades!=='undefined'){
                                                                        for (j = 0; j < data.data[i].especialidades.length; j++) {
                                                                            if (j == 0) {
                                                                                especialidades += data.data[i].especialidades[j].nombreEspecialidad;
                                                                            }
                                                                            else {
                                                                                especialidades += ", " + data.data[i].especialidades[j].nombreEspecialidad;
                                                                            }
                                                                        }
                                                                    }
                                                                    else {
                                                                        especialidades = "N/A";
                                                                    }
                                                                    //console.log(data.data[i].especialidades);
                                                                    //console.log(especialidades);

                                                                    console.log(data.data[i].foto);#}
                                                                   cadena = '<div class="bloque-main">';
                                                                   cadena += '<div class="row">';                             
                                                                   cadena += '<li><a href="{{path('respuesta_centro')}}?id='+data.data[i].id+'" style="text-decoration:none;">'+busquedaPregunta+'</a></br>';
                                                                   cadena += '<div style="margin-left: 15px; font-size: 12px; font-weight: bold;">Fecha de la pregunta: '+busquedaFechapregunta+'</div>';
                                                                   cadena += '</li>';
                                                                   cadena += '</div>';
                                                                   cadena += '</div>';
                                                                               
                                                                    $('#registros').show();
                                                                    $('#registros').append(cadena);

                                                                    $('#busquedaVacia').hide();

                                                                    //console.log(data.pages);
                                                                    numPages = data.pages;
                                                                    var cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                                                                    for (k = 1; k <= data.pages; k++) {
                                                                        if (k == paginaActual) {
                                                                            cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                                                        }
                                                                        else {
                                                                            cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                                                        }

                                                                    }

                                                                    cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                                                                    $('.numeroPaginas').html(cadenaPaginas);
                                                                    //$('#registros').html('prueba');
                                                                }//fin for
                                                            }//fin if
                                                            else {
                                                                console.log('datosvacios');
                                                                $('#paginas').html(cadenaPaginas);
                                                                console.log(data.numRegistros);
                                                                console.log(data.filtroRegistros);
                                                                $('.totalRegistros').html(data.numRegistros);
                                                                $('.filtroRegistros').html(data.filtroRegistros);
                                                                $('#registros').hide();
                                                                $('#busquedaVacia').show();

                                                            }
                                                            console.log("pagina actual: " + data.paginaActual);
                                                            console.log("Inicio de registro: " + data.inicioRegistro);
                                                        },
                                                        error: function (data) {
                                                            //Lobibox.notify("error", {
                                                            //    size: 'mini',
                                                            //    msg: 'Los datos no fueron ingresados, intente más tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                                                            //});
                                                            //$('#registros').append(contenidoOriginal);
                                                        }
                                                    });
                                                }//FIN IF VACIOOOOOOOOOOO
                                                else{//CUANDO NO ESTA VACIO
                                                    
                    
                                                $.ajax({
                                                    data:{inicio:inicio,longitud: longitud, paginaActual:paginaActual,busqueda:busqueda},
                                                    url:"{{path('busquedavacia_pregunta')}}",
                                                    type: "post",
                                                    success: function (data) {
                                                            //inicio = data.inicio++;
                                                                    {#                                console.log(data.data.length);#}
                                                            $('#registros').html('');
                                                            $('#filtro').children().html();


                                                            //console.log(data);
                                                            console.log("num registros: "+data.numRegistros);
                                                            console.log("filtro registros: "+data.filtroRegistros);
                                                            $('.totalRegistros').html(data.numRegistros);
                                                            $('.filtroRegistros').html(data.filtroRegistros);

                                                            if(data.data.length>0){
                                                                $('#inicioInput').val((parseInt($('#inicioInput').val())+1));
                                                                //console.log(data.inicio);
                                                                //console.log(data.data.length);
                                                                var cadena = "";
                                                                for(i=0;i<data.data.length;i++){

                                                                    //var busquedaNombre = data.data[i].nombres +' ' + data.data[i].apellido;
                                                                    var busquedaCargo = "";

                                                                    var telefonos = "";
                                                                    var busquedaPregunta = data.data[i].pregunta;
                                                                    var busquedaRespuesta = data.data[i].respuesta;
                                                                    //var sitioWeb = data.data[i].sitioWeb;
                                                                    //var busquedaSitioWeb = "#busquedaSitioWeb"+(i+1);
                                                                    var busquedaDetalle = data.data[i].detalle;
                                                                    var busquedaFechapregunta = data.data[i].fechapregunta;

                                                                    //console.log(data.data[i].id);
                                                                    if(busquedaPregunta==null){
                                                                        busquedaPregunta="";
                                                                    }

                                                                    if(busquedaRespuesta==null){
                                                                        busquedaRespuesta="";
                                                                    }

                                                                    if(busquedaDetalle==null){
                                                                        busquedaDetalle="-";
                                                                    }

                                                                    if(busquedaFechapregunta==null){
                                                                        busquedaFechapregunta="-";
                                                                    }

                                                                    {#var especialidades = "";
                                                                    if(data.data[i].especialidades!=='undefined'){
                                                                                                    for (j = 0; j < data.data[i].especialidades.length; j++) {
                                                                                                        if (j == 0) {
                                                                                                            especialidades += data.data[i].especialidades[j].nombreEspecialidad;
                                                                                                        }
                                                                                                        else {
                                                                                                            especialidades += ", " + data.data[i].especialidades[j].nombreEspecialidad;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                                else {
                                                                                                    especialidades = "N/A";
                                                                                                }
                                                                                                //console.log(data.data[i].especialidades);
                                                                                                //console.log(especialidades);

                                                                                                console.log(data.data[i].foto);#}
                                                                                               cadena = '<div class="bloque-main">';
                                                                                               cadena += '<div class="row">';                             
                                                                                               cadena += '<li><a href="{{path('respuesta_centro')}}?id='+data.data[i].id+'" style="text-decoration:none;">'+busquedaPregunta+'</a></br>';
                                                                                               cadena += '<div style="margin-left: 15px; font-size: 12px; font-weight: bold;">Fecha de la pregunta: '+busquedaFechapregunta+'</div>';
                                                                                               cadena += '</li>';
                                                                                               cadena += '</div>';
                                                                                               cadena += '</div>';

                                                                                                $('#registros').show();
                                                                                                $('#registros').append(cadena);

                                                                                                $('#busquedaVacia').hide();

                                                                                                //console.log(data.pages);
                                                                                                numPages = data.pages;
                                                                                                var cadenaPaginas = '<li class="anterior" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-left\"></i></li>';
                                                                                                for (k = 1; k <= data.pages; k++) {
                                                                                                    if (k == paginaActual) {
                                                                                                        cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\"><strong>' + k + '</strong></li>';
                                                                                                    }
                                                                                                    else {
                                                                                                        cadenaPaginas += '<li class="paginas" id="' + k + '" style=\"display: inline; padding: 7px;\">' + k + '</li>';
                                                                                                    }

                                                                                                }

                                                                                                cadenaPaginas += '<li class="siguiente" style=\"display: inline; padding: 7px;\"><i class=\"fa fa-chevron-right\"></i></li>';
                                                                                                $('.numeroPaginas').html(cadenaPaginas);
                                                                                                //$('#registros').html('prueba');
                                                                                            }//fin for
                                                                                        }//fin if
                                                                                        else {
                                                                                            console.log('datosvacios');
                                                                                            $('#paginas').html(cadenaPaginas);
                                                                                            console.log(data.numRegistros);
                                                                                            console.log(data.filtroRegistros);
                                                                                            $('.totalRegistros').html(data.numRegistros);
                                                                                            $('.filtroRegistros').html(data.filtroRegistros);
                                                                                            $('#registros').hide();
                                                                                            $('#busquedaVacia').show();

                                                                                        }
                                                                                        console.log("pagina actual: " + data.paginaActual);
                                                                                        console.log("Inicio de registro: " + data.inicioRegistro);
                                                                                    },
                                                                                    error: function (data) {
                                                                                        //Lobibox.notify("error", {
                                                                                        //    size: 'mini',
                                                                                        //    msg: 'Los datos no fueron ingresados, intente más tarde. Si el error persiste pongase en contacto con el administrador del sistema.'
                                                                                        //});
                                                                                        //$('#registros').append(contenidoOriginal);
                                                                                    }
                                                                                });
                                                    
                                                    
                                                }//FIN DEL ELSE
                                            }
                                                {#else {
                                                    $('#registros').hide();
                                                    $('#busquedaVacia').show();
                                                }#}                                                                                                                         
        </script>
        
        
    {% endblock js_template %}
{% endblock %}